.c-cuadrado-centrado {
  width: 200px;
  height: 200px;
  background-color: blue;
  border: red 1px solid; }

.c-cuadrado-centrado:hover {
  cursor: pointer;
  width: 125px; }

.c-cuadrado-centrado--grande {
  width: 400px;
  height: 400px; }
