/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.c-cuadrado-centrado {
  width: 200px;
  height: 200px;
  background-color: blue;
  border: red 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 100px); }
  .c-cuadrado-centrado-grande {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 200px); }

.c-cuadrado-centrado:hover {
  cursor: pointer;
  transform: scale(1.25, 1.25); }

.c-texto {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .c-texto-a {
    color: #FFD700; }
  .c-texto-m {
    color: #E035E0; }
  .c-texto-v {
    color: #455629; }

.g--border-width-1 {
  border-width: 1px; }

.g--border-width-2 {
  border-width: 4px; }

.g--border-width-3 {
  border-width: 8px; }

.g--border-width-4 {
  border-width: 16px; }

.g--border-width-5 {
  border-width: 32px; }

@media (min-width: 640px) {
  .g--border-width-1\@sm {
    border-width: 1px; }
  .g--border-width-2\@sm {
    border-width: 4px; }
  .g--border-width-3\@sm {
    border-width: 8px; }
  .g--border-width-4\@sm {
    border-width: 16px; }
  .g--border-width-5\@sm {
    border-width: 32px; } }

@media (min-width: 768px) {
  .g--border-width-1\@md {
    border-width: 1px; }
  .g--border-width-2\@md {
    border-width: 4px; }
  .g--border-width-3\@md {
    border-width: 8px; }
  .g--border-width-4\@md {
    border-width: 16px; }
  .g--border-width-5\@md {
    border-width: 32px; } }

@media (min-width: 1024px) {
  .g--border-width-1\@lg {
    border-width: 1px; }
  .g--border-width-2\@lg {
    border-width: 4px; }
  .g--border-width-3\@lg {
    border-width: 8px; }
  .g--border-width-4\@lg {
    border-width: 16px; }
  .g--border-width-5\@lg {
    border-width: 32px; } }
