@function getColor($name, $tono){
    @return map-get(map-get($colores, $name), $tono);
}

@function getColorKeys(){
    @return map-keys($colores);
}

@function getBorderWidth($key){
    @return map-get($width, ""+$key);
}

@function getBorderWidthKeys(){
    @return map-keys($width);
}