// MAPAS

$mapa:(
    "abc": enero,
    "def": febrero,
    "ghi": marzo
);

$valor: "ghi";

@function getMapa(){
    @return map-get($mapa, $valor);
}

@function getMapaKeys(){
    @return map-keys($mapa);
}

// ARRAYS

$lista: (10px, 20px, 30px, 40px);

@function terceraPosicion(){
    $valor : nth($lista, 3); // nth empieza por 1
    @return $valor;
}

@function tamanyoArray(){
    $tamanyo: length($lista);
    @return $tamanyo;
}