.l-page {
	display: grid;
	grid-template-areas:
	  "cabecera cabecera cabecera cabecera cabecera"
	  "lateral-izquierdo cuerpo cuerpo cuerpo lateral-derecho"
	  "pie pie pie pie pie";
	gap:10px;
	 
	&__cabecera {
		grid-area: cabecera;
	}

	&__cuerpo {
		grid-area: cuerpo;
	}

	&__lateral-izquierdo {
		grid-area: lateral-izquierdo;
	}

	&__lateral-derecho {
		grid-area: lateral-derecho;
	}

	&__pie {
		grid-area: pie;
	}
	 
} 