.l-zigzag-horizontal{
    display: grid;
    grid-template-areas: "arriba ."
                         ". medio"
                         "abajo .";

    &__arriba{
        grid-area: arriba;
    }

    &__medio{
        grid-area: medio;
    }

    &__abajo{
        grid-area: abajo;
    }


}