.c-button{
    border-radius: 4px;
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;

    &--secundario{
        background-color: $white;
        color: $blue;
    }

    &--terciario{
        border: 0px;
        background-color: $white;
        color: $blue;
    }

    &--alternativo{
        border: 1px solid $orange;
        background-color: $orange;
        color: $white;
    }

    &--alternativo#{&}--secundario{
        color: $orange;
        background-color: $white;
    }

    &--alternativo#{&}--terciario{
        border: 0px;
        background-color: $white;
        color: $orange;
    }

    &--peligroso{
        border: 1px solid $red;
        background-color: $red;
        color: $white;
    }

    &--peligroso#{&}--secundario{
        background-color: $white;
        color: $red;
    }

    &--peligroso#{&}--terciario{
        border: 0px;
        background-color: $white;
        color: $red;
    }
}