.l-wrap{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;

    // display: flex;
    // justify-content: center;

    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // height: 300px;
    // border: 1px solid red;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;

    border: 1px solid red;
}