.astronauta {
    height: 250px;
    width: 200px;
}

.mover-astronauta{
    animation-name: mover;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.57,.25,.42,.8);
}

@keyframes mover{
    100%{
        transform :translateX(1000px);
    }
}