@mixin borde($border-color, $key){
    -webkit-border: getBorderWidth($key) solid $border-color;
    -moz-border: getBorderWidth($key) solid $border-color;
    border: getBorderWidth($key) solid $border-color;
}