.c-cuadrado{
    width: getWidth("2xs");
    height: getHeight("2xs");
    transition: width 5s;
    background-color: getColor("verde", 5);
    cursor: pointer;
   

    &--border-width{
        width: getWidth("xs");
        height: getHeight("s");
        background-color: getColor("rojo", 6);
        border: getBorder("m") solid getColor("azul", 6);
    }
    
}

.c-cuadrado:hover{
    width: 25%;
}

