.c-noticia{
        width: getWidth("m");
        height: getHeight("s");
        background-color: getColor("blanco", 6);

        &--exito{
            border-left: getBorder("3xl") solid getColor("verde", 4);
        }

        &--peligro{
            border-left: getBorder("3xl") solid getColor("rojo", 4);
        }

        &--informacion{
            border-left: getBorder("3xl") solid getColor("azul", 4);
        }

        &--aviso{
            border-left: getBorder("3xl") solid getColor("naranja", 4);
        }

        &--lg{
            border-left: getBorder("3xl") solid getColor("gris", 3);
            width: getWidth("l");
            height: getHeight("l");
        }

        &--sm{
            border-left: 16px solid getColor("gris", 3);
            width: getWidth("2xs");
            height: getHeight("3xs");
        }

        &__texto{
            font-size: getFontSize("2xs");
        }

        &--desaparecer{
            animation-name: desaparecer;
            animation-duration: 8s;
            animation-timing-function: ease-in-out;
        }
    }

@keyframes desaparecer{
    0%{
        opacity: 1.0;
        transform: translateX(0px);
    }

    100%{
        transform: translateX(1500px);
        opacity: 0;
    }
}