$colors: (
   "1": #FF0000, 
   "2": #FF4040,
   "3": #CC0000,
   "4": #E61919,
   "5": #E62E1B,
   "6": #F80000,
   "7": #F2684A,
   "8": #F26A4E,
   "9": #FD8D75
);
 
@each $name, $color in $colors {
  .g--background-rojo-#{$name} {
    background-color: $color;
  }
} 
   