$widths: (
   "3XS": 10px, 
   "2XS": 15px,
   "XS": 20px,
   "S": 25px,
   "M": 30px,
   "L": 35px,
   "XL": 40px,
   "2XL": 45px,
   "3XL": 50px
);
 
@each $name, $width in $widths {
  .g--width-#{$name} {
    width: $width;
  }
} 