@function getBorderWidth($key){
  @return unquote(map-get($border-width,""+$key));
}

@function getBorderWidthKeys(){
  @return map-keys($border-width);
}

@function getTamanyoPantalla($key){
  @return unquote(map-get($tamanyo-pantalla,""+$key));
}

@function getTamanyoPantallaKeys(){
  @return map-keys($tamanyo-pantalla);
}