$keys: map-keys($font-families);

@each $nombreFuente in $keys{
    $listadoFuentes: map-get($font-families, $nombreFuente);

    $tamanyo: length($listadoFuentes);

    @if($tamanyo == 1){
        .g--font-family-#{$nombreFuente}{
           font-family: nth($listadoFuentes, 1); 
        }
    } @else{
        @for $i from 0 to $tamanyo{
        .g--font-family-#{$nombreFuente}-#{$i+1}{
            font-family: nth($listadoFuentes, $i+1);
        }
    }
    }
    
}