$keys: map-keys($font-size);

@each $nameFont in $keys{
    $listaFonts: map-get($font-size, $nameFont);
    @each $keyFont, $valueFont in $listaFonts{
        // @debug "keyocolorrr: " #{$keyFont};
        // @debug "valuefonttt: " #{$valueFont};
        .g--font-size-#{$nameFont}-#{$keyFont}{
            font-size: $valueFont;
        }
    }
}
    // $modeloFonts: map-get($listaFonts, $nameFont);

    // $tamanyo: length($modeloFonts);

    // @for $i from 0 to $tamanyo{
    //     .g--font-size-#{$nameFont}-#{$i+1}{
    //         font-size : nth($listaFonts, $i+1)
    //     }
        // .g--font-size-#{$nameFont}-#{$i+2}{
        //     font-size : nth($listaFonts, $i+1)
//         // }
//     }
// }