@each $key in getPaddingKeys(){
    .g--padding-#{$key}{
        padding: getPadding($key);
    }
}

// @each $key in getPaddingKeys(){
//     @if($key == "0"){
//         .g--padding{
//             padding: getPadding($key);
//         }
//     } @else{
//     .g--padding-#{$key}{
//         padding: getPadding($key);
//     }
// }
// }