@each $name in getBreakPointKeys(){
    @media(min-width: getBreakPoint($name)){
        @each $key in getFontSizeKeys(){
            .g--font-size-#{$key}\@#{$name}{
                font-size: getFontSize($key);
            }
        }
    }
}