/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  width: 100%; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

p {
  padding-top: 6px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.l-page {
  display: grid;
  grid-template-areas: "l-page__head", "l-page__body", "l-page__footer"; }
  .l-page__head {
    grid-area: "&__head"; }
  .l-page__body {
    grid-area: "&__body"; }
  .l-page__footer {
    grid-area: "&__footer"; }

.l-columns {
  display: grid; }
  .l-columns--2 {
    grid-template-areas: "izquierda derecha"; }
  .l-columns__izquierda {
    grid-area: izquierda; }
  .l-columns__derecha {
    grid-area: derecha; }
  .l-columns--3 {
    grid-template-areas: "izquierda centro derecha"; }
  .l-columns__izquierda {
    grid-area: izquierda; }
  .l-columns__centro {
    grid-area: centro; }
  .l-columns__derecha {
    grid-area: derecha; }

.l-dolmen {
  display: grid; }
  .l-dolmen--tumbado-izquierda {
    grid-template-areas: "cabeza pata_izquierda" "cabeza pata_derecha"; }
  .l-dolmen__cabeza {
    grid-area: cabeza; }
  .l-dolmen__pata_izquierda {
    grid-area: pata_izquierda; }
  .l-dolmen__pata_derecha {
    grid-area: pata_derecha; }

.l-extremos {
  display: grid;
  grid-template-areas: "l-extremos__izquierda l-extremos__derecha";
  grid-template-columns: 50% 50%; }
  .l-extremos__izquierda {
    border: 1px solid black;
    grid-area: "l-extremos__izquierda"; }
  .l-extremos__derecha {
    border: 1px solid black;
    grid-area: "l-extremos__derecha";
    padding-left: 50%;
    display: flex;
    align-items: center; }

.c-button {
  background-color: #3c84f4;
  border: lightblue 1px solid;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 45px;
  padding-top: 5px;
  padding-bottom: 10px; }
  .c-button--secundario {
    background-color: linear-gradient(100deg, #0199e6 0%, #68b6e7 100%);
    color: white; }
  .c-button--terciario {
    background-color: white;
    border: none;
    color: #3c84f4; }
  .c-button--alternativo {
    background-color: black;
    border-radius: 3px black solid;
    color: white; }

.c-card {
  border: 2px solid #CDCDCD;
  border-radius: 10px;
  margin-left: 10px; }
  .c-card__image {
    width: 330px;
    height: 170px;
    border-radius: 10px 10px 0px 0px; }
    .c-card__image--mini {
      width: 40px;
      height: 40px;
      border-radius: 50px; }

.c-icono {
  width: 70px; }

.c-link {
  color: grey;
  font-size: large;
  text-decoration: none;
  margin: 10px; }

.c-parrafo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: grey; }

.c-section {
  display: grid; }
  .c-section--center {
    text-align: center; }

.c-subtitle {
  margin: auto;
  padding-right: 15px;
  color: blue;
  font-size: 20px; }

.c-tag {
  color: #316eee;
  background-color: #bed5ec;
  font-weight: bold;
  border-radius: 6px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 70px;
  height: 35px; }

.c-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold; }
  .c-title--destacado {
    color: blue; }
  .c-title--degradado {
    background: -webkit-linear-gradient(left, blue, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .c-title--size-L {
    font-size: 55px; }
  .c-title--size-S {
    font-size: 35px; }
  .c-title--size-XS {
    font-size: 25px; }
  .c-title--size-XXS {
    font-size: 15px; }
