.c-borde{
    border: $border;
    height: $height;
    width: $width;
}

.mancha-tamanyo {
    animation: aumento 1.5s alternate ease-in;
    animation-iteration-count: 4;
}

@keyframes aumento {
    from {
        transform: scale(1.00, 1.00);
    }
    to {
        transform: scale(1.33, 1.33);
    }
}