
@function getPadding($key) {
    @return unquote(map-get($paddings,"" + $key));
}

@function getMargin($key) {
    @return unquote(map-get($margins,"" + $key));
}


@function getFontSize($key) {
  @return unquote(map-get($font-size,"" + $key));
}

@function getColor($key) {
  @return unquote(map-get($colors,"" + $key));
}

@function getBorderSize($key) {
  @return unquote(map-get($border-size,"" + $key));
}

@function getBorderRadius($key) {
  @return unquote(map-get($border-radius,"" + $key));
}