.c-panel{
    display: inline-block;
    width: 235px;
    padding: 5px;
    border: 2px solid black;
    margin: 10px;

    &__titulo{
        text-decoration: none;
    }

    &__button{
        background-color:cornflowerblue;
        border: blue 1px solid;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    &--deshabilitado{
        visibility: hidden;
    }
}