.c-cuadrado{
    width: 200px;
    height: 200px;

    &--azulPequenyo{
        background-color: aqua;
    }

    &--verdePequenyo{
        background-color: chartreuse;
    }

    &--azulGrande{
        width: 400px;
        height: 400px;
        background-color: aqua;
    }

    &--verdeGrande{
        width: 400px;
        height: 400px;
        background-color: chartreuse;
    }

    &--rojoPorcentaje{
        width: 10%;
        height: 10%;
        background-color: red;
    }

    &--rojoVw{
        width: 10vw;
        height: 10vw;
        background-color: red;
    }
}