.c-cuadrado{
    background-color: white;

    &--rojo{
        background-color: red;
        width: unquote('max(100px, 10vw)');
        height: unquote('max(100px, 10vw)');
    }

    &--verde{
        background-color: chartreuse;
        width: unquote('min(200px, 20vw)');
        height: unquote('min(200px, 20vw)');
    }

    &--azul{
        background-color: aqua;
        width: unquote('clamp(100px, 10vw, 200px)');
        height: unquote('clamp(100px, 10vw, 200px)');
    }

    &--rosa{
        background-color: pink;
        width: unquote('calc(50vw + 20px)');
        height: unquote('calc(50vw + 20px)');
    }

    &--amarillo{
        background-color: yellow;
        width: unquote('clamp(100px,calc(50vw + 20px),600px)');
        height: unquote('clamp(100px,calc(50vw + 20px),600px)');
    }
}