.c-button{
    background-color: $black;
    border-radius: getBorderRadius("s");
    color: $white;
    font-weight: bold;
    margin-bottom: getMargin("xs");
    margin-left: getMargin("xs");
    margin-right: getMargin("xs");
    padding-top: getPadding("xs");
    padding-bottom: getPadding("xs");
    border: 1px solid;
    border-color: $gray_light;
    width: 400px;

    &--secundario{
        background-color: $white;
        color: $black;
    }
}