.c-panel{
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 400px;

    &--blue{
        border: getBorderRadius("m") solid $blue;
        border-radius: getBorderRadius("m");
    }

    &__title{
        font-size: getFontSize("l");
        font-weight: bold;
        text-align: center;
        margin-top: getMargin("m");
        margin-bottom: getMargin("xs");

        &--degradado{
            background: -webkit-linear-gradient(left, #3c84f4, #83FFFC);
            background: linear-gradient(right, #3c84f4, #83FFFC);
            -webkit-background-clip: text;  
            -webkit-text-fill-color: transparent;  
            font-size: getFontSize("xs");
            text-align: left;
        }
    }

    &__subtitle{
        font-size: getFontSize("xs");
        text-align: center;
        margin-bottom: getMargin("m");
        color: $gray
    }

    &__parrafo{
        font-size: getFontSize("xs");
        text-align: center;
        margin-bottom: getMargin("m");
        color: $gray;

        &--precio{
            font-size: getFontSize("2xl");
            font-weight: bold;
            position: absolute;
            color: $black;
        }
    }

    &__item{
        margin-top: getMargin("xs");
        margin-bottom: getMargin("xs");
        margin-left: getMargin("s");
    }
}