.c-button{
    background-color: #FFFFFF;
    border: none;
    color: #1F2228;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 

    &--primario{
        background-color: #b2c300;
        color: #333333;
        border-radius: 3px;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: sans-serif; 
    }

    &--secundario{
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 29px;
        font-size: 14px;
        color: #1F2228;
        background-color: white;
        font-weight: bold; 
        text-align: center;
        display: flex;
        margin-left: 32px;
    }

    &--secundario--borde{
        border: 1px solid  #b2c300;
        color: #333333;
        border-radius: 3px;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: sans-serif;
        margin-left: 12px;
    }

    &--terciario {
        border: none;
        padding: 5px 7px;
        font-size: 14px;
        color: #1F2228;
        background-color: white;
        text-align: center;
    }

    &--terciario--borde {
        border: none;
        padding: 5px 7px;
        font-size: 14px;
        color: #455629;
        background-color: white;
        text-align: center;
    }
    

    &--btns{
        display: flex;
        justify-content: center;
        margin: 2px auto 10px;
    }

    &__circulo{
        border: 1px solid black; 
        padding: 10px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin: 1px 5px; 
        cursor: pointer;
    }

    &__circulo--selected{
        border-color: black; 
        background-color: black; 
    }

    &--imagebanner{
        margin-top: 20px;
        padding:0;
        color: #455629;
    }

}