.c-imagenybanner{
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-bottom: 50px;

    &__imagen{
        max-width: 320px;
        width: 100%;
        height: 100%;
    }

    &__contenido{
        padding-left: 100px;
        max-width: 400px;
    }

    &__titulo{
        font-weight: bold;
        font-size: 20px;
    }

    &__parrafo{
        font-family: "SourceSansPro";
        color: black;
        font-size: 16px;
        padding-top: 30px;
    }
}