.c-menuprincipal {
    margin: auto;
    background-color: #b2c300; 

    &__item {
        color: #342619;
        font-weight: bold;
        padding: 8px;
        margin-right: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        cursor: pointer;
    }

    &__item--selected {
        background-color: white;
        padding: 8px;
    }

    &--colocacionbotones{
        text-align: right;
        padding: 10px;
    }
}

