.c-menusecundario {
    padding: 15px;

    &__logo{
        padding-right: 30px;  
    }

    &__item{
        padding-right: 30px;
        padding-top: 28px;
        color:  #342619;
        font-size: 15px;
        cursor: pointer;
        font-family: Arial;
    }
}