.c-menufinal {
    padding-top: 32px;
    padding-left: 40px;
    padding-bottom: 24px; 

    &__titulo{
        color: #333333;
        font-size: 16px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    &__item{
        color: #333333;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}