.c-panel {
    width: 320px;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    border: black 1px solid;

    &__imagen{
        max-width: 320px; 
        border-color: #1F2228;
    }

    &__titulo{
        font-size: 20px;
        padding-left: 33px;
        padding-right: 26px;
        height: 35px;
        margin-top: 20px;
        font-weight: bold;
        font-family: "Normal";
        text-align: left;
    }

    &__parrafo{
        color: #444444;
        font-size: 17px;
        padding-left: 34px;
        padding-right: 34px;
        padding-bottom: 50px;
        height: 70px;
        text-align: left;
    }

    &--button{
        justify-self: end;
    }
}