.l-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "Header Header Header Header"
      "LeftNavigation Contenido Contenido Contenido"
      "Footer Footer Footer Footer";

    &--switch{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "Header Header Header Header"
        "Contenido Contenido Contenido LeftNavigation"
        "Footer Footer Footer Footer";
    }
}