@function getWidth($key){
    @return map-get($widths, ""+$key);
}

@function getWidthKeys(){
    @return map-keys($widths);
}

@function getBoxShadow($key){
    @return unquote(map-get($sombras, ""+$key));
}

@function getBoxShadowKeys(){
    @return unquote(map-keys($sombras));
}
  