/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.l-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(318px, 1fr)); }

.c-button {
  -webkit-background-color: #2b4c7a;
  -moz-background-color: #2b4c7a;
  background-color: #2b4c7a;
  -webkit-border: 2px solid blue;
  -moz-border: 2px solid blue;
  border: 2px solid blue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-color: #FFFFFF;
  -moz-color: #FFFFFF;
  color: #FFFFFF;
  -webkit-box-shadow: 0 15px 35px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 15px 35px hsla(0,0%,0%,.2);
  box-shadow: 0 15px 35px hsla(0,0%,0%,.2); }
  .c-button--secundario {
    -webkit-background-color: #FFFFFF;
    -moz-background-color: #FFFFFF;
    background-color: #FFFFFF;
    -webkit-border: 2px solid blue;
    -moz-border: 2px solid blue;
    border: 2px solid blue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-color: #000000;
    -moz-color: #000000;
    color: #000000; }
  .c-button--xl {
    width: 200px;
    height: 40px; }

.c-parrafo {
  color: #000000; }

.c-title {
  color: #000000; }

.c-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  width: 369px;
  -webkit-box-shadow: 0 15px 35px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 15px 35px hsla(0,0%,0%,.2);
  box-shadow: 0 15px 35px hsla(0,0%,0%,.2); }
  .c-panel__title {
    color: #000000; }
  .c-panel__price {
    font-weight: bold;
    color: #000000; }
  .c-panel__parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000; }
  .c-panel--sombra {
    -webkit-box-shadow: 0 15px 35px hsla(0,0%,0%,.2);
    -moz-box-shadow: 0 15px 35px hsla(0,0%,0%,.2);
    box-shadow: 0 15px 35px hsla(0,0%,0%,.2); }

.g--parrafo-s {
  font-family: "Arial";
  font-size: 20px; }

.g--titulo-s {
  font-family: "Arial";
  font-size: 20px; }

.g--parrafo-m {
  font-family: "Arial";
  font-size: 25px; }

.g--titulo-m {
  font-family: "Arial";
  font-size: 25px; }

.g--parrafo-l {
  font-family: "Arial";
  font-size: 30px; }

.g--titulo-l {
  font-family: "Arial";
  font-size: 30px; }

.g--parrafo-xl {
  font-family: "Arial";
  font-size: 40px; }

.g--titulo-xl {
  font-family: "Arial";
  font-size: 40px; }

.g--parrafo-xs {
  font-family: "Arial";
  font-size: 40px; }

.g--titulo-xs {
  font-family: "Arial";
  font-size: 40px; }

.g--parrafo-s {
  font-family: "Arial";
  font-size: 45px; }

.g--titulo-s {
  font-family: "Arial";
  font-size: 45px; }

.g--parrafo-m {
  font-family: "Arial";
  font-size: 50px; }

.g--titulo-m {
  font-family: "Arial";
  font-size: 50px; }

.g--parrafo-l {
  font-family: "Arial";
  font-size: 60px; }

.g--titulo-l {
  font-family: "Arial";
  font-size: 60px; }

.g--parrafo-s {
  font-family: "Times New Roman";
  font-size: 20px; }

.g--titulo-s {
  font-family: "Times New Roman";
  font-size: 20px; }

.g--parrafo-m {
  font-family: "Times New Roman";
  font-size: 25px; }

.g--titulo-m {
  font-family: "Times New Roman";
  font-size: 25px; }

.g--parrafo-l {
  font-family: "Times New Roman";
  font-size: 30px; }

.g--titulo-l {
  font-family: "Times New Roman";
  font-size: 30px; }

.g--parrafo-xl {
  font-family: "Times New Roman";
  font-size: 40px; }

.g--titulo-xl {
  font-family: "Times New Roman";
  font-size: 40px; }

.g--parrafo-xs {
  font-family: "Times New Roman";
  font-size: 40px; }

.g--titulo-xs {
  font-family: "Times New Roman";
  font-size: 40px; }

.g--parrafo-s {
  font-family: "Times New Roman";
  font-size: 45px; }

.g--titulo-s {
  font-family: "Times New Roman";
  font-size: 45px; }

.g--parrafo-m {
  font-family: "Times New Roman";
  font-size: 50px; }

.g--titulo-m {
  font-family: "Times New Roman";
  font-size: 50px; }

.g--parrafo-l {
  font-family: "Times New Roman";
  font-size: 60px; }

.g--titulo-l {
  font-family: "Times New Roman";
  font-size: 60px; }

.g--margin-3xs {
  margin: 4px; }

.g--margin-top-3xs {
  margin-top: 4px; }

.g--margin-bottom-3xs {
  margin-bottom: 4px; }

.g--margin-left-3xs {
  margin-left: 4px; }

.g--margin-right-3xs {
  margin-right: 4px; }

.g--margin-vertical-3xs {
  margin-top: 4px;
  margin-bottom: 4px; }

.g--margin-horizontal-3xs {
  margin-left: 4px;
  margin-right: 4px; }

.g--margin-2xs {
  margin: 8px; }

.g--margin-top-2xs {
  margin-top: 8px; }

.g--margin-bottom-2xs {
  margin-bottom: 8px; }

.g--margin-left-2xs {
  margin-left: 8px; }

.g--margin-right-2xs {
  margin-right: 8px; }

.g--margin-vertical-2xs {
  margin-top: 8px;
  margin-bottom: 8px; }

.g--margin-horizontal-2xs {
  margin-left: 8px;
  margin-right: 8px; }

.g--margin-xs {
  margin: 12px; }

.g--margin-top-xs {
  margin-top: 12px; }

.g--margin-bottom-xs {
  margin-bottom: 12px; }

.g--margin-left-xs {
  margin-left: 12px; }

.g--margin-right-xs {
  margin-right: 12px; }

.g--margin-vertical-xs {
  margin-top: 12px;
  margin-bottom: 12px; }

.g--margin-horizontal-xs {
  margin-left: 12px;
  margin-right: 12px; }

.g--margin-s {
  margin: 16px; }

.g--margin-top-s {
  margin-top: 16px; }

.g--margin-bottom-s {
  margin-bottom: 16px; }

.g--margin-left-s {
  margin-left: 16px; }

.g--margin-right-s {
  margin-right: 16px; }

.g--margin-vertical-s {
  margin-top: 16px;
  margin-bottom: 16px; }

.g--margin-horizontal-s {
  margin-left: 16px;
  margin-right: 16px; }

.g--margin-m {
  margin: 20px; }

.g--margin-top-m {
  margin-top: 20px; }

.g--margin-bottom-m {
  margin-bottom: 20px; }

.g--margin-left-m {
  margin-left: 20px; }

.g--margin-right-m {
  margin-right: 20px; }

.g--margin-vertical-m {
  margin-top: 20px;
  margin-bottom: 20px; }

.g--margin-horizontal-m {
  margin-left: 20px;
  margin-right: 20px; }

.g--margin-l {
  margin: 24px; }

.g--margin-top-l {
  margin-top: 24px; }

.g--margin-bottom-l {
  margin-bottom: 24px; }

.g--margin-left-l {
  margin-left: 24px; }

.g--margin-right-l {
  margin-right: 24px; }

.g--margin-vertical-l {
  margin-top: 24px;
  margin-bottom: 24px; }

.g--margin-horizontal-l {
  margin-left: 24px;
  margin-right: 24px; }

.g--margin-xl {
  margin: 32px; }

.g--margin-top-xl {
  margin-top: 32px; }

.g--margin-bottom-xl {
  margin-bottom: 32px; }

.g--margin-left-xl {
  margin-left: 32px; }

.g--margin-right-xl {
  margin-right: 32px; }

.g--margin-vertical-xl {
  margin-top: 32px;
  margin-bottom: 32px; }

.g--margin-horizontal-xl {
  margin-left: 32px;
  margin-right: 32px; }

.g--margin-2xl {
  margin: 40px; }

.g--margin-top-2xl {
  margin-top: 40px; }

.g--margin-bottom-2xl {
  margin-bottom: 40px; }

.g--margin-left-2xl {
  margin-left: 40px; }

.g--margin-right-2xl {
  margin-right: 40px; }

.g--margin-vertical-2xl {
  margin-top: 40px;
  margin-bottom: 40px; }

.g--margin-horizontal-2xl {
  margin-left: 40px;
  margin-right: 40px; }

.g--margin-3xl {
  margin: 48px; }

.g--margin-top-3xl {
  margin-top: 48px; }

.g--margin-bottom-3xl {
  margin-bottom: 48px; }

.g--margin-left-3xl {
  margin-left: 48px; }

.g--margin-right-3xl {
  margin-right: 48px; }

.g--margin-vertical-3xl {
  margin-top: 48px;
  margin-bottom: 48px; }

.g--margin-horizontal-3xl {
  margin-left: 48px;
  margin-right: 48px; }

.g--margin-4xl {
  margin: 64px; }

.g--margin-top-4xl {
  margin-top: 64px; }

.g--margin-bottom-4xl {
  margin-bottom: 64px; }

.g--margin-left-4xl {
  margin-left: 64px; }

.g--margin-right-4xl {
  margin-right: 64px; }

.g--margin-vertical-4xl {
  margin-top: 64px;
  margin-bottom: 64px; }

.g--margin-horizontal-4xl {
  margin-left: 64px;
  margin-right: 64px; }

.g--margin-5xl {
  margin: 80px; }

.g--margin-top-5xl {
  margin-top: 80px; }

.g--margin-bottom-5xl {
  margin-bottom: 80px; }

.g--margin-left-5xl {
  margin-left: 80px; }

.g--margin-right-5xl {
  margin-right: 80px; }

.g--margin-vertical-5xl {
  margin-top: 80px;
  margin-bottom: 80px; }

.g--margin-horizontal-5xl {
  margin-left: 80px;
  margin-right: 80px; }

.g--margin-6xl {
  margin: 96px; }

.g--margin-top-6xl {
  margin-top: 96px; }

.g--margin-bottom-6xl {
  margin-bottom: 96px; }

.g--margin-left-6xl {
  margin-left: 96px; }

.g--margin-right-6xl {
  margin-right: 96px; }

.g--margin-vertical-6xl {
  margin-top: 96px;
  margin-bottom: 96px; }

.g--margin-horizontal-6xl {
  margin-left: 96px;
  margin-right: 96px; }

.g--margin-auto {
  margin: auto; }

.g--margin-top-auto {
  margin-top: auto; }

.g--margin-bottom-auto {
  margin-bottom: auto; }

.g--margin-left-auto {
  margin-left: auto; }

.g--margin-right-auto {
  margin-right: auto; }

.g--margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto; }

.g--margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto; }

.g--padding-3xs {
  padding: 4px; }

.g--padding-top-3xs {
  padding-top: 4px; }

.g--padding-bottom-3xs {
  padding-bottom: 4px; }

.g--padding-left-3xs {
  padding-left: 4px; }

.g--padding-right-3xs {
  padding-right: 4px; }

.g--padding-vertical-3xs {
  padding-top: 4px;
  padding-bottom: 4px; }

.g--padding-horizontal-3xs {
  padding-left: 4px;
  padding-right: 4px; }

.g--padding-2xs {
  padding: 8px; }

.g--padding-top-2xs {
  padding-top: 8px; }

.g--padding-bottom-2xs {
  padding-bottom: 8px; }

.g--padding-left-2xs {
  padding-left: 8px; }

.g--padding-right-2xs {
  padding-right: 8px; }

.g--padding-vertical-2xs {
  padding-top: 8px;
  padding-bottom: 8px; }

.g--padding-horizontal-2xs {
  padding-left: 8px;
  padding-right: 8px; }

.g--padding-xs {
  padding: 12px; }

.g--padding-top-xs {
  padding-top: 12px; }

.g--padding-bottom-xs {
  padding-bottom: 12px; }

.g--padding-left-xs {
  padding-left: 12px; }

.g--padding-right-xs {
  padding-right: 12px; }

.g--padding-vertical-xs {
  padding-top: 12px;
  padding-bottom: 12px; }

.g--padding-horizontal-xs {
  padding-left: 12px;
  padding-right: 12px; }

.g--padding-s {
  padding: 16px; }

.g--padding-top-s {
  padding-top: 16px; }

.g--padding-bottom-s {
  padding-bottom: 16px; }

.g--padding-left-s {
  padding-left: 16px; }

.g--padding-right-s {
  padding-right: 16px; }

.g--padding-vertical-s {
  padding-top: 16px;
  padding-bottom: 16px; }

.g--padding-horizontal-s {
  padding-left: 16px;
  padding-right: 16px; }

.g--padding-m {
  padding: 20px; }

.g--padding-top-m {
  padding-top: 20px; }

.g--padding-bottom-m {
  padding-bottom: 20px; }

.g--padding-left-m {
  padding-left: 20px; }

.g--padding-right-m {
  padding-right: 20px; }

.g--padding-vertical-m {
  padding-top: 20px;
  padding-bottom: 20px; }

.g--padding-horizontal-m {
  padding-left: 20px;
  padding-right: 20px; }

.g--padding-l {
  padding: 24px; }

.g--padding-top-l {
  padding-top: 24px; }

.g--padding-bottom-l {
  padding-bottom: 24px; }

.g--padding-left-l {
  padding-left: 24px; }

.g--padding-right-l {
  padding-right: 24px; }

.g--padding-vertical-l {
  padding-top: 24px;
  padding-bottom: 24px; }

.g--padding-horizontal-l {
  padding-left: 24px;
  padding-right: 24px; }

.g--padding-xl {
  padding: 32px; }

.g--padding-top-xl {
  padding-top: 32px; }

.g--padding-bottom-xl {
  padding-bottom: 32px; }

.g--padding-left-xl {
  padding-left: 32px; }

.g--padding-right-xl {
  padding-right: 32px; }

.g--padding-vertical-xl {
  padding-top: 32px;
  padding-bottom: 32px; }

.g--padding-horizontal-xl {
  padding-left: 32px;
  padding-right: 32px; }

.g--padding-2xl {
  padding: 40px; }

.g--padding-top-2xl {
  padding-top: 40px; }

.g--padding-bottom-2xl {
  padding-bottom: 40px; }

.g--padding-left-2xl {
  padding-left: 40px; }

.g--padding-right-2xl {
  padding-right: 40px; }

.g--padding-vertical-2xl {
  padding-top: 40px;
  padding-bottom: 40px; }

.g--padding-horizontal-2xl {
  padding-left: 40px;
  padding-right: 40px; }

.g--padding-3xl {
  padding: 48px; }

.g--padding-top-3xl {
  padding-top: 48px; }

.g--padding-bottom-3xl {
  padding-bottom: 48px; }

.g--padding-left-3xl {
  padding-left: 48px; }

.g--padding-right-3xl {
  padding-right: 48px; }

.g--padding-vertical-3xl {
  padding-top: 48px;
  padding-bottom: 48px; }

.g--padding-horizontal-3xl {
  padding-left: 48px;
  padding-right: 48px; }

.g--padding-4xl {
  padding: 64px; }

.g--padding-top-4xl {
  padding-top: 64px; }

.g--padding-bottom-4xl {
  padding-bottom: 64px; }

.g--padding-left-4xl {
  padding-left: 64px; }

.g--padding-right-4xl {
  padding-right: 64px; }

.g--padding-vertical-4xl {
  padding-top: 64px;
  padding-bottom: 64px; }

.g--padding-horizontal-4xl {
  padding-left: 64px;
  padding-right: 64px; }

.g--padding-5xl {
  padding: 80px; }

.g--padding-top-5xl {
  padding-top: 80px; }

.g--padding-bottom-5xl {
  padding-bottom: 80px; }

.g--padding-left-5xl {
  padding-left: 80px; }

.g--padding-right-5xl {
  padding-right: 80px; }

.g--padding-vertical-5xl {
  padding-top: 80px;
  padding-bottom: 80px; }

.g--padding-horizontal-5xl {
  padding-left: 80px;
  padding-right: 80px; }

.g--padding-6xl {
  padding: 96px; }

.g--padding-top-6xl {
  padding-top: 96px; }

.g--padding-bottom-6xl {
  padding-bottom: 96px; }

.g--padding-left-6xl {
  padding-left: 96px; }

.g--padding-right-6xl {
  padding-right: 96px; }

.g--padding-vertical-6xl {
  padding-top: 96px;
  padding-bottom: 96px; }

.g--padding-horizontal-6xl {
  padding-left: 96px;
  padding-right: 96px; }
