.c-cuadrado{
    width: 200px;
    height: 200px;
    margin-bottom: 400px;
    margin-left:200px;
    background-color: chocolate;
    border: 8px solid cyan;

    &--mover{
        transform: translate(50px, 100px);
    }

    &--rotar{
        transform: rotate(45deg);
    }

    &--grande{
        transform: scale(2, 3);
    }

    &--mitad{
        transform: scale(0.5, 0.5);
    }

    &--distorsionado{
        transform: skew(20deg, 10deg);
    }

    &--mix{
        transform: translate(50px, 100px) rotate(20deg);
    }
}