.c-cuadrado{

    &--red{
        width: max(100px, 40vw);
        background-color: red;
    }

    &--green{
        min-width: 800px;
        min-height: 800px;
        background-color: green;
    }

    &--blue{
        max-width: 800px;
        max-height: 800px;
        min-width: 100px;
        min-height: 100px;
        background-color: blue;
    }

    &--pink{
        height: 200px;
        width: 200px;
        background-color: pink;
        font-size: calc(50vw - 20px);
    }

    &--yellow{
        height: 200px;
        width: 200px;
        background-color: yellow;
        font-size: clamp(100px,calc(50vw - 20px), 600px);
    }

}