@function getFontSize($key){
    @return map-get($font-sizes, $key);
    
}

@function getFontSizeKeys(){
    @return map-keys($font-sizes);
}

@function getBreakPoint($key){
    @return map-get($break-points, $key);
}

@function getBreakPointKeys(){
    @return map-keys($break-points);
}