.c-button{
    background-color: $blue;
    border-color: $blue_oscuro;
    color: $white;
    margin: $margin;
    border-radius: $border-radius;
    border: $border;


&--secundario{
    background-color: $white;
    border-color: $blue_oscuro;
    color: $blue;
}

&--terciario{
    background-color: $white;
    border: $white;
    color: $blue;
}


&--alternativo{
    background-color: $orange;
    border: $orange_oscuro;
    color: $white;
}


&--alternativo#{&}--secundario{
    background-color: $white;
    border-color: $orange_oscuro;
    color: $orange;
}

&--alternativo#{&}--terciario{
    background-color: $white;
    border-color: $white;
    color: $orange;
}

&--peligroso{
    background-color: $red;
    border-color: $red_oscuro;
    color: $white;
}

&--peligroso#{&}--secundario{
    background-color: $white;
    border-color: $red_oscuro;
    color: $red;
}

&--peligroso#{&}--terciario{
    background-color: $white;
    border-color: $white;
    color: $red;
}

// &--alternativo--secundario{
//     background-color: $white;
//     border-color: $orange_oscuro;
//     color: $orange;
// }

}
