.l-page{
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera"
                         "menu_lateral cuerpo cuerpo"
                         "pie pie pie";

    &__cabecera{
        grid-area: cabecera;
    }

    &__menu_lateral{
        grid-area: menu_lateral;
    }

    &__cuerpo{
        grid-area: cuerpo;
    }

    &__pie{
        grid-area: pie;
    }
}

@media (max-width: 500px){
    .l-page{
        &__menu_lateral{
            display: none;
        }
    }
}