body{
    margin:0;
}

.g--max-width {
    max-width: 1050px; 
}

.g--margin-auto {
    margin: auto; 
}

.l-extremos{
    display: flex; 
    justify-content: space-between; 
}


.l-horizontal{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1050px;
}

.l-horizontal--sinmargen{
    margin:0;
    background-color: #b2c300;
    flex: 1.6;
    justify-content: flex-end;
}

.c-menuprincipal {
    display: flex;
}

.c-menuprincipal__item {
    color: #342619;
    font-weight: bold;
    padding: 8px;
    margin-right: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.c-menuprincipal__item--selected {
    background-color: white;
    padding: 8px;
}

.c-menuprincipal--colocacionbotones{
    text-align: right;
    padding: 10px;
}

.c-menualternativo{
   
   padding-left: 20px;
    flex: 1;
    display: flex;
    align-items: center;
}

.c-button{
    background-color: #FFFFFF;
    border: none;
    color: #1F2228;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 
}

.c-button--primario {
    background-color: #b2c300;
    color: #333333;
    border-radius: 3px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
}

.c-button--secundario {

    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 29px;
    font-size: 14px;
    color: #1F2228;
    background-color: white;
    font-weight: bold; 
    text-align: center;
    display: flex;
    margin-left: 32px;
}

.c-button--secundario--borde{

    border: 1px solid  #b2c300;
    color: #333333;
    border-radius: 3px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    margin-left: 12px;

}

.c-button--terciario {
    border: none;
    padding: 5px 7px;
    font-size: 14px;
    color: #1F2228;
    background-color: white;
    text-align: center;
}

.c-button--terciario--borde {
    border: none;
    padding: 5px 7px;
    font-size: 14px;
    color: #455629;
    background-color: white;
    text-align: center;
}


.c-menusecundario {
    padding: 15px; 
}

.c-menusecundario__logo{
    padding-right: 30px;

}

.c-menusecundario__item {
    padding-right: 30px;
    padding-top: 28px;
    color:  #342619;
    font-size: 15px;
    cursor: pointer;
    font-family: Arial;
}

.c-carrusel{
    width: 100%;
}

.c-carrusel__imagen{
    width: 100%;
}

.c-carrusel--btns{
    display: flex;
    justify-content: center;
    margin: 2px auto 10px;
}
.c-button__circulo {
    border: 1px solid black;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 1px 5px; 
    cursor: pointer;
}

.c-button__circulo--selected {
    border-color: black; 
    background-color: black; 
}
    
.c-section {
    padding-top: 40px;
    margin: auto;
}
.c-section--row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.c-panel {
    width: 320px;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    border: black 1px solid;
}

.c-panel__imagen {
    max-width: 320px; 
    border-color: #1F2228;
}

.c-panel__titulo {
    font-size: 20px;
    padding-left: 33px;
    padding-right: 26px;
    height: 35px;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Normal";
    text-align: left;
}

.c-panel__parrafo {
    color: #444444;
    font-size: 17px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 50px;
    height: 70px;
    text-align: left;
}
.c-panel--button{
    justify-self: end;
}

.c-imagenybanner{
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-bottom: 50px;
}

.c-imagenybanner__imagen{
    max-width: 320px;
    width: 100%;
    height: 100%;
}

.c-imagenybanner__contenido{
    padding-left: 100px;
    max-width: 400px;
}

.c-imagenybanner__titulo{
    font-weight: bold;
    font-size: 20px;
}


.c-imagenybanner__parrafo{
    font-family: "SourceSansPro";
    color: black;
    font-size: 16px;
    padding-top: 30px;
}

.c-button--imagebanner{
    margin-top: 20px;
    padding:0;
    color: #455629;
}

.c-bloque {
    border-top: 10px solid  #b2c300;
}

.c-menufinal {
    padding-top: 32px;
    padding-left: 40px;
    padding-bottom: 24px; 
}

.c-menufinal__titulo {
    color: #333333;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold; 
}

.c-menufinal__item {
    color: #333333;
    padding-top: 6px;
    padding-bottom: 6px;
}

.c-creditos__item{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.c-menualternativo__item{
    padding: 8px;
    height: 12px;
}