body{
    margin:0;
}

.g--max-width {
    max-width: 1050px; 
}

.g--margin-auto {
    margin: auto; 
}

.l-extremos{
    display: flex; /* La disposición con la que vamos a trabajar */
    justify-content: space-between; /* Separa los elementos ej: 1     2     3 */
}

.c-cabecera {
    margin: auto; /* Lo que te hace el margen de la página */
    display: flex;
    justify-content: space-between;
}

.c-cabecera__logo {
    padding: 15px 15px 15px 0; /* separacion entre la pagina y el logo adeslas */
}

.c-preferencias{
    text-align: right;
   
}
.c-preferencias__item{
    margin-bottom: 10px;
}

.c-preferencias__logo {
    vertical-align: middle;  /* centrarlo todo manteniendo el margin auto */
}

.c-preferencias__idioma {
    color: #107DB7; /* letras ES */
    padding-right: 20px; /* separacion */
}

.c-preferencias__caret-down {
    background-image: url(../img/caret-down-solid.svg); /* el triangulito */
    background-repeat: no-repeat; /* para que no salga repetida la imagen */
    background-position: center; /* para que no este descentrado el triangulito */
    padding: 5px; /* separacion */
}

.c-button{
    background-color: #FFFFFF;
    border: none;
    color: #1F2228;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; /* para que te aparezca "la manita" al deslizar sobre el boton*/
}

.c-button--secundario {
    border: 1px solid #40B2EE; /* el borde del boton secundario */
    border-radius: 5px; /* borde del boton */
    padding: 10px 12px; /* separacion */
    font-size: 14px; /* tamaño de la letra */
    color: #40B2EE; /* color de las letras */
}

.c-button--secundario--accessclientes{
    margin-left: 20px;
}


.l-horizontal{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1050px;
}

.c-menuprincipal {
    margin: auto;
    background-color: #F6F6F6; 
}

.c-menuprincipal__item {
    color: #808183;
    padding: 8px 0px;
    margin-right: 48px; 
}

.c-menuprincipal__item--selected {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #40B2EE;
}

.c-menusecundario {
    padding: 15px; /* separacion entre el menu principal y el menu secundario */
}

.c-menusecundario__item {
    padding-right: 49px; /* separacion de los elementos */
    color: #808183;
    font-size: 18px;
    cursor: pointer; 
}

.c-menusecundario__item--selected {
    color: #107DB7; 
}
  .c-menusecundario__item:hover {
    color: #107DB7; /* para que cuando pases el cursor, veas los items en azul */
}

.c-carrusel{
    max-width: 1050px;
    margin: auto;
}

.c-carrusel__imagen{
    width: 1050px;
}

.c-carrusel-btns{
    display: flex;
    justify-content: center;
    margin: 2px auto 10px;
}
.c-button__circulo {
    border: 1px solid #40B2EE;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 1px 5px; }
.c-button__circulo--selected {
    border-color: #107DB7;
    background-color: #107DB7; }
.c-button__circulo:hover {
    border-color: #107DB7; }
    
.c-section {
    padding-top: 40px;
    padding-bottom: 80px; 
    margin: auto;
}
.c-section-row{
    display: flex;
    justify-content: space-around;
}
.c-setion-row{
    margin-bottom: 80px;
}

.c-section--claro {
    background-color: #dfd9d9; 
}

.c-button--primario {
    background-color: #107DB7;
    color: #FFFFFF;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: sans-serif; 
}

.c-panel {
    width: 470px;
    background-color: #FFFFFF;
    color: #107DB7;
    border-radius: 4px 4px 0 0;
    text-align: center;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.c-panel__imagen {
    max-width: 470px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.c-panel__titulo {
    font-size: 28px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.c-panel__parrafo {
    color: #333333;
    font-size: 20px;
    padding-left: 34px;
    padding-right: 34px;
    height: 70px; 
}
.c-panel--button{
    justify-self: end;
}

.c-section--oscuro {
    background-color: #e6e6e6; 
}

.l-vertical{
    display: flex;
    flex-direction: column;
}

.g--padding-left-0{
    padding-left: 40px;
    padding-right: 40px;
}

.c-banner {
    background-color: #107DB7;
    margin-top: 18px;
    border-radius: 5px;
}
.c-banner__titulo {
    color: #FFFFFF;
    font-size: 28px;
    padding: 24px 0;
    text-align: start;
    }

.c-banner__parrafo {
    color: white;
    font-size: 20px;
    text-align: left;
    max-width: 310px;
    }

.c-button--terciario {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 0;
    text-align: start;
}

.g--enfasis {
    font-weight: bold; 
}

.c-panel--small {
    width: 400px;
    margin-left: 20px; 
}

.g--padding-bottom-0 {
    padding-bottom: 0px; 
}

.c-panel__titulo--small {
    font-size: 24px;
    padding-top: 18px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 24px;
    height: auto;
    font-weight: normal; 
}

.c-panel__parrafo--small {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    height: 90px; 
}

.c-button--small {
    width: 100%; 
}

.c-section__titulo {
    text-align: center;
    font-size: 40px;
    padding-bottom: 48px; 
}

.c-bloque {
    border-top: 5px solid #40B2EE;
    border-bottom: 5px solid #40B2EE; 
}

.c-bloque--izquierdo {
    width: 680px;
    background-color: #2C3039;
    padding: 0px 15px; 
}

.c-bloque--derecho {
    width: 340px;
    background-color: #1F2228;
    padding-left: 24px; 
}

.c-bloque__texto {
    color: #FFFFFF;
    padding-left: 40px;
    padding-bottom: 12px; 
}
      
.c-bloque__texto--big {
    font-size: 28px; 
}

.c-menu {
    padding-top: 32px;
    padding-left: 40px;
    padding-bottom: 24px; 
}

.c-menu__titulo {
    color: #FFFFFF;
    font-size: 16px;
    padding-bottom: 40px;
    font-weight: bold; 
}

.c-menu__titulo--slim {
    font-weight: normal; 
}

.c-menu__item {
    color: #40B2EE;
    padding-bottom: 15px; 
}

.c-bottom {
    border-top: 1px solid #999999;
    padding: 22px 0 25px 17px; 
}

.c-bottom__logo {
    width: 158px;
    height: 21px;
    padding-bottom: 5px; 
}

.c-bottom__item {
    text-decoration: underline;
    color: #999999;
    font-size: 14px;
    padding-right: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}