@function getPadding($key){
    @return map-get($paddings,""+$key);
}

@function getPaddingKeys(){
    @return map-keys($paddings);
}

@function getMargin($key){
    @return map-get($margins,""+$key);
}

@function getMarginKeys(){
    @return map-keys($margins);
}

@function getFontSize($key){
    @return map-get($font-sizes,""+$key);
}

@function getFontSizeKeys(){
    @return map-keys($font-sizes);
}

@function getBorderRadius($key){
    @return map-get($border-radius,""+$key);
}

@function getBorderRadiusKeys(){
    @return map-keys($border-radius);
}

@function getFontFamily($key){
    @return unquote(map-get($font-families,""+$key));
}

@function getFontFamilyKeys(){
    @return map-keys($font-families);
}

@function getBoxShadow($key){
    @return unquote(map-get($box-shadows,""+$key));
}

@function getBoxShadowKeys(){
    @return map-keys($box-shadows);
}

@function getWidth($key){
    @return map-get($widths,""+$key);
}

@function getWidthKeys(){
    @return map-keys($widths);
}

@function getHeight($key){
    @return map-get($heights,""+$key);
}

@function getHeightKeys(){
    @return map-keys($heights);
}

@function getBorder($key){
    @return map-get($borders,""+$key);
}

@function getBorderKeys(){
    @return map-keys($borders);
}

@function getBorderWidth($key){
    @return map-get($border-widths,""+$key);
}

@function getBorderWidthKeys(){
    @return map-keys($border-widths);
}

@function getColor($key, $index){
    @return unquote(nth(map-get($colores,""+$key), $index));
}

@function getColorKeys(){
    @return map-keys($colores);
}

// FUNCIONES COLORES PARA HACER GLOBALES

//@function getColor($key){
    //@return map-get($colores,""+$key);
//}

//@function getColorKeys(){
    //@return map-keys($colores);
//}