@each $name, $margin in $margins {
  .g--margin-#{$name} {
    margin: $margin;
  }
  .g--margin-top-#{$name} {
    margin-top: $margin;
  }
  .g--margin-bottom-#{$name} {
    margin-bottom: $margin;
  }
  .g--margin-left-#{$name} {
    margin-left: $margin;
  }
  .g--margin-right-#{$name} {
    margin-right: $margin;
  }
  .g--margin-vertical-#{name}{
    margin-top: $margin;
    margin-bottom: $margin;
  }
  .g--margin-horizontal-#{name}{
    margin-top: $margin;
    margin-bottom: $margin;
  }
} 