@each $name, $padding in $paddings {
    .g--padding-#{$name} {
      padding: $padding;
    }
    .g--padding-top-#{$name} {
        padding-top: $padding;
    }
    .g--padding-bottom-#{$name} {
        padding-bottom: $padding;
    }
    .g--padding-left-#{$name} {
        padding-left: $padding;
    }
    .g--padding-right-#{$name} {
        padding-right: $padding;
    }
    .g--padding-vertical-#{name}{
        padding-top: $padding;
        padding-bottom: $padding;
      }
      .g--padding-horizontal-#{name}{
        padding-top: $padding;
        padding-bottom: $padding;
      }
  } 