.c-pelota{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 40px;

    &--animada{
        animation-name: caida-pelota;
        animation-duration: 9.4s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;   
    }
    
}

@keyframes caida-pelota{
        0%{
            transform: translateY(0px);
        }

        100%{
            transform: translateY(550px);
        }
    }