.imgpisa{
    width: 500px;
    height: 800px;
}
.pelota{
    top: -700px;
    left: -500px;
    position: relative;
    height: 100px;
    width: 100px;
}

.caida-pelota{
    animation-name: caida;
    animation-duration: 9.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes caida {
    100% {
      transform: translateY(700px);
    }
}