.c-button{
    background-color: $blue;
    border-color: $azul;
    color: $white;
    margin: $margin;
    border-radius: $border-radius;
    border: $border;

&--secundario{
    background-color: $white;
    color: $black;
}

&--alternativo{
    background-color: $green_claro;
    border-color: $green_oscuro;
    color: $green;
}

}