.c-panel{
    background-color: hotpink;
    border-style: solid;
    border-width: 2px;
}

.c-panel__titulo{
    font-size: 16px;
    text-decoration: underline black;


&--no-subrayado{
    font-size: 16px;
    text-decoration: none;
}
}

.c-panel__contenido{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}