$keys: map-keys($widths);

// @debug "keysss " #{$keys};

@each $nameWidth in $keys{
    $valueKeys: map-get($widths, $nameWidth);
    // @debug "value " #{$valueKeys};
    .g--min-width-#{$nameWidth}{
        width: $valueKeys;
    }
}