.g--min-width-1{
    min-width:100px;
}

.g--min-width-2{
    min-width:150px;
}

.g--min-width-3{
    min-width:200px;
}

.g--min-width-4{
    min-width:250px;
}

.g--min-width-5{
    min-width:300px;
}

.g--min-width-6{
    min-width:350px;
}

.g--min-width-7{
    min-width:400px;
}

.g--min-width-8{
    min-width:450px;
}

.g--min-width-9{
    min-width:500px;
}

.g--min-width-10{
    min-width:550px;
}

.g--min-width-11{
    min-width:600px;
}