// EJERCICIO 1

// .c-cuadrado{
//     height: 200px;
//     width: 200px;
//     background-color: crimson;
//     transition: transform 2s, background-color 2s;

//     margin-left: auto;
//     margin-right: auto;
//     margin-top: calc(50vh - 100px);
// }

// .c-cuadrado:hover{
//     transform: rotate(45deg);
//     background-color: aqua;
//     cursor: pointer;
// }

// EJERCICIO 2

.c-cuadrado{
    height: 200px;
    width: 200px;
    background-color: crimson;
    transition: width 3s, font-size 2s;

    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 100px);
}

.c-cuadrado:hover{
    width: 600px;
    cursor: pointer;
}