@mixin estilo(){
    -webkit-border-color: getBorderColor();
    -moz-border-color: getBorderColor();
    border-color: getBorderColor();
    -webkit-border-radius: getBorderRadius();
    -moz-border-radius: getBorderRadius();
    border-radius: getBorderRadius();
    -webkit-padding: getPadding();
    -moz-padding: getPadding();
    padding: getPadding();
}

@mixin shadow($key){
    -webkit-shadow: getShadow($key);
    -moz-shadow: getShadow($key);
    shadow: getShadow($key);
}