.c-cuadrado{
    width: 200px;
    height: 200px;

    &--rojo{
        background-color: red;
    }

    &--verde{
        // Pasas 200px a rem que es dividir 200px entre el font-size del html (16px por ejemplo).
        // Si queremos pasar de rem a px, hay que multiplicar el valor de rem por el font-size de la página.
        background-color: chartreuse;
        width: 12.5rem;
        height: 12.5rem;
    }

    &--azul{
        // Pasas 200px a em que es dividir 200px entre el font-size del html (20px en este caso, porque lo hemos definido).
        // Si queremos pasar de em a px, hay que multiplicar el valor de em por el font-size de la página.
        background-color: aqua;
        font-size: 20px;
        width: 12.5em;
        height: 12.5em;
    }
}