/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.g--padding-9xs {
  padding: 0px; }

.g--padding-8xs {
  padding: 4px; }

.g--padding-7xs {
  padding: 8px; }

.g--padding-6xs {
  padding: 12px; }

.g--padding-5xs {
  padding: 16px; }

.g--padding-4xs {
  padding: 20px; }

.g--padding-3xs {
  padding: 24px; }

.g--padding-2xs {
  padding: 32px; }

.g--padding-xs {
  padding: 40px; }

.g--padding-s {
  padding: 48px; }

.g--padding-m {
  padding: 64px; }

.g--padding-l {
  padding: 80px; }

.g--padding-xl {
  padding: 96px; }

.g--padding-2xl {
  padding: 128px; }

.g--padding-3xl {
  padding: 160px; }

.g--padding-4xl {
  padding: 192px; }

.g--padding-5xl {
  padding: 224px; }

.g--padding-6xl {
  padding: 256px; }

.g--padding-7xl {
  padding: 320px; }

.g--padding-8xl {
  padding: 480px; }

.g--padding-9xl {
  padding: 640px; }

.g--margin-9xs {
  margin: 0px; }

.g--margin-8xs {
  margin: 4px; }

.g--margin-7xs {
  margin: 8px; }

.g--margin-6xs {
  margin: 12px; }

.g--margin-5xs {
  margin: 16px; }

.g--margin-4xs {
  margin: 20px; }

.g--margin-3xs {
  margin: 24px; }

.g--margin-2xs {
  margin: 32px; }

.g--margin-xs {
  margin: 40px; }

.g--margin-s {
  margin: 48px; }

.g--margin-m {
  margin: 64px; }

.g--margin-l {
  margin: 80px; }

.g--margin-xl {
  margin: 96px; }

.g--margin-2xl {
  margin: 128px; }

.g--margin-3xl {
  margin: 160px; }

.g--margin-4xl {
  margin: 192px; }

.g--margin-5xl {
  margin: 224px; }

.g--margin-6xl {
  margin: 256px; }

.g--margin-7xl {
  margin: 320px; }

.g--margin-8xl {
  margin: 480px; }

.g--margin-9xl {
  margin: 640px; }

.g--margin-auto {
  margin: auto; }

.g--font-size-4xs {
  font-size: 12px; }

.g--font-size-3xs {
  font-size: 14px; }

.g--font-size-2xs {
  font-size: 16px; }

.g--font-size-xs {
  font-size: 18px; }

.g--font-size-s {
  font-size: 20px; }

.g--font-size-m {
  font-size: 24px; }

.g--font-size-l {
  font-size: 30px; }

.g--font-size-xl {
  font-size: 36px; }

.g--font-size-2xl {
  font-size: 48px; }

.g--font-size-3xl {
  font-size: 64px; }

.g--border-radius-xs {
  border-radius: 0px; }

.g--border-radius-s {
  border-radius: 2px; }

.g--border-radius-m {
  border-radius: 4px; }

.g--border-radius-l {
  border-radius: 6px; }

.g--border-radius-xl {
  border-radius: 8px; }

.g--border-radius-2xl {
  border-radius: 16px; }

.g--font-family-Normal {
  font-family: Georgia, Times; }

.g--font-family-Serif {
  font-family: Arial, Helvetica, sans-serif; }

.g--box-shadow-0 {
  box-shadow: 0 1px 3px hsla(0,0%,0%,.2); }

.g--box-shadow-1 {
  box-shadow: 0 4px 6 px hsla(0,0%,0%,.2); }

.g--box-shadow-2 {
  box-shadow: 0 5px 15px hsla(0,0%,0%,.2); }

.g--box-shadow-3 {
  box-shadow: 0 10px 24px hsla(0,0%,0%,.2); }

.g--box-shadow-4 {
  box-shadow: 0 15px 35px hsla(0,0%,0%,.2); }

.g--width-s {
  width: 100px; }

.g--width-m {
  width: 200px; }

.g--width-l {
  width: 300px; }

.g--height-s {
  height: 20px; }

.g--height-m {
  height: 40px; }

.g--height-l {
  height: 60px; }

.g--border-s {
  border: 0px; }

.g--border-m {
  border: 2px; }

.g--border-l {
  border: 4px; }

.g--border-xl {
  border: 6px; }

.g--border-width-s {
  border-width: 1px; }

.g--border-width-m {
  border-width: 2px; }

.g--border-width-l {
  border-width: 4px; }

.g--color-rojo-1 {
  color: #FEEAE6; }

.g--color-rojo-2 {
  color: #FEB9AF; }

.g--color-rojo-3 {
  color: #FE8176; }

.g--color-rojo-4 {
  color: #FF4238; }

.g--color-rojo-5 {
  color: #FF0000; }

.g--color-rojo-6 {
  color: #C70700; }

.g--color-rojo-7 {
  color: #8E0C01; }

.g--color-rojo-8 {
  color: #500A01; }

.g--color-rojo-9 {
  color: #190501; }

.g--color-amarillo-1 {
  color: #FAFEE6; }

.g--color-amarillo-2 {
  color: #F3FEAF; }

.g--color-amarillo-3 {
  color: #F3FE76; }

.g--color-amarillo-4 {
  color: #F5FF38; }

.g--color-amarillo-5 {
  color: #FFFF00; }

.g--color-amarillo-6 {
  color: #C7C000; }

.g--color-amarillo-7 {
  color: #8E8201; }

.g--color-amarillo-8 {
  color: #504701; }

.g--color-amarillo-9 {
  color: #191501; }

.g--color-verde-1 {
  color: #E7FEE6; }

.g--color-verde-2 {
  color: #B4FEAF; }

.g--color-verde-3 {
  color: #86FE76; }

.g--color-verde-4 {
  color: #56FF38; }

.g--color-verde-5 {
  color: #33FF00; }

.g--color-verde-6 {
  color: #2EC700; }

.g--color-verde-7 {
  color: #298E01; }

.g--color-verde-8 {
  color: #1A5001; }

.g--color-verde-9 {
  color: #0A1901; }

.g--color-azul-1 {
  color: #E6F5FE; }

.g--color-azul-2 {
  color: #B8DEF5; }

.g--color-azul-3 {
  color: #90CAE4; }

.g--color-azul-4 {
  color: #67B2D0; }

.g--color-azul-5 {
  color: #40A2BF; }

.g--color-azul-6 {
  color: #2F8398; }

.g--color-azul-7 {
  color: #1C6673; }

.g--color-azul-8 {
  color: #0A4047; }

.g--color-azul-9 {
  color: #011719; }

.g--color-morado-1 {
  color: #F5E6FE; }

.g--color-morado-2 {
  color: #DBB8F5; }

.g--color-morado-3 {
  color: #BD90E4; }

.g--color-morado-4 {
  color: #9C67D0; }

.g--color-morado-5 {
  color: #7940BF; }

.g--color-morado-6 {
  color: #5B2F98; }

.g--color-morado-7 {
  color: #3C1C73; }

.g--color-morado-8 {
  color: #1F0A47; }

.g--color-morado-9 {
  color: #080119; }

.g--color-rosa-1 {
  color: #FEE6EE; }

.g--color-rosa-2 {
  color: #F5B8CD; }

.g--color-rosa-3 {
  color: #E490B2; }

.g--color-rosa-4 {
  color: #D06795; }

.g--color-rosa-5 {
  color: #BF407D; }

.g--color-rosa-6 {
  color: #982F65; }

.g--color-rosa-7 {
  color: #731C4D; }

.g--color-rosa-8 {
  color: #470A2F; }

.g--color-rosa-9 {
  color: #190110; }

.g--color-naranja-1 {
  color: #FFFDFA; }

.g--color-naranja-2 {
  color: #FCE4BF; }

.g--color-naranja-3 {
  color: #F8C78B; }

.g--color-naranja-4 {
  color: #F4A652; }

.g--color-naranja-5 {
  color: #EF7E1A; }

.g--color-naranja-6 {
  color: #C05A0C; }

.g--color-naranja-7 {
  color: #8C3B08; }

.g--color-naranja-8 {
  color: #531F03; }

.g--color-naranja-9 {
  color: #190801; }

.g--color-gris-1 {
  color: #AAAAAA; }

.g--color-gris-2 {
  color: #999999; }

.g--color-gris-3 {
  color: #616161; }

.g--color-gris-4 {
  color: #545454; }

.g--color-gris-5 {
  color: #444444; }

.g--color-gris-6 {
  color: #383838; }

.g--color-gris-7 {
  color: #292929; }

.g--color-gris-8 {
  color: #1C1C1C; }

.g--color-gris-9 {
  color: #0D0D0D; }

.g--color-gris-10 {
  color: #0C0C0C; }

.g--color-blanco-1 {
  color: #FFFFFF; }

.g--color-blanco-2 {
  color: #FCFCFC; }

.g--color-blanco-3 {
  color: #F7F7F7; }

.g--color-blanco-4 {
  color: #F5F5F5; }

.g--color-blanco-5 {
  color: #F0F0F0; }

.g--color-blanco-6 {
  color: #EDEDED; }

.g--color-blanco-7 {
  color: #E8E8E8; }

.g--color-blanco-8 {
  color: #E6E6E6; }

.g--color-blanco-9 {
  color: #CCCCCC; }

.g--color-blanco-10 {
  color: #BDBDBD; }

.g--color-negro {
  color: #000000; }
