.g--color-red{
    background-color:crimson;
}
.g--color-blue{
    background-color:cyan;
}
.g--color-green{
    background-color:greenyellow;
}


@media (min-width:576px){
    .g--color-red\@mobile{
        background-color: crimson;
    }
    .g--color-blue\@mobile{
        background-color: cyan;
    }
    .g--color-green\@mobile{
        background-color: greenyellow;
    }
}

@media (min-width:768px){
    .g--color-red\@tablet{
        background-color: crimson;
    }
    .g--color-blue\@tablet{
        background-color: cyan;
    }
    .g--color-green\@tablet{
        background-color: greenyellow;
    }
}

@media (min-width:992px){
    .g--color-red\@desktop{
        background-color: crimson;
    }
    .g--color-blue\@desktop{
        background-color: cyan;
    }
    .g--color-green\@desktop{
        background-color: greenyellow;
    }
}
