$claves-texto: map-keys($texto);

@each $clave-texto in $claves-texto {

    $valor-texto: map-get($texto,""+$clave-texto);

    $font-family: map-get($valor-texto, "font-family");
    $font-sizes: map-get($valor-texto, "font-sizes");

    $claves-font-sizes: map-keys($font-sizes);

    @each $clave-font-sizes in $claves-font-sizes{

        $valor-font-sizes: map-get($font-sizes, ""+$clave-font-sizes);

        .g--#{$clave-texto}-#{$clave-font-sizes} {
            font-family: $font-family;
            font-size: $valor-font-sizes;
        }
    }
}