@function getWidth($key){
  @return unquote(map-get($width,""+$key));
}

@function getWidthKeys(){
  @return map-keys($width);
}

@function getMin-Width($key){
  @return unquote(map-get($min-width,""+$key));
}

@function getMin-WidthKeys(){
  @return map-keys($min-width);
}

@function getMax-Width($key){
  @return unquote(map-get($max-width,""+$key));
}

@function getMax-WidthKeys(){
  @return map-keys($max-width);
}

@function getTamanyoPantalla($key){
  @return unquote(map-get($tamanyo-pantalla,""+$key));
}

@function getTamanyoPantallaKeys(){
  @return map-keys($tamanyo-pantalla);
}