.c-panel {
  background-color: white; }

.c-panel__titulo {
  font-size: 16px; }

.l-page {
  margin: auto; }

.g--color-red {
  background-color: crimson; }

.g--color-blue {
  background-color: cyan; }

.g--color-green {
  background-color: greenyellow; }

@media (min-width: 576px) {
  .g--color-red\@mobile {
    background-color: crimson; }
  .g--color-blue\@mobile {
    background-color: cyan; }
  .g--color-green\@mobile {
    background-color: greenyellow; } }

@media (min-width: 768px) {
  .g--color-red\@tablet {
    background-color: crimson; }
  .g--color-blue\@tablet {
    background-color: cyan; }
  .g--color-green\@tablet {
    background-color: greenyellow; } }

@media (min-width: 992px) {
  .g--color-red\@desktop {
    background-color: crimson; }
  .g--color-blue\@desktop {
    background-color: cyan; }
  .g--color-green\@desktop {
    background-color: greenyellow; } }

.g--font-size-1 {
  font-size: 16px; }

.g--font-size-2 {
  font-size: 70px; }

.g--font-size-3 {
  font-size: 40px; }

.g--font-size-4 {
  font-size: 16px; }

@media (min-width: 576px) {
  .g--font-size-1\@mobile {
    font-size: 16px; }
  .g--font-size-2\@mobile {
    font-size: 70px; }
  .g--font-size-3\@mobile {
    font-size: 40px; }
  .g--font-size-4\@mobile {
    font-size: 16px; } }

@media (min-width: 768px) {
  .g--font-size-1\@tablet {
    font-size: 16px; }
  .g--font-size-2\@tablet {
    font-size: 70px; }
  .g--font-size-3\@tablet {
    font-size: 40px; }
  .g--font-size-4\@tablet {
    font-size: 16px; } }

@media (min-width: 992px) {
  .g--font-size-1\@desktop {
    font-size: 16px; }
  .g--font-size-2\@desktop {
    font-size: 70px; }
  .g--font-size-3\@desktop {
    font-size: 40px; }
  .g--font-size-4\@desktop {
    font-size: 16px; } }
