.c-button {
	display:inline-block;
	background-color:#0056B8;
	border: 1px solid #0056B8;
	border-radius: 3px;
	color: #FFFFFF;
	padding: 10px 15px 10px 15px;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
    cursor: pointer;

	
	&--secundario {
		background-color:#FFFFFF;
		color: #0056B8;
	}

	&--terciario {
		border: none;
		background-color: #FFFFFF;
		color: #0056B8;
	}
	
	&--alternativo {
		background-color:#ED8936;
		border-color:#ED8936;
	}
	
	&--peligroso {
		background-color:#C53030;
		border-color:#C53030;
	}
}