.c-panel {
	display:block;
	background-color:#FFFFFF;
	border: 1px solid #0056B8;
	border-radius: 3px;
	color: #FFFFFF;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	
	
	&--peligroso {
		background-color:#C53030;
		border-color:#C53030;
	}

    &--alternativo{
        background-color:#ED8936;
		border-color:#ED8936;
    }
	
	&__head {
		background-color:#0056B8;
		color: #FFFFFF;
		padding:10px;

        &--alternativo{
            background-color: #FCC772;
        }
		
		&--peligroso {
			background-color:#C53030;
		}
	}
	
	&__body {
		padding:10px;
		background-color:#FFFFFF;
        color: black;
	}
	
	&__footer {
		background-color:#F0F0F0;
		color: #202020;
		padding:10px;
	}			
	
}
 