/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  width: 67%; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

p {
  padding-top: 6px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.c-cabecera {
  margin: auto;
  display: flex; }
  .c-cabecera__logo {
    height: 90px;
    padding-left: 250px;
    padding-right: 300px;
    padding-top: 30px;
    cursor: pointer; }
  .c-cabecera__item {
    margin: 25px;
    padding-top: 35px;
    color: #757b81;
    cursor: pointer; }

.c-button {
  background-color: #3c84f4;
  border-color: #3c84f4;
  color: #FFFFFF;
  border-radius: 6px;
  border: 0px solid;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  cursor: pointer; }
  .c-button--alternativo {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    margin: 15px;
    padding: 25px;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: -30px;
    font-size: 15px; }
  .c-button--alternativo.c-button--terciario {
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-left: 15px;
    margin-left: 20px;
    width: 100px; }
  .c-button--terciario {
    color: #3c84f4;
    background-color: #FFFFFF;
    font-weight: bold;
    margin: 34px; }
  .c-button--secundario {
    color: #316eee;
    background-color: #bed5ec;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 4px;
    width: 70px;
    height: 35px; }

.c-panel {
  display: block;
  text-align: center;
  padding: 0px; }
  .c-panel__titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    padding-top: 250px;
    padding-bottom: 16px; }
    .c-panel__titulo--azul {
      color: #6fd0f4; }
  .c-panel__parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-size: 20px;
    padding-bottom: 20px; }

.c-panel-secundario {
  display: block;
  text-align: left; }
  .c-panel-secundario__subtitulo {
    color: #2464ec;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 150px; }
  .c-panel-secundario__titulo {
    color: #000000;
    font-weight: bold;
    font-size: 3.00rem;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-left: 250px; }
  .c-panel-secundario__parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-size: 1.25rem;
    padding: 0px;
    margin-left: 250px; }
  .c-panel-secundario__imagen {
    width: 350px;
    height: 350px;
    float: right;
    margin-top: -300px;
    margin-right: 250px; }

.c-panel-terciario {
  display: block;
  text-align: left; }
  .c-panel-terciario__imagen {
    height: 350px;
    float: left;
    margin-left: 250px;
    margin-top: -50px; }
  .c-panel-terciario__subtitulo {
    color: #2464ec;
    font-weight: bold;
    margin-left: 750px;
    margin-top: 150px; }
  .c-panel-terciario__titulo {
    color: #000000;
    font-weight: bold;
    font-size: 3.00rem;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-left: 750px; }
  .c-panel-terciario__parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-size: 1.25rem;
    padding: 0px;
    margin-left: 750px; }

.c-panel-cuaternario {
  display: block;
  text-align: left; }
  .c-panel-cuaternario__titulo {
    color: #000000;
    font-weight: bold;
    font-size: 2.20rem;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-left: 250px; }
  .c-panel-cuaternario__titulo--azul {
    color: #2464ec;
    font-weight: bold;
    font-size: 2.20rem;
    padding-top: 5px;
    padding-bottom: 30px; }

.c-panel-final {
  display: block;
  text-align: left; }
  .c-panel-final__imagen {
    height: 90px;
    padding-left: 245px;
    padding-right: 300px;
    padding-top: 30px;
    cursor: pointer; }
  .c-panel-final__parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-size: 18px;
    padding-top: 20px;
    margin-left: 250px; }

.c-section {
  display: inline-grid;
  margin-right: -215px;
  margin-left: 250px; }
  .c-section__titulo {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px; }
  .c-section__parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-size: 16px; }

.c-banner-imagen {
  display: inline-grid;
  margin-right: -215px;
  margin-left: 250px;
  border: 2px solid #CDCDCD;
  border-radius: 10px; }
  .c-banner-imagen__imagen {
    width: 310px;
    height: 170px;
    border-radius: 10px 10px 0px 0px; }
  .c-banner-imagen__titulo {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px; }
  .c-banner-imagen__parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-size: 16px;
    margin-left: 20px;
    padding-bottom: 20px; }
  .c-banner-imagen__imagen-mini {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px; }
  .c-banner-imagen__titulo-mini {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: -60px; }
  .c-banner-imagen__parrafo-mini {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    margin-left: 70px;
    margin-top: -40px; }

.c-option {
  display: block;
  text-align: left; }
  .c-option__titulo {
    color: black;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding-bottom: 15px;
    margin-left: 650px;
    margin-top: -110px; }
  .c-option__item {
    font-family: inherit;
    color: gray;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 650px; }

.c-option-dos {
  display: block;
  text-align: left; }
  .c-option-dos__titulo {
    color: black;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-left: 825px;
    margin-top: -165px; }
  .c-option-dos__item {
    font-family: inherit;
    color: gray;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 825px; }

.c-option-tres {
  display: block;
  text-align: left; }
  .c-option-tres__titulo {
    color: black;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding-bottom: 15px;
    margin-left: 975px;
    margin-top: -165px; }
  .c-option-tres__item {
    font-family: inherit;
    color: gray;
    font-size: 16px;
    padding-top: 10px;
    margin-left: 975px; }
  .c-option-tres__box-email {
    font-size: 16px;
    width: 290px;
    margin-left: 975px;
    margin-top: 15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #CDCDCD;
    border-radius: 6px; }

.c-creditos {
  display: inline-flex;
  text-align: left; }
  .c-creditos__copyright {
    color: gray;
    margin-left: 250px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .c-creditos__items {
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px; }
  .c-creditos__imagen {
    width: 20px;
    height: 20px;
    margin-left: 35px;
    margin-top: 20px; }
