@function getBorder($key){
    @return unquote(map-get($borders,""+$key));
}

@function getBorderRadius($key){
    @return unquote(map-get($borders,""+$key));
}

@function getBackgroundColor($key){
    @return map-get($colors,""+$key);
}

@function getColor($key){
    @return map-get($colors,""+$key);
}

@function getShadow($key){
    @return unquote(map-get($sombras, ""+$key));
}

@function getMargin($key){
    @return map-get($margins,""+$key);
}

@function getMarginKeys(){
    @return map-keys($margins);
}

@function getPadding($key){
    @return map-get($paddings,""+$key);
}

@function getPaddingKeys(){
    @return map-keys($paddings);
}
  
@function getWidth($key){
    @return map-get($widths, ""+$key);
}

@function getHeight($key){
    @return map-get($heights, ""+$key);
}