@mixin boton ($background-color, $border, $border-radius, $color){
    -webkit-background-color: getBackgroundColor($background-color);
    -moz-background-color: getBackgroundColor($background-color);
    background-color: getBackgroundColor($background-color);

    -webkit-border: getBorder($border) solid blue;
    -moz-border: getBorder($border) solid blue;
    border: getBorder($border) solid blue;

    -webkit-border-radius: getBorderRadius($border-radius);
    -moz-border-radius: getBorderRadius($border-radius);
    border-radius: getBorderRadius($border-radius);

    -webkit-color: getColor($color);
    -moz-color: getColor($color);
    color: getColor($color);
}

@mixin box-shadow($key){
    -webkit-box-shadow: getShadow($key);
    -moz-box-shadow: getShadow($key);
    box-shadow: getShadow($key);
}
