@each $name in getBreakPointKeys(){
    $column-size : map-get($break-point-column-size,$name);
    @media(min-width: getBreakPoint($name)){
        .l-columns--#{$column-size}\@#{$name}{
            display: grid;
            grid-template-columns: repeat($column-size, 1fr);
        }
    }
}

