// $keys: map-keys($widths);

// // @debug "keysss " #{$keys};

// @each $nameWidth in $keys{
//     $valueKeys: map-get($widths, $nameWidth);
//     // @debug "value " #{$valueKeys};
//     .g--max-width-#{$nameWidth}{
//         width: $valueKeys;
//     }
// }

@each $name in getBreakPointKeys(){
    @media(max-width: getBreakPoint($name)){
        @each $key in getWidthKeys(){
            .g--max-width-#{$key}\@#{$name}{
                max-width: getWidth($key);
            }
        } 
    }
}