$border-width:(
    "S" : 3px,
    "L" : 5px,
    "XL": 8px
);

$red: #E03535;
$blue:#35DCE0;
$green: #42E035;
$white: #FFFFFF;
$black: #000000;
$azul: #252850;

$red_oscuro: darken($red,30%);
$red_claro: lighten($red,30%);
$blue_oscuro:darken($blue,30%);
$green_claro: lighten($green, 40%);
$green_oscuro: darken($green, 20%);

$margin: 10px;

$border-radius: 2px;

$border: 1px solid;