@function getTheme(){
    @return map-get($estilos, $estilo );
}

@function getBorder(){
    $color-border: map-get(getTheme(),"color-borde");
    @return $color-border 1px solid;
}
@function getBorderRadius(){
    $radius : map-get(getTheme(),"esquina-redondeada");
    @if($radius == true){
        @return 15px;
    } @else{
        @return 0px;
    }
}

@function getPadding(){
    $padding: map-get(getTheme(),"paddings");
    $topBottom: nth($padding, 2);
    $rightLeft: nth($padding, 1 );
    @return $topBottom $rightLeft;
}





// @function getBorderColor($estilo, $value){
//     @return map-get(map-get($estilos, ""+$estilo),$value);
// }

// @function getPadding($estilo, $value){
//     @return map-get(map-get($estilos, ""+$estilo),$value);
// }

