// @mixin estilosss($estilo, $value){
//     -webkit-border-color: getBorderColor($estilo, $value);
//     -moz-border-color: getBorderColor($estilo, $value);
//     border-color: getBorderColor($estilo, $value);

//     -webkit-padding: getPadding($estilo, $value);
//     -moz-border-color: getPadding($estilo, $value);
//     padding: getPadding($estilo, $value);
// }

@mixin estilosss($estilo){
    -webkit-border-color: getBorderColor($estilo);
    -moz-border-color: getBorderColor($estilo);
    border-color: getBorderColor($estilo);

    -webkit-padding: getPadding($estilo);
    -moz-border-color: getPadding($estilo);
    padding: getPadding($estilo);
}