.c-banner-imagen{

    display: inline-grid;
    margin-right: -215px;
    margin-left: 250px;
    border: 2px solid #CDCDCD;
    border-radius: 10px;

    &__imagen{
        width: 310px;
        height: 170px;
        border-radius: 10px 10px 0px 0px;
    }

    &__titulo{
        color: black;
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 20px;
    }

    &__parrafo{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        font-size: 16px;
        margin-left: 20px;
        padding-bottom: 20px;
    }

    &__imagen-mini{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &__titulo-mini{
        color: black;
        font-size: 16px;
        font-weight: bold;
        margin-left: 70px;
        margin-top: -60px;
    }

    &__parrafo-mini{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        margin-left: 70px;
        margin-top: -40px;
    }
    
}