.c-button{
    background-color: #3c84f4;
    border-color: #3c84f4;
    color: #FFFFFF;
    border-radius: 6px;
    border: 0px solid;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    cursor: pointer;

&--alternativo{
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    margin: 15px;
    padding: 25px;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: -30px;
    font-size: 15px;
}

&--alternativo#{&}--terciario{
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-left: 15px;
    margin-left: 20px;
    width: 100px;
    
}

&--terciario{
    color: #3c84f4;
    background-color: #FFFFFF;
    font-weight: bold;
    margin: 34px;
}

&--secundario{
    color: #316eee;
    background-color: #bed5ec;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 4px;
    width: 70px;
    height: 35px;
}

}

// &--principal{
//     background-color: #3c84f4;
//     color: #FFFFFF;
//     text-align: center;
//     padding-left: 30px;
//     padding-right: 30px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     border-radius: 6px;
//     border-color: #3c84f4;
//     margin: 30px;
//     margin-left: -150px;

// }



