.c-cabecera{
    margin: auto;
    display: flex;

    &__logo{
        height: 90px;
        padding-left: 250px;
        padding-right: 300px;
        padding-top: 30px;
        cursor: pointer;
    }

    &__item{
        margin: 25px;
        padding-top: 35px;
        color: #757b81;
        cursor: pointer;
    }
}