.c-creditos{
    display: inline-flex;
    text-align: left;

    &__copyright{
        color: gray;
        margin-left: 250px;
        margin-right: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__items{
        color: gray;
        margin-left: 10px;
        margin-right: 10px;;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    &__imagen{
        width: 20px;
        height: 20px;
        margin-left: 35px;
        margin-top: 20px;
    }
}