.c-option{
    display: block;
    text-align: left;

    &__titulo{
        color: black;
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding-bottom: 15px;
        margin-left: 650px;
        margin-top: -110px;
    }

    &__item{
        font-family: inherit;
        color: gray;
        font-size: 14px;
        padding-top: 20px;
        margin-left: 650px;
    }
}

.c-option-dos{
    display: block;
    text-align: left;

    &__titulo{
        color: black;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 15px;
        margin-left: 825px;
        margin-top: -165px;
    }

    &__item{
        font-family: inherit;
        color: gray;
        font-size: 14px;
        padding-top: 20px;
        margin-left: 825px;
    }
}

.c-option-tres{
    display: block;
    text-align: left;

    &__titulo{
        color: black;
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding-bottom: 15px;
        margin-left: 975px;
        margin-top: -165px;
    }

    &__item{
        font-family: inherit;
        color: gray;
        font-size: 16px;
        padding-top: 10px;
        margin-left: 975px;
    }

    &__box-email{
        font-size: 16px;
        width: 290px;
        margin-left: 975px;
        margin-top: 15px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid #CDCDCD;
        border-radius: 6px;
    }
}