.c-panel{
    display: block;
    text-align: center;
    padding: 0px;
    
    &__titulo{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
        font-weight: bold;
        color: #000000;
        padding-top: 250px;
        padding-bottom: 16px;

        &--azul{
            color: #6fd0f4;
        }

    }

    &__parrafo{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        font-size: 20px;
        padding-bottom: 20px;
    }

}

.c-panel-secundario{
    display: block;
    text-align: left;

    &__subtitulo{
        color: #2464ec;
        font-weight: bold;
        margin-left: 250px;
        margin-top: 150px;
    }

    &__titulo{
        color: #000000;
        font-weight: bold;
        font-size: 3.00rem;
        padding-top: 15px;
        padding-bottom: 30px;
        margin-left: 250px;
    }

    &__parrafo{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        font-size: 1.25rem;
        padding: 0px;
        margin-left: 250px;
    }

    &__imagen{
        width: 350px;
        height: 350px;
        float: right;
        margin-top: -300px;
        margin-right: 250px;
    }
}

.c-panel-terciario{
    display: block;
    text-align: left;

    &__imagen{
        height: 350px;
        float: left;
        margin-left: 250px;
        margin-top: -50px;
    }

    &__subtitulo{
        color: #2464ec;
        font-weight: bold;
        margin-left: 750px;
        margin-top: 150px;
    }

    &__titulo{
        color: #000000;
        font-weight: bold;
        font-size: 3.00rem;
        padding-top: 15px;
        padding-bottom: 30px;
        margin-left: 750px;
    }

    &__parrafo{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        font-size: 1.25rem;
        padding: 0px;
        margin-left: 750px;
    }
}

.c-panel-cuaternario{
    display: block;
    text-align: left;

    &__titulo{
        color: #000000;
        font-weight: bold;
        font-size: 2.20rem;
        padding-top: 15px;
        padding-bottom: 30px;
        margin-left: 250px;
    }

    &__titulo--azul{
        color: #2464ec;
        font-weight: bold;
        font-size: 2.20rem;
        padding-top: 5px;
        padding-bottom: 30px;
    }
}

.c-panel-final{
    display: block;
    text-align: left;

    &__imagen{
        height: 90px;
        padding-left: 245px;
        padding-right: 300px;
        padding-top: 30px;
        cursor: pointer;
    }

    &__parrafo{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        font-size: 18px;
        padding-top: 20px;
        margin-left: 250px;
    }
}