.c-section{
    display: inline-grid;
    margin-right: -215px;
    margin-left: 250px;
    
    &__titulo{
        color: black;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 15px;
    }

    &__parrafo{
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: gray;
        font-size: 16px;
    }
}