@function getPadding($key){
    @return map-get($paddings,""+$key);
}

@function getMargin($key){
    @return map-get($margins,""+$key);
}

@function getFontSize($key){
    @return map-get($font-sizes,""+$key);
}