@mixin borde ($colores, $ancho-borde){
    -webkit-border: getColors($colores), getBorderWidth($ancho-borde);
    -moz-border: getColors($colores), getBorderWidth($ancho-borde);
    border: getColors($colores), getBorderWidth($ancho-borde);
}