.c-table {
    overflow: auto;

    &__head {

    &--min-width-1{
        min-width: 100px;
    }
    &--min-width-2{
        min-width: 150px;
    }
    &--min-width-3{
        min-width: 200px;
    }
    &--max-width-1{
        max-width: 100px;
    }
    &--max-width-2{
        max-width: 150px;
    }
    &--max-width-3{
        max-width: 200px;
    }
     
}
}