.c-pelota{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 225px;
    top: 40px;

    &--animada{
        animation-name: caida-pelota;
        animation-duration: 9.4s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
}

@keyframes caida-pelota{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(550px);
    }
}