.c-panel{
    border: 1px solid #DBE6EE;
    margin: 10px;
    border-radius: 2px;

    &--deshabilitado{
        opacity: 0.2;
    }

    &__title{
        font-weight: bold;
        font-size: 14px;
    }
}