.g--border-width-getBorderWidthKeys() {
  border-width: getBorderWidth(getBorderWidthKeys()); }

@media (min-width: getTamanyoPantalla(getTamanyoPantallaKeys())) {
  .g--border-width-getBorderWidthKeys()\@getTamanyoPantallaKeys() {
    border-width: getBorderWidth(getBorderWidthKeys()); } }
