$keys: map-keys($colors);

@each $nombreColor in $keys{
    $listadoColores: map-get($colors, $nombreColor);

    $tamanyo: length($listadoColores);

    @if ($tamanyo == 1){
        .g--color-#{$nombreColor}{
            color: nth($listadoColores, 1)
        }
    } @else{


    @for $i from 0 to $tamanyo{
        .g--color-#{$nombreColor}-#{$i+1}{
            color: nth($listadoColores, $i+1)
        }
    }
}

}
