// $valor1: nth($colores, 1);
// $valor2: nth($colores, 2);

// @for $i from 0 to 1{
//     .g--color2-#{$i+1}{
//         color: nth($valor1, 1);
//     }
//     .g--color2-#{$i+2}{
//         color: nth($valor2, 1);
//     }
//     .g--color2-#{$i+1}{
//         color: nth($valor1, 2);
//     }
//     .g--color2-#{$i+2}{
//         color: nth($valor2, 2);
//     }
//     .g--color2-#{$i+1}{
//         color: nth($valor1, 3);
//     }
//     .g--color2-#{$i+2}{
//         color: nth($valor2, 3);
//     }
// }

@each $tema in $colores {
    @each $keycolor, $valorcolor in $tema {
        .g--color2-#{$keycolor}-#{index($colores,$tema)}{
            color: $valorcolor
        }
    }
}