$keys : map-keys($colorines);

@each $nombreColorin in $keys{
    $listaColores : map-get($colorines, $nombreColorin);
    @each $keycolor, $valorcolor in $listaColores{
        .g--color3-#{$nombreColorin}-#{$keycolor}{
            color: $valorcolor;
        }
        // @debug "keyocolorrr: " #{$keycolor};
        // @debug "valorcolorrr: " #{$valorcolor};
    }
}
    // $tonoColor: map-get($listaColores, $nombreColorin);

    // $tamanyo: length($tonoColor);

//     @for $i from 0 to $tamanyo{
//         .g--color3-#{$nombreColorin}-#{$i+1}{
//             color : nth($listaColores, $i+1)
//         }
//         .g--color3-#{$nombreColorin}-#{$i+2}{
//             color : nth($listaColores, $i+2)
//         }
//         .g--color3-#{$nombreColorin}-#{$i+3}{
//             color : nth($listaColores, $i+3)
//         }
//     } 
// }