.c-button{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    width: 140px;
    height: 30px;
    padding-top: 6px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: bold;

    &--secundario{
        background-color: white;
        color: blue;
        border: 1px solid blue;
    }
}