// Llamamos a las funciones y creamos los modificadores globales

.g--font-size{
    @each $key in getFontSizeKeys(){
        &-#{$key}{
            font-size: getFontSize($key);
        }
    }

// Ahora hacemos dentro del .g--border-width el modificador de pantalla
    @each $name in getBreakPointKeys(){
        @media(min-width: getBreakPoint($name)){
            @each $key in getFontSizeKeys(){
                &-#{$key}\@#{$name}{
                    font-size: getFontSize($key);
                }
            }
        }
    }
}