.l-horizontal{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1050px;

    &--sinmargen{
        margin:0;
        background-color: #b2c300;
        flex: 1.6;
        justify-content: flex-end;
    }
}