/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.c-button {
  display: inline-block;
  background-color: #0056B8;
  border: 1px solid #0056B8;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px 15px 10px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  cursor: pointer; }
  .c-button--secundario {
    background-color: #FFFFFF;
    color: #0056B8; }
  .c-button--terciario {
    border: none;
    background-color: #FFFFFF;
    color: #0056B8; }
  .c-button--alternativo {
    background-color: #ED8936;
    border-color: #ED8936; }
  .c-button--peligroso {
    background-color: #C53030;
    border-color: #C53030; }

.c-panel {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #0056B8;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px; }
  .c-panel--peligroso {
    background-color: #C53030;
    border-color: #C53030; }
  .c-panel--alternativo {
    background-color: #ED8936;
    border-color: #ED8936; }
  .c-panel__head {
    background-color: #0056B8;
    color: #FFFFFF;
    padding: 10px; }
    .c-panel__head--alternativo {
      background-color: #FCC772; }
    .c-panel__head--peligroso {
      background-color: #C53030; }
  .c-panel__body {
    padding: 10px;
    background-color: #FFFFFF;
    color: black; }
  .c-panel__footer {
    background-color: #F0F0F0;
    color: #202020;
    padding: 10px; }

.g--font-size-2XS {
  font-size: 11px; }

.g--font-size-XS {
  font-size: 12px; }

.g--font-size-S {
  font-size: 14px; }

.g--font-size-M {
  font-size: 16px; }

.g--font-size-L {
  font-size: 18px; }

.g--font-size-XL {
  font-size: 25px; }

.g--font-size-2XL {
  font-size: 50px; }

.g--font-size-3XL {
  font-size: 75px; }

.g--margin-AUTO {
  margin: auto; }

.g--margin-top-AUTO {
  margin-top: auto; }

.g--margin-bottom-AUTO {
  margin-bottom: auto; }

.g--margin-left-AUTO {
  margin-left: auto; }

.g--margin-right-AUTO {
  margin-right: auto; }

.g--margin-vertical-name {
  margin-top: auto;
  margin-bottom: auto; }

.g--margin-horizontal-name {
  margin-top: auto;
  margin-bottom: auto; }

.g--margin-3XS {
  margin: 4px; }

.g--margin-top-3XS {
  margin-top: 4px; }

.g--margin-bottom-3XS {
  margin-bottom: 4px; }

.g--margin-left-3XS {
  margin-left: 4px; }

.g--margin-right-3XS {
  margin-right: 4px; }

.g--margin-vertical-name {
  margin-top: 4px;
  margin-bottom: 4px; }

.g--margin-horizontal-name {
  margin-top: 4px;
  margin-bottom: 4px; }

.g--margin-2XS {
  margin: 8px; }

.g--margin-top-2XS {
  margin-top: 8px; }

.g--margin-bottom-2XS {
  margin-bottom: 8px; }

.g--margin-left-2XS {
  margin-left: 8px; }

.g--margin-right-2XS {
  margin-right: 8px; }

.g--margin-vertical-name {
  margin-top: 8px;
  margin-bottom: 8px; }

.g--margin-horizontal-name {
  margin-top: 8px;
  margin-bottom: 8px; }

.g--margin-XS {
  margin: 12px; }

.g--margin-top-XS {
  margin-top: 12px; }

.g--margin-bottom-XS {
  margin-bottom: 12px; }

.g--margin-left-XS {
  margin-left: 12px; }

.g--margin-right-XS {
  margin-right: 12px; }

.g--margin-vertical-name {
  margin-top: 12px;
  margin-bottom: 12px; }

.g--margin-horizontal-name {
  margin-top: 12px;
  margin-bottom: 12px; }

.g--margin-S {
  margin: 16px; }

.g--margin-top-S {
  margin-top: 16px; }

.g--margin-bottom-S {
  margin-bottom: 16px; }

.g--margin-left-S {
  margin-left: 16px; }

.g--margin-right-S {
  margin-right: 16px; }

.g--margin-vertical-name {
  margin-top: 16px;
  margin-bottom: 16px; }

.g--margin-horizontal-name {
  margin-top: 16px;
  margin-bottom: 16px; }

.g--margin-M {
  margin: 20px; }

.g--margin-top-M {
  margin-top: 20px; }

.g--margin-bottom-M {
  margin-bottom: 20px; }

.g--margin-left-M {
  margin-left: 20px; }

.g--margin-right-M {
  margin-right: 20px; }

.g--margin-vertical-name {
  margin-top: 20px;
  margin-bottom: 20px; }

.g--margin-horizontal-name {
  margin-top: 20px;
  margin-bottom: 20px; }

.g--margin-L {
  margin: 24px; }

.g--margin-top-L {
  margin-top: 24px; }

.g--margin-bottom-L {
  margin-bottom: 24px; }

.g--margin-left-L {
  margin-left: 24px; }

.g--margin-right-L {
  margin-right: 24px; }

.g--margin-vertical-name {
  margin-top: 24px;
  margin-bottom: 24px; }

.g--margin-horizontal-name {
  margin-top: 24px;
  margin-bottom: 24px; }

.g--margin-XL {
  margin: 32px; }

.g--margin-top-XL {
  margin-top: 32px; }

.g--margin-bottom-XL {
  margin-bottom: 32px; }

.g--margin-left-XL {
  margin-left: 32px; }

.g--margin-right-XL {
  margin-right: 32px; }

.g--margin-vertical-name {
  margin-top: 32px;
  margin-bottom: 32px; }

.g--margin-horizontal-name {
  margin-top: 32px;
  margin-bottom: 32px; }

.g--margin-2XL {
  margin: 40px; }

.g--margin-top-2XL {
  margin-top: 40px; }

.g--margin-bottom-2XL {
  margin-bottom: 40px; }

.g--margin-left-2XL {
  margin-left: 40px; }

.g--margin-right-2XL {
  margin-right: 40px; }

.g--margin-vertical-name {
  margin-top: 40px;
  margin-bottom: 40px; }

.g--margin-horizontal-name {
  margin-top: 40px;
  margin-bottom: 40px; }

.g--margin-3XL {
  margin: 48px; }

.g--margin-top-3XL {
  margin-top: 48px; }

.g--margin-bottom-3XL {
  margin-bottom: 48px; }

.g--margin-left-3XL {
  margin-left: 48px; }

.g--margin-right-3XL {
  margin-right: 48px; }

.g--margin-vertical-name {
  margin-top: 48px;
  margin-bottom: 48px; }

.g--margin-horizontal-name {
  margin-top: 48px;
  margin-bottom: 48px; }

.g--padding-AUTO {
  padding: auto; }

.g--padding-top-AUTO {
  padding-top: auto; }

.g--padding-bottom-AUTO {
  padding-bottom: auto; }

.g--padding-left-AUTO {
  padding-left: auto; }

.g--padding-right-AUTO {
  padding-right: auto; }

.g--padding-vertical-name {
  padding-top: auto;
  padding-bottom: auto; }

.g--padding-horizontal-name {
  padding-top: auto;
  padding-bottom: auto; }

.g--padding-3XS {
  padding: 4px; }

.g--padding-top-3XS {
  padding-top: 4px; }

.g--padding-bottom-3XS {
  padding-bottom: 4px; }

.g--padding-left-3XS {
  padding-left: 4px; }

.g--padding-right-3XS {
  padding-right: 4px; }

.g--padding-vertical-name {
  padding-top: 4px;
  padding-bottom: 4px; }

.g--padding-horizontal-name {
  padding-top: 4px;
  padding-bottom: 4px; }

.g--padding-2XS {
  padding: 8px; }

.g--padding-top-2XS {
  padding-top: 8px; }

.g--padding-bottom-2XS {
  padding-bottom: 8px; }

.g--padding-left-2XS {
  padding-left: 8px; }

.g--padding-right-2XS {
  padding-right: 8px; }

.g--padding-vertical-name {
  padding-top: 8px;
  padding-bottom: 8px; }

.g--padding-horizontal-name {
  padding-top: 8px;
  padding-bottom: 8px; }

.g--padding-XS {
  padding: 12px; }

.g--padding-top-XS {
  padding-top: 12px; }

.g--padding-bottom-XS {
  padding-bottom: 12px; }

.g--padding-left-XS {
  padding-left: 12px; }

.g--padding-right-XS {
  padding-right: 12px; }

.g--padding-vertical-name {
  padding-top: 12px;
  padding-bottom: 12px; }

.g--padding-horizontal-name {
  padding-top: 12px;
  padding-bottom: 12px; }

.g--padding-S {
  padding: 16px; }

.g--padding-top-S {
  padding-top: 16px; }

.g--padding-bottom-S {
  padding-bottom: 16px; }

.g--padding-left-S {
  padding-left: 16px; }

.g--padding-right-S {
  padding-right: 16px; }

.g--padding-vertical-name {
  padding-top: 16px;
  padding-bottom: 16px; }

.g--padding-horizontal-name {
  padding-top: 16px;
  padding-bottom: 16px; }

.g--padding-M {
  padding: 20px; }

.g--padding-top-M {
  padding-top: 20px; }

.g--padding-bottom-M {
  padding-bottom: 20px; }

.g--padding-left-M {
  padding-left: 20px; }

.g--padding-right-M {
  padding-right: 20px; }

.g--padding-vertical-name {
  padding-top: 20px;
  padding-bottom: 20px; }

.g--padding-horizontal-name {
  padding-top: 20px;
  padding-bottom: 20px; }

.g--padding-L {
  padding: 24px; }

.g--padding-top-L {
  padding-top: 24px; }

.g--padding-bottom-L {
  padding-bottom: 24px; }

.g--padding-left-L {
  padding-left: 24px; }

.g--padding-right-L {
  padding-right: 24px; }

.g--padding-vertical-name {
  padding-top: 24px;
  padding-bottom: 24px; }

.g--padding-horizontal-name {
  padding-top: 24px;
  padding-bottom: 24px; }

.g--padding-XL {
  padding: 32px; }

.g--padding-top-XL {
  padding-top: 32px; }

.g--padding-bottom-XL {
  padding-bottom: 32px; }

.g--padding-left-XL {
  padding-left: 32px; }

.g--padding-right-XL {
  padding-right: 32px; }

.g--padding-vertical-name {
  padding-top: 32px;
  padding-bottom: 32px; }

.g--padding-horizontal-name {
  padding-top: 32px;
  padding-bottom: 32px; }

.g--padding-2XL {
  padding: 40px; }

.g--padding-top-2XL {
  padding-top: 40px; }

.g--padding-bottom-2XL {
  padding-bottom: 40px; }

.g--padding-left-2XL {
  padding-left: 40px; }

.g--padding-right-2XL {
  padding-right: 40px; }

.g--padding-vertical-name {
  padding-top: 40px;
  padding-bottom: 40px; }

.g--padding-horizontal-name {
  padding-top: 40px;
  padding-bottom: 40px; }

.g--padding-3XL {
  padding: 48px; }

.g--padding-top-3XL {
  padding-top: 48px; }

.g--padding-bottom-3XL {
  padding-bottom: 48px; }

.g--padding-left-3XL {
  padding-left: 48px; }

.g--padding-right-3XL {
  padding-right: 48px; }

.g--padding-vertical-name {
  padding-top: 48px;
  padding-bottom: 48px; }

.g--padding-horizontal-name {
  padding-top: 48px;
  padding-bottom: 48px; }
