// Solución

$claves-texto: map-keys($texto);

@each $clave-texto in $claves-texto {

    $valor-texto: map-get($texto,""+$clave-texto);

    $font-family: map-get($valor-texto, "font-family");
    $font-sizes: map-get($valor-texto, "font-sizes");

    $claves-font-sizes: map-keys($font-sizes);

    @each $clave-font-sizes in $claves-font-sizes{

        $valor-font-sizes: map-get($font-sizes, ""+$clave-font-sizes);

        .g--#{$clave-texto}-#{$clave-font-sizes} {
            font-family: $font-family;
            font-size: $valor-font-sizes;
        }
    }
}


// $keys: map-keys($texto);

// @each $name in $keys{
//     @each $name2 in $keys{
//     $fonts: map-get($texto, $name);
//     $family: map-get($fonts, "font-family");

//     $sizes: map-get($texto, $name2);
//     $size: map-get($sizes, "font-sizes");

//     @each $key, $value in $size{
//         .g--parrafo-#{$key}{
//             font-family: $family;
//             font-size: $value;
//         }

//         .g--titulo-#{$key}{
//             font-family: $family;
//             font-size: $value;
//         }
//     }
// }
// }