.c-icono{

    &--grande{
        animation-name: icono-destacado;
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-iteration-count: 2;
        animation-direction: alternate;
    }
}

@keyframes icono-destacado{
    
    100%{
        font-size: 100px;
        color: rgb(51, 240, 183);
    }
}