@function getBorderWidth($key){
    @return unquote(map-get($border-width,""+$key));
}

@function getBorderWidthKeys(){
    @return map-keys($border-width);
}

@function getBreakPoint($key){
    @return unquote(map-get($break-points,""+$key));
}

@function getBreakPointKeys(){
    @return map-keys($break-points);
} 