.c-antetitle{
    color: #bfbebb;
    background-color: getColor("azul", 5);
    margin-top: getMargin("2xl");
    margin-right: getMargin("2xs");
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 3px;

    &--limitedBox{
        width: 240px;
        height: 22px;
    }
}