.c-button{
    display: flex;
    align-items: center;
    color: getColor("amarillo", 4);
    background-color: $background-color;
    border: getColor("gris", 5) 1px solid;
    border-radius: getBorderRadius("s");
    font-size: getFontSize("s");
    font-family: getFontSize("Normal");
    margin-right: getMargin("xs");
    margin-top: getMargin("2xl");
    cursor: pointer;

    &--terciario{
        color: getColor("amarillo", 6);
        border: getColor("blanco", 1);
        margin-top: getMargin("3xs");
        padding: getPadding("4xs");
        margin-left: getMargin("4xs");
    }

    &--alternativo{
        color: getColor("azul", 1);
    }

    &--alternativo#{&}--terciario{
        color: getColor("azul", 1);
        font-size: getFontSize("3xs");
        padding-top: getPadding("3xs");
        padding: 3px 6px 5px 6px;
        background-color: transparent;
    }
}