.c-imagen{
    cursor: pointer;

    &--logo-web{
        width: getWidth("3xl");
        height: getHeight("3xl");
    }

    &--logo-nasa{
        width: getWidth("l");
        height: getHeight("2xl");
        margin: getMargin("4xs");
        margin-left: 12px;
        margin-top: getMargin("xs");
    }

    &--logo-esa{
        width: getWidth("3xl");
        height: getHeight("2xl");
        margin: getMargin("4xs");
        margin-right: getMargin("m");
        margin-top: getMargin("xs");
    }

    &--logo-csa{
        width: getWidth("s");
        height: getHeight("2xl");
        margin: getMargin("4xs");
        margin-right: getMargin("m");
        margin-top: getMargin("xs");
    }

    &--logos-header{
        width: getWidth("2xs");
        height: getHeight("xl");
        margin-top: getMargin("m");
    }
}

@media (min-width: 500px){
    .c-imagen{
        &--logos-header{
            width: 30px;
            height: 30px;
            margin-top: 25px;
        }

    }
}

@media (min-width: 768px){
    .c-imagen{
        &--logos-header{
            width: 30px;
            height: 30px;
            margin-top: 25px;
        }

    }
}

@media (min-width: 992px){
    .c-imagen{
        &--logos-header{
            width: 30px;
            height: 30px;
            margin-top: 25px;
        }

    }
}

@media (min-width: 500px){
    .c-imagen{
        &--logo-nasa{
            width: 55px;
            height: 42px;
            margin-left: 10px;
            margin-top: 24px;
        }

    }
}

@media (min-width: 768px){
    .c-imagen{
        &--logo-nasa{
            width: 90px;
            height: 70px;
            margin-left: 8px;
            margin-top: 8px;
        }

    }
}

@media (min-width: 992px){
    .c-imagen{
        &--logo-nasa{
            width: getWidth("l");
            height: getHeight("2xl");
            margin: getMargin("4xs");
            margin-left: 12px;
            margin-top: getMargin("xs");
        }

    }
}