.c-james{
    max-width: getWidth("5xl");
    height: getHeight("5xl");
    margin-top: getMargin("6xl");
    min-height: 425px;
    position: relative;
    padding: 10vh 10vh 0 10vh;
    background: top left/90px 90px repeat url(/widgets/deploymentExplorer/current/images/crossHairPattern2-107px.png),radial-gradient(#000855 10%,#000 60%);

    &__image{
        width: 100%;
        height: auto;
        filter: drop-shadow(2px 2px 8px #449);
    }
}

@media (max-width: 992px){
    .c-james{
        order: 1;
        width: 100%;
        min-height: unset;
        height: auto;
        max-width: 100%;
        padding: 0px;
        margin: 0px;

    }
}