.c-lista-pie{
    margin-top: getMargin("m");
    margin-right: getMargin("m");

    &__header{
        color: getColor("blanco", 9);
        font-size: getFontSize("0xl");
        margin-bottom: getMargin("m");
        font-weight: bold;
        width: getWidth("4xl");
    }

    &__item{
        color: getColor("azul", 1);
        font-size: getFontSize("s");
        border-top: getColor("gris", 5) 1px solid;
        width: getWidth("4xl");
    }
}