.c-metrica{
    
    &__label{
        color: getColor("blanco", 1);
        font-size: getFontSize("xs");
        text-align: center;
        font-family: getFontFamily("Serif");
        }
    
    &__value_up{
        color: getColor("amarillo", 6);
        font-size: getFontSize("0xl");
        font-family: getFontFamily("Serif");
        text-align: right;

        &--cifrasWhite{
            color: getColor("blanco", 1);
            font-size: getFontSize("xs");
        }
    }

    &__value_down{
        color: getColor("amarillo", 6);
        font-size: getFontSize("0xl");
        font-family: getFontFamily("Serif");
        text-align: right;

        &--cifrasWhite{
            color: getColor("blanco", 1);
            font-size: getFontSize("xs");
        }

        &--cifrasBigWhite{
            color: getColor("blanco", 1);
            font-size: getFontSize("l");
        }

        &--cifrasBlue{
            color: getColor("azul", 1);
            font-size: getFontSize("l");
        }
        
    }
}