.c-subtitle{
    color: getColor("blanco", 1);
    font-size: getFontSize("m");
    font-weight: bold;
    margin-bottom: getMargin("m");
    margin-top: getMargin("3xs");

    &--gray{
        font-size: getFontSize("2xs");
        color: getColor("gris", 2);
        font-family: getFontFamily("Serif");
        font-weight: normal;
    }
}

@media (min-width: 500px) {
    .c-subtitle {
        &--gray{
            visibility: hidden;
        }
        
    }
}
  
@media (min-width: 768px) {
    .c-subtitle {
        &--gray{
            font-size: 12px;
            visibility: visible;
        }
        
    }
}

@media (min-width: 992px) {
    .c-subtitle {
        &--gray{
            font-size: 14px;
            visibility: visible;
        }
        
    }
}