.c-title{
    color: getColor("amarillo", 6);
    font-size: getFontSize("2xl");
    font-weight: bold;
    font-family: getFontFamily("Serif");
    font-weight: normal;
    margin-bottom: getMargin("m");

    &--white{
        color: getColor("blanco", 9);
        margin-top: getMargin("xl");
        font-size: getFontSize("l");
        margin-bottom: getMargin("4xs");
    }

}

@media (min-width: 500px) {
    .c-title {
        &--white{
            font-size: 16px;
            text-align:center;
        }
        
    }
}
  
@media (min-width: 768px) {
    .c-title {
        &--white{
            font-size: 18px;
        }
        
    }
}

@media (min-width: 992px) {
    .c-title {
        &--white{
            font-size: 24px;
        }
        
    }
}
