.c-text{
    color: getColor("gris", 1);
    font-size: getFontSize("xs");
    font-family: getFontFamily("Serif");
    margin-bottom: getMargin("m");

    &--alt{
        color: getColor("amarillo", 6);
    }
}