.c-button{
    background-color: $blue;
    border: $blue_oscuro 1px solid;
    color: $white;

    margin: $margin;
    border-radius: $border-radius;

    &--secundario{
        background-color: $white;
        color: $blue;
    }

    &--alternativo{
        background-color: $green;
        border: $green_oscuro 1px solid;
    }

    &--alternativo#{&}--secundario{
        background-color: $white;
        color: $green;
    }
}