.c-panel{
    border: purple 1px solid;

    &__titulo{
        text-decoration: underline;
    }

    &__titulo--no-subrayado{
        text-decoration: none;
    }

    &__contenido{
        font-family:Arial, Helvetica, sans-serif;
    }
}