.c-button{
        background-color: #3c84f4;
    border:lightblue 1px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
        height: 45px;
         padding-top: 5px;
         padding-bottom: 10px;
  
    &--secundario {
background-color: linear-gradient(100deg, #0199e6 0%, #68b6e7 100%);
        color: white;

    }

    &--terciario {
        background-color: white;
                border: none;
                        color: #3c84f4;
        
            }

    &--alternativo {
                background-color: black;
                 border-radius:3px black solid ;
                        color: white;
                    }


} 
   







