.c-card{

    border: 2px solid #CDCDCD;
    border-radius: 10px;
    margin-left: 10px;

    &__image{
        width: 330px;
        height: 170px;
        border-radius: 10px 10px 0px 0px;  

        &--mini{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        }
    }
}