// .c-subtitle{
//     color: #2464ec;
//     margin-bottom: 20px;
//     margin-top: 100px;
//     font-weight: bold;
// }

.c-subtitle{
    margin: auto;
    padding-right: 15px;
    color: blue;
    font-size: 20px;
    
    } 