.c-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;

    &--destacado {
        color: blue;
    }

    &--degradado {
        background: -webkit-linear-gradient(left, blue, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--size-L {
        font-size: 55px;
    }

    &--size-S {
        font-size: 35px;
    }

    &--size-XS {
        font-size: 25px;
    }

    &--size-XXS {
        font-size: 15px;
    }
}
