.c-tag{
    color: #316eee;
    background-color: #bed5ec;
    font-weight: bold;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 70px;
    height: 35px;
}