.segundoapellido{
    opacity: 1;
    transition: opacity 1s linear;
}

.ocultar-segundoapellido{
   opacity: 0;
}

.borde-cambiado{
    transition: border 1s ease-in-out;
    
}
.borde-cambiado:focus{
    outline: none;
    border: ridge;
    border-width: 10px;
    border-color: red;
    border-radius: 6px;
}