@each $key in getMarginKeys(){
    .g--margin-#{$key} {
        margin: getMargin($key);
      }
      .g--margin-top-#{$key} {
        margin-top: getMargin($key);
      }
      .g--margin-bottom-#{$key} {
        margin-bottom: getMargin($key);
      }
      .g--margin-left-#{$key} {
        margin-left: getMargin($key);
      }
      .g--margin-right-#{$key} {
        margin-right: getMargin($key);
      }
      .g--margin-vertical-#{key}{
        margin-top: getMargin($key);
        margin-bottom: getMargin($key);
      }
      .g--margin-horizontal-#{key}{
        margin-left: getMargin($key);
        margin-right: getMargin($key);
      }
}