.g--circle{
    height: getHeight("xs");
    width: getWidth("4xs");
    display: table-cell;
    text-align: center;
    font-size: getFontSize("3xs");
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #333333;
    color: getColor("gris", 2);
}
