@function getMargin($key){
    @return map-get($margins,""+$key);
}

@function getPadding($key){
    @return map-get($paddings,""+$key);
}

@function getMarginKeys(){
    @return map-keys($margins);
}

@function getPaddingKeys(){
    @return map-keys($paddings);
}

@function getFontSize($key){
    @return map-get($font-sizes,""+$key);
}

@function getFontFamily($key){
    @return unquote(map-get($font-families,""+$key));
}

@function getColor($key, $index){
    @return map-get(map-get($colors,""+$key),$index);
}

@function getBorderRadius($key){
    @return map-get($borders,""+$key);
}

@function getWidth($key){
    @return map-get($widths,""+$key);
}

@function getHeight($key){
    @return map-get($heights,""+$key);
}