.g--box-shadow-0 {
  -webkit-box-shadow: 0 1px 3px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 1px 3px hsla(0,0%,0%,.2);
  box-shadow: 0 1px 3px hsla(0,0%,0%,.2); }

.g--box-shadow-1 {
  -webkit-box-shadow: 0 4px 6 px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 4px 6 px hsla(0,0%,0%,.2);
  box-shadow: 0 4px 6 px hsla(0,0%,0%,.2); }

.g--box-shadow-2 {
  -webkit-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 5px 15px hsla(0,0%,0%,.2);
  box-shadow: 0 5px 15px hsla(0,0%,0%,.2); }

.g--box-shadow-3 {
  -webkit-box-shadow: 0 10px 24px hsla(0,0%,0%,.2);
  -moz-box-shadow: 0 10px 24px hsla(0,0%,0%,.2);
  box-shadow: 0 10px 24px hsla(0,0%,0%,.2); }
