/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.c-cuadrado {
  width: 40px;
  height: 40px;
  transition: width 5s;
  background-color: #33FF00;
  cursor: pointer; }
  .c-cuadrado--border-width {
    width: 100px;
    height: 100px;
    background-color: #C70700;
    border: 2px solid #2F8398; }

.c-cuadrado:hover {
  width: 25%; }

.c-noticia {
  width: 500px;
  height: 100px;
  background-color: #EDEDED; }
  .c-noticia--exito {
    border-left: 16px solid #56FF38; }
  .c-noticia--peligro {
    border-left: 16px solid #FF4238; }
  .c-noticia--informacion {
    border-left: 16px solid #67B2D0; }
  .c-noticia--aviso {
    border-left: 16px solid #F4A652; }
  .c-noticia--lg {
    border-left: 16px solid #616161;
    width: 600px;
    height: 200px; }
  .c-noticia--sm {
    border-left: 16px solid #616161;
    width: 40px;
    height: 20px; }
  .c-noticia__texto {
    font-size: 16px; }
  .c-noticia--desaparecer {
    animation-name: desaparecer;
    animation-duration: 8s;
    animation-timing-function: ease-in-out; }

@keyframes desaparecer {
  0% {
    opacity: 1.0;
    transform: translateX(0px); }
  100% {
    transform: translateX(1500px);
    opacity: 0; } }

.g--border-width-1 {
  border-width: 1px; }

.g--border-width-2 {
  border-width: 4px; }

.g--border-width-3 {
  border-width: 8px; }

.g--border-width-4 {
  border-width: 16px; }

.g--border-width-5 {
  border-width: 32px; }

@media (min-width: 500px) {
  .g--border-width-1\@sm {
    border-width: 1px; }
  .g--border-width-2\@sm {
    border-width: 4px; }
  .g--border-width-3\@sm {
    border-width: 8px; }
  .g--border-width-4\@sm {
    border-width: 16px; }
  .g--border-width-5\@sm {
    border-width: 32px; } }

@media (min-width: 700px) {
  .g--border-width-1\@md {
    border-width: 1px; }
  .g--border-width-2\@md {
    border-width: 4px; }
  .g--border-width-3\@md {
    border-width: 8px; }
  .g--border-width-4\@md {
    border-width: 16px; }
  .g--border-width-5\@md {
    border-width: 32px; } }

@media (min-width: 900px) {
  .g--border-width-1\@lg {
    border-width: 1px; }
  .g--border-width-2\@lg {
    border-width: 4px; }
  .g--border-width-3\@lg {
    border-width: 8px; }
  .g--border-width-4\@lg {
    border-width: 16px; }
  .g--border-width-5\@lg {
    border-width: 32px; } }

@media (min-width: 1024px) {
  .g--border-width-1\@xl {
    border-width: 1px; }
  .g--border-width-2\@xl {
    border-width: 4px; }
  .g--border-width-3\@xl {
    border-width: 8px; }
  .g--border-width-4\@xl {
    border-width: 16px; }
  .g--border-width-5\@xl {
    border-width: 32px; } }

.g--font-size-4xs {
  font-size: 12px; }

.g--font-size-3xs {
  font-size: 14px; }

.g--font-size-2xs {
  font-size: 16px; }

.g--font-size-xs {
  font-size: 18px; }

.g--font-size-s {
  font-size: 20px; }

.g--font-size-m {
  font-size: 24px; }

.g--font-size-l {
  font-size: 30px; }

.g--font-size-xl {
  font-size: 36px; }

.g--font-size-2xl {
  font-size: 48px; }

.g--font-size-3xl {
  font-size: 64px; }

.g--height-3xs {
  height: 20px; }

.g--height-2xs {
  height: 40px; }

.g--height-xs {
  height: 50px; }

.g--height-s {
  height: 100px; }

.g--height-m {
  height: 150px; }

.g--height-l {
  height: 200px; }

.g--width-2xs {
  width: 40px; }

.g--width-xs {
  width: 100px; }

.g--width-s {
  width: 200px; }

.g--width-m {
  width: 500px; }

.g--width-l {
  width: 600px; }

.g--margin-9xs {
  margin: 0px; }

.g--margin-top-9xs {
  margin-top: 0px; }

.g--margin-bottom-9xs {
  margin-bottom: 0px; }

.g--margin-left-9xs {
  margin-left: 0px; }

.g--margin-right-9xs {
  margin-right: 0px; }

.g--margin-vertical-9xs {
  margin-top: 0px;
  margin-bottom: 0px; }

.g--margin-horizontal-9xs {
  margin-left: 0px;
  margin-right: 0px; }

.g--margin-8xs {
  margin: 4px; }

.g--margin-top-8xs {
  margin-top: 4px; }

.g--margin-bottom-8xs {
  margin-bottom: 4px; }

.g--margin-left-8xs {
  margin-left: 4px; }

.g--margin-right-8xs {
  margin-right: 4px; }

.g--margin-vertical-8xs {
  margin-top: 4px;
  margin-bottom: 4px; }

.g--margin-horizontal-8xs {
  margin-left: 4px;
  margin-right: 4px; }

.g--margin-7xs {
  margin: 8px; }

.g--margin-top-7xs {
  margin-top: 8px; }

.g--margin-bottom-7xs {
  margin-bottom: 8px; }

.g--margin-left-7xs {
  margin-left: 8px; }

.g--margin-right-7xs {
  margin-right: 8px; }

.g--margin-vertical-7xs {
  margin-top: 8px;
  margin-bottom: 8px; }

.g--margin-horizontal-7xs {
  margin-left: 8px;
  margin-right: 8px; }

.g--margin-6xs {
  margin: 12px; }

.g--margin-top-6xs {
  margin-top: 12px; }

.g--margin-bottom-6xs {
  margin-bottom: 12px; }

.g--margin-left-6xs {
  margin-left: 12px; }

.g--margin-right-6xs {
  margin-right: 12px; }

.g--margin-vertical-6xs {
  margin-top: 12px;
  margin-bottom: 12px; }

.g--margin-horizontal-6xs {
  margin-left: 12px;
  margin-right: 12px; }

.g--margin-5xs {
  margin: 16px; }

.g--margin-top-5xs {
  margin-top: 16px; }

.g--margin-bottom-5xs {
  margin-bottom: 16px; }

.g--margin-left-5xs {
  margin-left: 16px; }

.g--margin-right-5xs {
  margin-right: 16px; }

.g--margin-vertical-5xs {
  margin-top: 16px;
  margin-bottom: 16px; }

.g--margin-horizontal-5xs {
  margin-left: 16px;
  margin-right: 16px; }

.g--margin-4xs {
  margin: 20px; }

.g--margin-top-4xs {
  margin-top: 20px; }

.g--margin-bottom-4xs {
  margin-bottom: 20px; }

.g--margin-left-4xs {
  margin-left: 20px; }

.g--margin-right-4xs {
  margin-right: 20px; }

.g--margin-vertical-4xs {
  margin-top: 20px;
  margin-bottom: 20px; }

.g--margin-horizontal-4xs {
  margin-left: 20px;
  margin-right: 20px; }

.g--margin-3xs {
  margin: 24px; }

.g--margin-top-3xs {
  margin-top: 24px; }

.g--margin-bottom-3xs {
  margin-bottom: 24px; }

.g--margin-left-3xs {
  margin-left: 24px; }

.g--margin-right-3xs {
  margin-right: 24px; }

.g--margin-vertical-3xs {
  margin-top: 24px;
  margin-bottom: 24px; }

.g--margin-horizontal-3xs {
  margin-left: 24px;
  margin-right: 24px; }

.g--margin-2xs {
  margin: 32px; }

.g--margin-top-2xs {
  margin-top: 32px; }

.g--margin-bottom-2xs {
  margin-bottom: 32px; }

.g--margin-left-2xs {
  margin-left: 32px; }

.g--margin-right-2xs {
  margin-right: 32px; }

.g--margin-vertical-2xs {
  margin-top: 32px;
  margin-bottom: 32px; }

.g--margin-horizontal-2xs {
  margin-left: 32px;
  margin-right: 32px; }

.g--margin-xs {
  margin: 40px; }

.g--margin-top-xs {
  margin-top: 40px; }

.g--margin-bottom-xs {
  margin-bottom: 40px; }

.g--margin-left-xs {
  margin-left: 40px; }

.g--margin-right-xs {
  margin-right: 40px; }

.g--margin-vertical-xs {
  margin-top: 40px;
  margin-bottom: 40px; }

.g--margin-horizontal-xs {
  margin-left: 40px;
  margin-right: 40px; }

.g--margin-s {
  margin: 48px; }

.g--margin-top-s {
  margin-top: 48px; }

.g--margin-bottom-s {
  margin-bottom: 48px; }

.g--margin-left-s {
  margin-left: 48px; }

.g--margin-right-s {
  margin-right: 48px; }

.g--margin-vertical-s {
  margin-top: 48px;
  margin-bottom: 48px; }

.g--margin-horizontal-s {
  margin-left: 48px;
  margin-right: 48px; }

.g--margin-m {
  margin: 64px; }

.g--margin-top-m {
  margin-top: 64px; }

.g--margin-bottom-m {
  margin-bottom: 64px; }

.g--margin-left-m {
  margin-left: 64px; }

.g--margin-right-m {
  margin-right: 64px; }

.g--margin-vertical-m {
  margin-top: 64px;
  margin-bottom: 64px; }

.g--margin-horizontal-m {
  margin-left: 64px;
  margin-right: 64px; }

.g--margin-l {
  margin: 80px; }

.g--margin-top-l {
  margin-top: 80px; }

.g--margin-bottom-l {
  margin-bottom: 80px; }

.g--margin-left-l {
  margin-left: 80px; }

.g--margin-right-l {
  margin-right: 80px; }

.g--margin-vertical-l {
  margin-top: 80px;
  margin-bottom: 80px; }

.g--margin-horizontal-l {
  margin-left: 80px;
  margin-right: 80px; }

.g--margin-xl {
  margin: 96px; }

.g--margin-top-xl {
  margin-top: 96px; }

.g--margin-bottom-xl {
  margin-bottom: 96px; }

.g--margin-left-xl {
  margin-left: 96px; }

.g--margin-right-xl {
  margin-right: 96px; }

.g--margin-vertical-xl {
  margin-top: 96px;
  margin-bottom: 96px; }

.g--margin-horizontal-xl {
  margin-left: 96px;
  margin-right: 96px; }

.g--margin-2xl {
  margin: 128px; }

.g--margin-top-2xl {
  margin-top: 128px; }

.g--margin-bottom-2xl {
  margin-bottom: 128px; }

.g--margin-left-2xl {
  margin-left: 128px; }

.g--margin-right-2xl {
  margin-right: 128px; }

.g--margin-vertical-2xl {
  margin-top: 128px;
  margin-bottom: 128px; }

.g--margin-horizontal-2xl {
  margin-left: 128px;
  margin-right: 128px; }

.g--margin-3xl {
  margin: 160px; }

.g--margin-top-3xl {
  margin-top: 160px; }

.g--margin-bottom-3xl {
  margin-bottom: 160px; }

.g--margin-left-3xl {
  margin-left: 160px; }

.g--margin-right-3xl {
  margin-right: 160px; }

.g--margin-vertical-3xl {
  margin-top: 160px;
  margin-bottom: 160px; }

.g--margin-horizontal-3xl {
  margin-left: 160px;
  margin-right: 160px; }

.g--margin-4xl {
  margin: 192px; }

.g--margin-top-4xl {
  margin-top: 192px; }

.g--margin-bottom-4xl {
  margin-bottom: 192px; }

.g--margin-left-4xl {
  margin-left: 192px; }

.g--margin-right-4xl {
  margin-right: 192px; }

.g--margin-vertical-4xl {
  margin-top: 192px;
  margin-bottom: 192px; }

.g--margin-horizontal-4xl {
  margin-left: 192px;
  margin-right: 192px; }

.g--margin-5xl {
  margin: 224px; }

.g--margin-top-5xl {
  margin-top: 224px; }

.g--margin-bottom-5xl {
  margin-bottom: 224px; }

.g--margin-left-5xl {
  margin-left: 224px; }

.g--margin-right-5xl {
  margin-right: 224px; }

.g--margin-vertical-5xl {
  margin-top: 224px;
  margin-bottom: 224px; }

.g--margin-horizontal-5xl {
  margin-left: 224px;
  margin-right: 224px; }

.g--margin-6xl {
  margin: 256px; }

.g--margin-top-6xl {
  margin-top: 256px; }

.g--margin-bottom-6xl {
  margin-bottom: 256px; }

.g--margin-left-6xl {
  margin-left: 256px; }

.g--margin-right-6xl {
  margin-right: 256px; }

.g--margin-vertical-6xl {
  margin-top: 256px;
  margin-bottom: 256px; }

.g--margin-horizontal-6xl {
  margin-left: 256px;
  margin-right: 256px; }

.g--margin-7xl {
  margin: 320px; }

.g--margin-top-7xl {
  margin-top: 320px; }

.g--margin-bottom-7xl {
  margin-bottom: 320px; }

.g--margin-left-7xl {
  margin-left: 320px; }

.g--margin-right-7xl {
  margin-right: 320px; }

.g--margin-vertical-7xl {
  margin-top: 320px;
  margin-bottom: 320px; }

.g--margin-horizontal-7xl {
  margin-left: 320px;
  margin-right: 320px; }

.g--margin-8xl {
  margin: 480px; }

.g--margin-top-8xl {
  margin-top: 480px; }

.g--margin-bottom-8xl {
  margin-bottom: 480px; }

.g--margin-left-8xl {
  margin-left: 480px; }

.g--margin-right-8xl {
  margin-right: 480px; }

.g--margin-vertical-8xl {
  margin-top: 480px;
  margin-bottom: 480px; }

.g--margin-horizontal-8xl {
  margin-left: 480px;
  margin-right: 480px; }

.g--margin-9xl {
  margin: 640px; }

.g--margin-top-9xl {
  margin-top: 640px; }

.g--margin-bottom-9xl {
  margin-bottom: 640px; }

.g--margin-left-9xl {
  margin-left: 640px; }

.g--margin-right-9xl {
  margin-right: 640px; }

.g--margin-vertical-9xl {
  margin-top: 640px;
  margin-bottom: 640px; }

.g--margin-horizontal-9xl {
  margin-left: 640px;
  margin-right: 640px; }

.g--margin-auto {
  margin: auto; }

.g--margin-top-auto {
  margin-top: auto; }

.g--margin-bottom-auto {
  margin-bottom: auto; }

.g--margin-left-auto {
  margin-left: auto; }

.g--margin-right-auto {
  margin-right: auto; }

.g--margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto; }

.g--margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto; }

.g--padding-9xs {
  padding: 0px; }

.g--padding-top-9xs {
  padding-top: 0px; }

.g--padding-bottom-9xs {
  padding-bottom: 0px; }

.g--padding-left-9xs {
  padding-left: 0px; }

.g--padding-right-9xs {
  padding-right: 0px; }

.g--padding-vertical-9xs {
  padding-top: 0px;
  padding-bottom: 0px; }

.g--padding-horizontal-9xs {
  padding-left: 0px;
  padding-right: 0px; }

.g--padding-8xs {
  padding: 4px; }

.g--padding-top-8xs {
  padding-top: 4px; }

.g--padding-bottom-8xs {
  padding-bottom: 4px; }

.g--padding-left-8xs {
  padding-left: 4px; }

.g--padding-right-8xs {
  padding-right: 4px; }

.g--padding-vertical-8xs {
  padding-top: 4px;
  padding-bottom: 4px; }

.g--padding-horizontal-8xs {
  padding-left: 4px;
  padding-right: 4px; }

.g--padding-7xs {
  padding: 8px; }

.g--padding-top-7xs {
  padding-top: 8px; }

.g--padding-bottom-7xs {
  padding-bottom: 8px; }

.g--padding-left-7xs {
  padding-left: 8px; }

.g--padding-right-7xs {
  padding-right: 8px; }

.g--padding-vertical-7xs {
  padding-top: 8px;
  padding-bottom: 8px; }

.g--padding-horizontal-7xs {
  padding-left: 8px;
  padding-right: 8px; }

.g--padding-6xs {
  padding: 12px; }

.g--padding-top-6xs {
  padding-top: 12px; }

.g--padding-bottom-6xs {
  padding-bottom: 12px; }

.g--padding-left-6xs {
  padding-left: 12px; }

.g--padding-right-6xs {
  padding-right: 12px; }

.g--padding-vertical-6xs {
  padding-top: 12px;
  padding-bottom: 12px; }

.g--padding-horizontal-6xs {
  padding-left: 12px;
  padding-right: 12px; }

.g--padding-5xs {
  padding: 16px; }

.g--padding-top-5xs {
  padding-top: 16px; }

.g--padding-bottom-5xs {
  padding-bottom: 16px; }

.g--padding-left-5xs {
  padding-left: 16px; }

.g--padding-right-5xs {
  padding-right: 16px; }

.g--padding-vertical-5xs {
  padding-top: 16px;
  padding-bottom: 16px; }

.g--padding-horizontal-5xs {
  padding-left: 16px;
  padding-right: 16px; }

.g--padding-4xs {
  padding: 20px; }

.g--padding-top-4xs {
  padding-top: 20px; }

.g--padding-bottom-4xs {
  padding-bottom: 20px; }

.g--padding-left-4xs {
  padding-left: 20px; }

.g--padding-right-4xs {
  padding-right: 20px; }

.g--padding-vertical-4xs {
  padding-top: 20px;
  padding-bottom: 20px; }

.g--padding-horizontal-4xs {
  padding-left: 20px;
  padding-right: 20px; }

.g--padding-3xs {
  padding: 24px; }

.g--padding-top-3xs {
  padding-top: 24px; }

.g--padding-bottom-3xs {
  padding-bottom: 24px; }

.g--padding-left-3xs {
  padding-left: 24px; }

.g--padding-right-3xs {
  padding-right: 24px; }

.g--padding-vertical-3xs {
  padding-top: 24px;
  padding-bottom: 24px; }

.g--padding-horizontal-3xs {
  padding-left: 24px;
  padding-right: 24px; }

.g--padding-2xs {
  padding: 32px; }

.g--padding-top-2xs {
  padding-top: 32px; }

.g--padding-bottom-2xs {
  padding-bottom: 32px; }

.g--padding-left-2xs {
  padding-left: 32px; }

.g--padding-right-2xs {
  padding-right: 32px; }

.g--padding-vertical-2xs {
  padding-top: 32px;
  padding-bottom: 32px; }

.g--padding-horizontal-2xs {
  padding-left: 32px;
  padding-right: 32px; }

.g--padding-xs {
  padding: 40px; }

.g--padding-top-xs {
  padding-top: 40px; }

.g--padding-bottom-xs {
  padding-bottom: 40px; }

.g--padding-left-xs {
  padding-left: 40px; }

.g--padding-right-xs {
  padding-right: 40px; }

.g--padding-vertical-xs {
  padding-top: 40px;
  padding-bottom: 40px; }

.g--padding-horizontal-xs {
  padding-left: 40px;
  padding-right: 40px; }

.g--padding-s {
  padding: 48px; }

.g--padding-top-s {
  padding-top: 48px; }

.g--padding-bottom-s {
  padding-bottom: 48px; }

.g--padding-left-s {
  padding-left: 48px; }

.g--padding-right-s {
  padding-right: 48px; }

.g--padding-vertical-s {
  padding-top: 48px;
  padding-bottom: 48px; }

.g--padding-horizontal-s {
  padding-left: 48px;
  padding-right: 48px; }

.g--padding-m {
  padding: 64px; }

.g--padding-top-m {
  padding-top: 64px; }

.g--padding-bottom-m {
  padding-bottom: 64px; }

.g--padding-left-m {
  padding-left: 64px; }

.g--padding-right-m {
  padding-right: 64px; }

.g--padding-vertical-m {
  padding-top: 64px;
  padding-bottom: 64px; }

.g--padding-horizontal-m {
  padding-left: 64px;
  padding-right: 64px; }

.g--padding-l {
  padding: 80px; }

.g--padding-top-l {
  padding-top: 80px; }

.g--padding-bottom-l {
  padding-bottom: 80px; }

.g--padding-left-l {
  padding-left: 80px; }

.g--padding-right-l {
  padding-right: 80px; }

.g--padding-vertical-l {
  padding-top: 80px;
  padding-bottom: 80px; }

.g--padding-horizontal-l {
  padding-left: 80px;
  padding-right: 80px; }

.g--padding-xl {
  padding: 96px; }

.g--padding-top-xl {
  padding-top: 96px; }

.g--padding-bottom-xl {
  padding-bottom: 96px; }

.g--padding-left-xl {
  padding-left: 96px; }

.g--padding-right-xl {
  padding-right: 96px; }

.g--padding-vertical-xl {
  padding-top: 96px;
  padding-bottom: 96px; }

.g--padding-horizontal-xl {
  padding-left: 96px;
  padding-right: 96px; }

.g--padding-2xl {
  padding: 128px; }

.g--padding-top-2xl {
  padding-top: 128px; }

.g--padding-bottom-2xl {
  padding-bottom: 128px; }

.g--padding-left-2xl {
  padding-left: 128px; }

.g--padding-right-2xl {
  padding-right: 128px; }

.g--padding-vertical-2xl {
  padding-top: 128px;
  padding-bottom: 128px; }

.g--padding-horizontal-2xl {
  padding-left: 128px;
  padding-right: 128px; }

.g--padding-3xl {
  padding: 160px; }

.g--padding-top-3xl {
  padding-top: 160px; }

.g--padding-bottom-3xl {
  padding-bottom: 160px; }

.g--padding-left-3xl {
  padding-left: 160px; }

.g--padding-right-3xl {
  padding-right: 160px; }

.g--padding-vertical-3xl {
  padding-top: 160px;
  padding-bottom: 160px; }

.g--padding-horizontal-3xl {
  padding-left: 160px;
  padding-right: 160px; }

.g--padding-4xl {
  padding: 192px; }

.g--padding-top-4xl {
  padding-top: 192px; }

.g--padding-bottom-4xl {
  padding-bottom: 192px; }

.g--padding-left-4xl {
  padding-left: 192px; }

.g--padding-right-4xl {
  padding-right: 192px; }

.g--padding-vertical-4xl {
  padding-top: 192px;
  padding-bottom: 192px; }

.g--padding-horizontal-4xl {
  padding-left: 192px;
  padding-right: 192px; }

.g--padding-5xl {
  padding: 224px; }

.g--padding-top-5xl {
  padding-top: 224px; }

.g--padding-bottom-5xl {
  padding-bottom: 224px; }

.g--padding-left-5xl {
  padding-left: 224px; }

.g--padding-right-5xl {
  padding-right: 224px; }

.g--padding-vertical-5xl {
  padding-top: 224px;
  padding-bottom: 224px; }

.g--padding-horizontal-5xl {
  padding-left: 224px;
  padding-right: 224px; }

.g--padding-6xl {
  padding: 256px; }

.g--padding-top-6xl {
  padding-top: 256px; }

.g--padding-bottom-6xl {
  padding-bottom: 256px; }

.g--padding-left-6xl {
  padding-left: 256px; }

.g--padding-right-6xl {
  padding-right: 256px; }

.g--padding-vertical-6xl {
  padding-top: 256px;
  padding-bottom: 256px; }

.g--padding-horizontal-6xl {
  padding-left: 256px;
  padding-right: 256px; }

.g--padding-7xl {
  padding: 320px; }

.g--padding-top-7xl {
  padding-top: 320px; }

.g--padding-bottom-7xl {
  padding-bottom: 320px; }

.g--padding-left-7xl {
  padding-left: 320px; }

.g--padding-right-7xl {
  padding-right: 320px; }

.g--padding-vertical-7xl {
  padding-top: 320px;
  padding-bottom: 320px; }

.g--padding-horizontal-7xl {
  padding-left: 320px;
  padding-right: 320px; }

.g--padding-8xl {
  padding: 480px; }

.g--padding-top-8xl {
  padding-top: 480px; }

.g--padding-bottom-8xl {
  padding-bottom: 480px; }

.g--padding-left-8xl {
  padding-left: 480px; }

.g--padding-right-8xl {
  padding-right: 480px; }

.g--padding-vertical-8xl {
  padding-top: 480px;
  padding-bottom: 480px; }

.g--padding-horizontal-8xl {
  padding-left: 480px;
  padding-right: 480px; }

.g--padding-9xl {
  padding: 640px; }

.g--padding-top-9xl {
  padding-top: 640px; }

.g--padding-bottom-9xl {
  padding-bottom: 640px; }

.g--padding-left-9xl {
  padding-left: 640px; }

.g--padding-right-9xl {
  padding-right: 640px; }

.g--padding-vertical-9xl {
  padding-top: 640px;
  padding-bottom: 640px; }

.g--padding-horizontal-9xl {
  padding-left: 640px;
  padding-right: 640px; }
