.g--max-width-1{
    max-width:100px;
}

.g--max-width-2{
    max-width:150px;
}

.g--max-width-3{
    max-width:200px;
}

.g--max-width-4{
    max-width:250px;
}

.g--max-width-5{
    max-width:300px;
}

.g--max-width-6{
    max-width:350px;
}

.g--max-width-7{
    max-width:400px;
}

.g--max-width-8{
    max-width:450px;
}

.g--max-width-9{
    max-width:500px;
}

.g--max-width-10{
    max-width:550px;
}

.g--max-width-11{
    max-width:600px;
}