p{
    background: red;
    height: 20px;
}
.g--width-1{
    width:100px;
}

.g--width-2{
    width:150px;
}

.g--width-3{
    width:200px;
}

.g--width-4{
    width:250px;
}

.g--width-5{
    width:300px;
}

.g--width-6{
    width:350px;
}

.g--width-7{
    width:400px;
}

.g--width-8{
    width:450px;
}

.g--width-9{
    width:500px;
}

.g--width-10{
    width:550px;
}

.g--width-11{
    width:600px;
}

@media (min-width:576px){
    .g--width-1\@mobile{
        width:100px;
    }
    .g--width-2\@mobile{
        width:150px;
    }
    .g--width-3\@mobile{
        width:200px;
    }
    .g--width-4\mobile{
        width:250px;
    }
    .g--width-5\@mobile{
        width:300px;
    }
    .g--width-6\mobile{
        width:350px;
    }
    .g--width-7\@mobile{
        width:400px;
    }
    .g--width-8\mobile{
        width:450px;
    }
    .g--width-9\@mobile{
        width:500px;
    }
    .g--width-10\@mobile{
        width:550px;
    }
    .g--width-11\@mobile{
        width:600px;
    }
}

@media (min-width:768px){
    .g--width-1\@tablet{
        width:100px;
    }
    .g--width-2\@tablet{
        width:150px;
    }
    .g--width-3\@tablet{
        width:200px;
    }
    .g--width-4\@tablet{
        width:250px;
    }
    .g--width-5\@tablet{
        width:300px;
    }
    .g--width-6\@tablet{
        width:350px;
    }
    .g--width-7\@tablet{
        width:400px;
    }
    .g--width-8\@tablet{
        width:450px;
    }
    .g--width-9\@tablet{
        width:500px;
    }
    .g--width-10\@tablet{
        width:550px;
    }
    .g--width-11\@tablet{
        width:600px;
    }
}

@media (min-width:992px){
    .g--width-1\@desktop{
        width:100px;
    }
    .g--width-2\@desktop{
        width:150px;
    }
    .g--width-3\@desktop{
        width:200px;
    }
    .g--width-4\@desktop{
        width:250px;
    }
    .g--width-5\@desktop{
        width:300px;
    }
    .g--width-6\@desktop{
        width:350px;
    }
    .g--width-7\@desktop{
        width:400px;
    }
    .g--width-8\@desktop{
        width:450px;
    }
    .g--width-9\@desktop{
        width:500px;
    }
    .g--width-10\@desktop{
        width:550px;
    }
    .g--width-11\@desktop{
        width:600px;
    }
}
