// Función para obtener valores

@function getFontSize($key){
  @return unquote(map-get($font-size, ""+$key));
}

// Función para obtener claves

@function getFontSizeKeys(){
  @return map-keys($font-size);
}

// Función para obtener valores

@function getBreakPoint($key){
  @return unquote(map-get($break-point, ""+$key));
}

// Función para obtener claves

@function getBreakPointKeys(){
  @return map-keys($break-point);
}