// SIN LA VARIABLE $BLACK

// @each $nombre-color in map-keys($colors){
//     $rango-colores : map-get($colors, $nombre-color);

//     @for $index-color from 0 to length($rango-colores){
//        .g--color-#{$nombre-color}-#{$index-color+1}{
//         color: nth($rango-colores, $index-color+1);
//     }   
//     }
// }


// CON LA VARIABLE $BLACK PORQUE SOLO TIENE 1 VALOR

@each $nombre-color in map-keys($colors){
    $rango-colores : map-get($colors, $nombre-color);

    @if(length($rango-colores)==1){
        .g--color-#{$nombre-color}{
            color: nth($rango-colores, 1);
        }
    } @else {
    @for $index-color from 0 to length($rango-colores){
       .g--color-#{$nombre-color}-#{$index-color+1}{
        color: nth($rango-colores, $index-color+1);
    }   
    }
}
}

// CON $COLORS EN DOS BLOQUES

// @each $nombre-color in map-keys($colors){
//     $rango-colores : map-get($colors, $nombre-color);

//     @if(length($rango-colores)==1){
//         .g--color-#{$nombre-color}-#{$number-color}{
//             $gama:nth($colors, $number-color);

//             color: map-get($gama,$nombre-color);
//         }
//     } @else {
//     @for $index-color from 0 to length($rango-colores){
//        .g--color-#{$nombre-color}-#{$index-color+1}{
//         color: nth($rango-colores, $index-color+1);
//     }   
//     }
// }
// }