@function getBorderWidth($key){
    @return unquote(map-get($border-width,""+$key));
}

@function getBorderWidthKeys(){
    @return map-keys($border-width);
}

@function getTamanyoPantalla($key){
    @return unquote(map-get($tamanyos-pantalla,""+$key));
}

@function getTamanyoPantallaKeys(){
    @return map-keys($tamanyos-pantalla);
}