.c-button{
    @include boton("blue_oscuro", "m", "l", "white");
    @include box-shadow("4");

    &--secundario{
    @include boton("white", "m", "l", "black");
    }

    &--xl{
        width: getWidth("m");
        height: getHeight("m");
    }
}