.c-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    width: 369px;
    @include box-shadow("4");

    &__title{
        color: #000000;
    }

    &__price{
        font-weight: bold;
        color: #000000;
    }

    &__parrafo{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
    }

    &--sombra{
        @include box-shadow("4");
    }
}