.g--min-width{
    @each $key in getMin-WidthKeys(){
        &-#{$key}{
            min-width: getMin-Width($key);
        }
    }
    @each $name in getTamanyoPantallaKeys(){
        @media(min-width: getTamanyoPantalla($name)){
            @each $key in getMin-WidthKeys(){
                &-#{$key}\@#{$name}{
                    min-width: getMin-Width($key);
                }
            }
        }
    }
}