.g--max-width{
    @each $key in getMax-WidthKeys(){
        &-#{$key}{
            max-width: getMax-Width($key);
        }
    }
    @each $name in getTamanyoPantallaKeys(){
        @media(max-width: getTamanyoPantalla($name)){
            @each $key in getMax-WidthKeys(){
                &-#{$key}\@#{$name}{
                    max-width: getMax-Width($key);
                }
            }
        }
    }
}