.g--width{
    @each $key in getWidthKeys(){
        &-#{$key}{
            width: getWidth($key);
        }
    }
    @each $name in getTamanyoPantallaKeys(){
        @media(width: getTamanyoPantalla($name)){
            @each $key in getWidthKeys(){
                &-#{$key}\@#{$name}{
                    width: getWidth($key);
                }
            }
        }
    }
}