.c-astronauta{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 100px;
    top: 40px;

    &--animado{
        animation-name: flotar-astronauta;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.58, .36, .43, .21);
    }
}

@keyframes flotar-astronauta{
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(1000px);
    }
}