// $keys: map-keys($colores);

// @each $key in $keys{
//     $listado: map-get($colores, $key);
//     @debug "lista " #{$listado};
//     $tamanyo: length($listado);

//     @for $i from 0 to $tamanyo{
//         .g--color-#{$key}-#{$i+1}{
//             color: nth($listado, $i+1);
//         }
//     }
// }

// SI VAS A USAR ESTE GLOBAL, DESCOMENTA LAS DOS FUNCIONES DE COLORES

// @each $key in getColorKeys(){
//     $listado: getColor($key);
//     $tamanyo: length($listado);

//     @for $i from 0 to $tamanyo{
//         @if $tamanyo > 1{
//             .g--color-#{$key}-#{$i+1}{
//             color: nth($listado, $i+1);
//         }
//         }@else{
//             .g--color-#{$key}{
//                 color: nth($listado, $i+1);
//             }
//         }
//     }
// }   