@function getFontSize($key){
    @return unquote(map-get($font-sizes, ""+$key));
}

@function getFontSizeKeys(){
    @return map-keys($font-sizes);
}

@function getBreakPoint($key){
    @return unquote(map-get($break-point, ""+$key));
}
  
@function getBreakPointKeys(){
    @return map-keys($break-point);
}  