.c-button{
    background-color: $blue;
    border: getBorderWidth("s") solid $blue_darken;
    color: $white;

    &--secundario{
        background-color: $white;
        color: $blue;
    }

    &--alternativo{
        background-color: $green;
        border: getBorderWidth("s") solid $green_darken;
        color: $green_darken;
    }

    &--alternativo#{&}--secundario{
        background-color: $white;
        color: $green;
    }
}