.c-panel{
    border: 8px solid red;

    &__titulo{
        text-decoration: underline;
        font-weight: bold;

        &--sin-subrayado{
            text-decoration: none;
        }
    }

    &__contenido{

    }
}