// GRID

// .l-botones{
//     display: grid;
//     grid-template-areas: "izquierda derecha";

//     &__izquierda{
//             grid-area: izquierda;
//             margin-left: getMargin("9xl");
//         }

//     &__derecha{
//             grid-area: derecha;
//             margin-right: getMargin("9xl");
//         }
// }

// FLEX

.l-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}