.l-columns{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @for $i from 2 to 5{
        &--#{$i}{
            grid-template-columns: repeat($i, 1fr);
        }
    }
}


// @for $i from 1 to 5{
//     .l-columns--#{$i}{
//         display: grid;
//         grid-template-columns: repeat($i, 1fr);
//     }
// }


// .l-columns{
//     display: grid;

//     &--2{
//         grid-template-areas: "izquierda derecha";  
//     }

//     &__izquierda{
//             grid-area: izquierda;
//         }

//     &__derecha{
//             grid-area: derecha;
//         }

//     &--3{
//         grid-template-areas: "izquierda centro derecha";
//     }

//     &__izquierda{
//             grid-area: izquierda;
//         }

//     &__centro{
//             grid-area: centro;
//         }

//     &__derecha{
//             grid-area: derecha;
//         }   
        
//     &--4{
//         grid-template-areas: "izquierda izq-centro dcha-centro derecha";
//     }
    
//     &__izquierda{
//             grid-area: izquierda;
//         }
    
//     &__izq-centro{
//             grid-area: izq-centro;
//         }
    
//     &__dcha-centro{
//             grid-area: dcha-centro;
//         }
    
//     &__derecha{
//             grid-area: derecha;
//         }
// }