.l-dolmen{

    display: grid;

    &--tumbado-izquierda{
        grid-template-areas: "cabeza pata_izquierda"
                             "cabeza pata_derecha";
    }
    
    &__cabeza{
            grid-area: cabeza;
        }

        &__pata_izquierda{
            grid-area: pata_izquierda;
        }

        &__pata_derecha{
            grid-area: pata_derecha;
        }
}