.l-extremos{
    display:flex;
     
    &__area-izquierda {
      margin-right: auto;
    }
    &__area-derecha {
      margin-left: auto;
    }  
  }
   

// .l-extremos{
//     display: grid;
//     grid-template-areas: "izquierda derecha";

//     &__izquierda{
//         grid-area: izquierda;
//     }

//     &__derecha{
//         grid-area: derecha;
//         text-align: right;
//         margin-top: getMargin("s");
//     }
// }