.l-page {
	display: grid;
    
    &__head{
        margin-left: getMargin("7xl");
        margin-right: getMargin("7xl");
    }
    
    &__body{
        margin-left: getMargin("8xl");
        margin-right: getMargin("8xl");
    }

    &__footer{
        margin-left: getMargin("8xl");
        margin-right: getMargin("8xl");
    }
} 