.c-cuadrado{
    background-color: black;

    &--red{
        width: 200px;
        height: 200px;
        background-color: red;
    }

    &--green{
        width: 10rem;
        height: 10rem;
        background-color: green;
    }

    &--blue{
        width: 10em;
        height: 10em;
        background-color: blue;
        font-size: 20px;
    }

}