.c-button{
    background-color: getColor("blue", "normal");
    border-color: getColor("blue", "normal");
    color: getColor("white", "normal");
    border-radius: getBorderRadius("s");
    border: getBorderRadius("3xs");
    font-size: getFontSize("s");
    font-weight: bold;
    width: getWidth("3xl");
    height: getHeight("2xl");
    padding-top: getPadding("3xs");
    padding-bottom: getPadding("3xs");
    cursor: pointer;

&--alternativo{
    background-color: getColor("black", "normal");
    color: getColor("white", "normal");
    width: getWidth("l");
    height: getHeight("xl");
    margin: getMargin("s");
    margin-top: getMargin("3xl");
    font-weight: normal;
}

&--alternativoTerciario{
    background-color: getColor("white", "normal");
    color: getColor("gray", "normal");
    padding-top: getPadding("l");
    padding-left: getMargin("s");
    margin-left: getMargin("m");
    width: getWidth("l");
    font-weight: normal;
}


&--primario{
    color: getColor("white", "normal");
    margin: getMargin("xl");
    padding-top: getPadding("2xs");
}

&--degradado{
    background: linear-gradient(180deg, #0199e6 0%, #68b6e7 100%);
}

&--secundario{
    color: getColor("blue", "oscuro");
    background-color: getColor("blue", "claro");
    border-radius: getBorderRadius("s");
    margin-left: getMargin("m");
    margin-top: getMargin("m");
    padding-left: getPadding("3xs");
    width: getWidth("s");
    height: getHeight("l");
}

&--terciario{
    color: getColor("blue", "normal");
    background-color: getColor("white", "normal");
    font-weight: bold;
    margin: getMargin("xl");
    padding-top: getPadding("xs");
}

}