.c-creditos{

    &__parrafo{
        color: getColor("gray", "normal");

        &--blue{
            color: getColor("blue", "normal");
        }
    }
    
    &__item{
        display: inline-block;
        color: getColor("gray", "normal");
        padding-left: getPadding("xs");
    }

    &__imagen{
        width: getWidth("3xs");
        height: getHeight("xs");
        margin-left: getMargin("m");
    }
}