.c-card{

    border: 2px solid getColor("gray", "claro");
    border-radius: getBorderRadius("m");
    margin-left: getMargin("2xs");

    &__image{
        width: getWidth("4xl");
        height: getHeight("4xl");
        border-radius: 10px 10px 0px 0px;  

        &--mini{
        width: getWidth("2xs");
        height: getWidth("2xs");
        border-radius: getBorderRadius("3xl");
        }
    }
}