.c-imagen{
    margin-top: getMargin("4xl");
    margin-bottom: getMargin("4xl");

    &--logoHeader{
        margin-top: getMargin("2xl");
    }
    &--logoFooter{
        margin-top: getMargin("2xl");
    }
}