.c-link{
    display: inline-block;
    margin: getMargin("l");
    margin-bottom: getMargin("6xl");
    padding-top: getPadding("xl");
    color: getColor("gray", "normal");
    font-size: getFontSize("m");
    cursor: pointer;
}