.c-option{

    margin-left: getMargin("5xl");

    &__titulo{
        color: getColor("black", "normal");
        font-size: getFontSize("2xs");
        font-family: getFontFamily("Normal");
        font-weight: bold;
        padding-top: getPadding("3xl");
        margin-bottom: getMargin("m"); 
    }

    &__item{
        color: getColor("gray", "normal");
        margin-bottom: getMargin("m");
    }
    
    &__box-email{
        border: 2px solid getColor("gray", "claro");
        border-radius: getBorderRadius("s");
        margin-top: getMargin("s");
        padding-left: getPadding("m");
        padding-top: getPadding("2xs");
        padding-bottom: getPadding("2xs");
        width: getWidth("4xl");
    }
}