.c-parrafo{
    font-family: getFontFamily("Normal");
    color: getColor("gray", "normal");
    font-size: getFontSize("s");
    padding-top: getMargin("m");
    margin-bottom: getMargin("m");

    &--left{
        text-align: left;
        font-size: getFontSize("s");
        margin-left: getMargin("m");
        padding-top: getPadding("3xs");
    }

    
    &--size-XXS{
        font-size: 16px;
    }

    &--size-XS{
        font-size: 18px;
    }

    &--size-S{
        font-size: 20px;
    }

    &--size-M{
        font-size: 24px;
    }

    &--size-L{
        font-size: 28px;
    }

    &--size-XL{
        font-size: 32px;
    }

    &--size-XXL{
        font-size: 36px;
    }

}