.c-tag{
    color: getColor("blue", "oscuro");
    background-color: getColor("blue", "claro");
    font-weight: bold;
    border-radius: getBorderRadius("s");
    margin-left: getMargin("m");
    margin-top: getMargin("m");
    margin-bottom: getMargin("m");
    padding-top: getPadding("2xs");
    width: getWidth("s");
    height: getHeight("l");
}