.c-title{
    font-family: getFontFamily("Normal");
    font-size: getFontSize("3xl");
    font-weight: bold;
    color: getColor("black", "normal");

    &--destacado{
        color: getColor("blue", "normal");
    }

    &--degradado{
        background: -webkit-linear-gradient(left, #3c84f4, #83FFFC);
        background: linear-gradient(right, #3c84f4, #83FFFC);
        -webkit-background-clip: text;  
        -webkit-text-fill-color: transparent;  
    }

    &--left{
        text-align: left;
        font-size: getFontSize("s");
        margin-left: getMargin("m");
    }

    &--size-XXS{
        font-size: 16px;
    }

    &--size-XS{
        font-size: 18px;
    }

    &--size-S{
        font-size: 20px;
    }

    &--size-M{
        font-size: 40px;
    }

    &--size-L{
        font-size: 55px;
    }

    &--size-XL{
        font-size: 60px;
    }

    &--size-XXL{
        font-size: 65px;
    }
}