.grande-icono{
    animation-name: icono;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes icono{
    
    100%{
        font-size: 4rem;
        color: greenyellow;
    }
}