@mixin box-shadow($color) {
    -webkit-box-shadow: 2px 10px 24px $color;
    -moz-box-shadow: 2px 10px 24px $color;
    box-shadow: 2px 10px 24px $color;
  }
   
  .c-button {
    color: #FF0000;
    @include box-shadow(#FF0000);
  }
   
  .c-panel {
    color: #00FF00;
    @include box-shadow(#00FF00);
  }