@mixin border($size) {
    $color:#00FF00;
       
    @if $size>=3 {
      $color:#FF0000;
    }
   
   
    border: $size*2 solid $color;
  }
   
  .c-caja1 {
    color: #FF0000;
    @include border(2px);
  }
  .c-caja2 {
    color: #FF0000;
    @include border(5px);
  }