@function getPadding($key){
  @return unquote(map-get($paddings,""+$key));
}

@function getPaddingKeys(){
  @return map-keys($paddings);
}

@function getMarging($key){
  @return unquote(map-get($margings,""+$key));
}

@function getMargingKeys(){
  @return map-keys($margings);
}

@function getColor($key){
  @return unquote(map-get($colors, ""+$key));
}

@function getColorKeys(){
  @return map-keys($colors);
}

@function getFontSize($key){
  @return unquote(map-get($font-size, ""+$key));
}

@function getFontSizeKeys(){
  @return map-keys($font-size);
}

@function getFontFamily($key){
  @return unquote(map-get($font-family, ""+$key));
}

@function getFontFamilyKeys(){
  @return map-keys($font-family);
}

@function getBoxShadow($key){
  @return unquote(map-get($box-shadow, ""+$key));
}

@function getBoxShadowKeys(){
  @return map-keys($box-shadow);
}

@function getBorderRadious($key){
  @return unquote(map-get($border-radious, ""+$key));
}

@function getBorderRadiousKeys(){
  @return map-keys($border-radious);
}