.g--border-width{
    @each $key in getBorderWidthKeys(){
        &-#{$key}{
            border-width: getBorderWidth($key);
        }
    }
    @each $name in getTamanyoPantallaKeys(){
        @media(min-width: getTamanyoPantalla($name)){
            @each $key in getBorderWidthKeys(){
                &-#{$key}\@#{$name}{
                    border-width: getBorderWidth($key);
                }
            }
        }
    }
}