@function getMarginTop($key){
  @return unquote(map-get($margin-top, ""+$key));
}

@function getMarginTopKeys(){
  @return map-keys($margin-top);
}

@function getFontSize($key){
  @return unquote(map-get($font-size, ""+$key));
}

@function getFontSizeKeys(){
  @return map-keys($font-size);
}

@function getColor($key){
  @return unquote(map-get($color, ""+$key));
}

@function getColorKeys(){
  @return map-keys($color);
}