.c-button{
    background-color: getColor("azul", 6);
    color: getColor("blanco", 1);
    border: getBorder("m") solid getColor("azul", 3);
    border-radius: getBorderRadius("l");

    &--secundario{
        background-color: getColor("blanco", 1);
        color: getColor("azul", 6);
    }

    &--terciario{
        background-color: getColor("blanco", 1);
        color: getColor("azul", 6);
        border: none;
    }

    &--xl{
        width: getWidth("l");
        height: getHeight("m");
    } // (En el caso de que queramos hacerlo con un modificador y no con globales)
}