.c-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: getBorder("m") solid getColor("negro", 1);
    width: getWidth("xl");

    &__title{
        font-size: getFontSize("s");
        font-weight: bold;
        border: none;
        color: getColor("negro", 1);
    }

    &__subtitle{
        font-size: getFontSize("xl");
        font-weight: bold;
        border: none;
        color: getColor("negro", 1);
    }

    &__text{
        font-size: getFontSize("xs");
        border: none;
        text-align: center;
    }

    &__button{
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 100px;
    }
}