.l-metrica{

    display: grid;
    grid-template-areas: "image value_up"
                          "image value_down"
                          "image label";
        
    &__image{
        grid-area: image;
    }
    
    &__label{
        grid-area: label;
        }
    
    &__value_up{
        grid-area: value_up;
    }

    &__value_down{
        grid-area: value_down;
    }
    
}