.l-page{
    &__head{
        padding: 5px 20px;
        background: linear-gradient(#141414, #2e3542);
    }

    &__body{
        margin-left: getMargin("2xl");
        margin-right: getMargin("2xl");
    }

    &__footer{
        border-top: getColor("gris", 5) solid 8px;
        background: linear-gradient(#18202c, #000000);
    }
}