.l-plantilla{
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera"
                         " izquierda derecha derecha"
                         " pie pie pie";

    &--switch{
        display: grid;
        grid-template-areas: "cabecera cabecera cabecera"
                             "derecha izquierda izquierda"
                             "pie pie pie";
    }
}

.cabecera{
    grid-area: cabecera;
}

.izquierda{
    grid-area: izquierda;
}

.derecha{
    grid-area: derecha;
}

.pie{
    grid-area: pie;
}