.c-cuadrado{

    background-color: black;
    width: 100px;
    height: 100px;

    &--red{
        width: unquote('max(100px, 40vw)');
        height: unquote('max(100px, 40vw)');
        background-color: red;
    }

    &--green{
        width: unquote('min(800px, 60vw)');
        height: unquote('min(800px, 60vw)');
        background-color: green;
    }
    
    &--blue{
        width: unquote('clamp(100px, 20vw, 800px)');
        height: unquote('clamp(100px, 20vw, 800px)');
        background-color: blue;
    }

    &--pink{
        width: unquote('calc(50vw + 20px)');
        height: unquote('calc(50vw + 20px)');
        background-color: pink;
    }

    &--yellow{
        width: unquote('clamp(100px,calc(50vw + 20px), 600px)');
        height: unquote('clamp(100px,calc(50vw + 20px), 600px)');
        background-color: yellow;
    }

    // Otra forma --> unquote("max(10px, 10vw)");
    // Otra forma --> unquote('min(#{$v1}, #{$v2})');

}