@mixin border($border-color,$key-border-width){
    -webkit-border: getBorderWidth($key-border-width) solid $border-color;
    -moz-border: getBorderWidth($key-border-width) solid $border-color;
    border: getBorderWidth($key-border-width) solid $border-color;
}