.c-button{
    background-color: #b2c300;
    gap: 20px;
    border: 1px solid #b2c300;
    border-radius: 2px;
    font-weight: bold;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

    &--secundario{
        background-color: #FFFFFF;
    }

    &--alternativo{
        background-color: #FFFFFF;
        border: 1px solid #b2c300;
        color: #66a103;
        width: 150px;
        width: 150;
        padding: 16px;
        margin-left: 20px;
        border-radius: 4px;
    }

    &--alternativo#{&}--secundario{
        background-color: #e5f5fc;
        border: 0px solid #e5f5fc;
        color: #6f7800;
        width: 200px;
        margin-left: 700px;
    }

    &--alternativo#{&}--terciario{
        background-color: #FFFFFF;
        border: 0px solid #FFFFFF;
        color: #6f7800;
        width: 200px;
    }
}