.c-card{
    background-color: #FFFFFF;

    &__title{
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__subtitle{
        color: #000000;
        font-size: 16px;
        margin-left: 60px;
    }

    &__image{
        margin-right: 20px;
    }
}