.c-link{
    display: flex;
    justify-content: center;  
    gap: 20px;
    padding: 4px;

    &--verde{
        background-color: #b2c300;
        font-weight: bold;
    }

    &__item{
      flex-direction: row;
      padding: 8px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 14px;
    }
}