.c-panel{
    background-image: linear-gradient(270deg, #ffff67 0, #f2fc58 16.67%, #d5f045 33.33%, #b3e02c 50%, #90d00a 66.67%, #6dc400 83.33%, #49b900 100%);
    width: 400px;
    height: 200px;
    margin-top: 100px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    &__title{
        color: #FFFFFF;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__subtitle{
        color: #FFFFFF;
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        margin-left: 16px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}