.c-parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 16px;
}