.c-section{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;

    &--blue{
        background-color: #e5f5fc;
    }

    &--center{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}