.c-cuadrado{
    background-color: black;

    &--red{
        width: 200px;
        height: 200px;
        background-color: red;
    }

    &--green{
        // Pasas 200px a rem que es dividir 200px entre el font-size del html (16px en este caso)
        width: 12.5rem; 
        height: 12.5rem;
        background-color: green;
    }

    &--blue{
        // Pasas 200px a em que es dividir 200px entre el font-size del html (20px en este caso, porque lo hemos definido)
        width: 12.5em;
        height: 12.5em;
        background-color: blue;
        font-size: 20px;
    }

}