.g--font-size-getFontSizeKeys() {
  font-size: getFontSize(getFontSizeKeys()); }

@media (min-width: getBreakPoint(getBreakPointKeys())) {
  .g--font-size-getFontSizeKeys()\@getBreakPointKeys() {
    font-size: getFontSize(getFontSizeKeys()); } }
