/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.c-texto {
  background-color: coral; }

.g--font-size-1 {
  font-size: 40px; }

.g--font-size-2 {
  font-size: 50px; }

.g--font-size-3 {
  font-size: 55px; }

.g--font-size-4 {
  font-size: 70px; }

@media (min-width: 576px) {
  .g--font-size-1\@mobile {
    font-size: 40px; }
  .g--font-size-2\@mobile {
    font-size: 50px; }
  .g--font-size-3\@mobile {
    font-size: 55px; }
  .g--font-size-4\@mobile {
    font-size: 70px; } }

@media (min-width: 768px) {
  .g--font-size-1\@tablet {
    font-size: 40px; }
  .g--font-size-2\@tablet {
    font-size: 50px; }
  .g--font-size-3\@tablet {
    font-size: 55px; }
  .g--font-size-4\@tablet {
    font-size: 70px; } }

@media (min-width: 992px) {
  .g--font-size-1\@desktop {
    font-size: 40px; }
  .g--font-size-2\@desktop {
    font-size: 50px; }
  .g--font-size-3\@desktop {
    font-size: 55px; }
  .g--font-size-4\@desktop {
    font-size: 70px; } }
