@each $key in getBorderColorKeys(){
    .g--border-color-#{$key}{
             border-color: getBorderColor($key);
    }
}

// @each $name, $color in $colors {
//     .border-radius-#{$name}{
//         border-radius: $color;
//     }
// }