@function getColor($color, $index){
    @return unquote(nth(map-get($colores, ""+$color), $index));
}

@function getWidth($key){
    @return map-get($widths,""+$key);
}

@function getWidthKeys(){
    @return map-keys($widths);
}

@function getHeight($key){
    @return map-get($heights,""+$key);
}

@function getHeightKeys(){
    @return map-keys($heights);
}

@function getBorder($key){
    @return map-get($borders,""+$key);
}

@function getBorderRadius($key){
    @return map-get($border-radius,""+$key);
}

@function getFontSize($key){
    @return map-get($font-sizes,""+$key);
}

@function getFontSizeKeys(){
    @return map-keys($font-sizes);
}

@function getPadding($key){
    @return map-get($paddings,""+$key);
}

@function getPaddingKeys(){
    @return map-keys($paddings);
}

@function getMargin($key){
    @return map-get($margins,""+$key);
}

@function getMarginKeys(){
    @return map-keys($margins);
}
