.l-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Header Header Header Header" "LeftNavigation Contenido Contenido Contenido" "Footer Footer Footer Footer"; }
  .l-main--switch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Header Header Header Header" "Contenido Contenido Contenido LeftNavigation" "Footer Footer Footer Footer"; }

.c-panel {
  background-color: hotpink;
  border-style: solid;
  border-width: 2px; }

.c-panel__titulo {
  font-size: 16px;
  text-decoration: underline black; }
  .c-panel__titulo--no-subrayado {
    font-size: 16px;
    text-decoration: none; }

.c-panel__contenido {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace; }

.c-button {
  background-color: #35DCE0;
  border-color: #252850;
  color: #FFFFFF;
  margin: 10px;
  border-radius: 2px;
  border: 1px solid; }
  .c-button--secundario {
    background-color: #FFFFFF;
    color: #000000; }
  .c-button--alternativo {
    background-color: #e7fbe6;
    border-color: #219817;
    color: #42E035; }

.l-page {
  margin: auto; }

.g--border-width-S {
  border-width: 3px; }

.g--border-width-L {
  border-width: 5px; }

.g--border-width-XL {
  border-width: 8px; }
