.c-borde{
    // border: 1px solid getColor("verde", "normal");
    width: 150px;
    height: 30px;
    color: getColor("verde", "normal");
    @include borde (#FF0000, "estrecho");

    &--mancha{
        animation-name: agrandar-mancha;
        animation-duration: 1.5s;
        animation-iteration-count: 4;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
}

@keyframes agrandar-mancha{
    0%{
        transform: scale(1.0, 1.0);
    }
    100%{
        transform: scale(1.33, 1.33);
    }
}