// .container{
//     margin: auto;
//     border: 1px solid blue;
// }

.c-campana{
    font-size:100px; 
    display:block;
    animation-name: movimiento-campana;
    animation-duration: 10s;
    margin:50px 50px ;
    animation-iteration-count: infinite;
    transform-origin: 50% 4px;
}

@keyframes movimiento-campana{
    0%{
        transform: rotate(0);
    }

    1%{
        transform: rotate(30deg);
    }

    3%{
        transform: rotate(-28deg);
    }

    5%{
        transform: rotate(34deg);
    }

    7%{
        transform: rotate(-32deg);
    }

    9%{
        transform: rotate(30deg);
    }

    11%{
        transform: rotate(-28deg);
    }

    13%{
        transform: rotate(26deg);
    }

    15%{
        transform: rotate(-24deg);
    }

    17%{
        transform: rotate(22deg);
    }

    19%{
        transform: rotate(-20deg);
    }

    21%{
        transform: rotate(18deg);
    }

    23%{
        transform: rotate(-16deg);
    }

    25%{
        transform: rotate(14deg);
    }

    27%{
        transform: rotate(-12deg);
    }

    29%{
        transform: rotate(10deg);
    }

    31%{
        transform: rotate(-8deg);
    }

    33%{
        transform: rotate(6deg);
    }

    35%{
        transform: rotate(-4deg);
    }

    37%{
        transform: rotate(2deg);
    }

    39%{
        transform: rotate(-1deg);
    }

    41%{
        transform: rotate(1deg);
    }

    43%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(0deg);
    }
}