@function getBorderWidth($key){
    @return unquote(map-get($border-width,""+$key));
}

@function getBorderWidthKeys(){
    @return map-keys($border-width);
}

@function getBreakPoint($key){
    @return unquote(map-get($break-points,""+$key));
}

@function getBreakPointKeys(){
    @return map-keys($break-points);
} 

@function getColor($key, $index){
    @return unquote(nth(map-get($colores,""+$key), $index));
}

@function getColorKeys(){
    @return map-keys($colores);
}

@function getFontSize($key){
    @return map-get($font-sizes,""+$key);
}

@function getBorder($key){
    @return map-get($borders,""+$key);
}

@function getBorderKeys(){
    @return map-keys($borders);
}

@function getFontSizeKeys(){
    @return map-keys($font-sizes);
}

@function getWidth($key){
    @return map-get($widths,""+$key);
}

@function getWidthKeys(){
    @return map-keys($widths);
}

@function getHeight($key){
    @return map-get($heights,""+$key);
}

@function getHeightKeys(){
    @return map-keys($heights);
}

@function getPadding($key){
    @return map-get($paddings,""+$key);
}

@function getPaddingKeys(){
    @return map-keys($paddings);
}

@function getMargin($key){
    @return map-get($margins,""+$key);
}

@function getMarginKeys(){
    @return map-keys($margins);
}
  