/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  width: 100%; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

p {
  padding-top: 6px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.l-page {
  display: grid; }
  .l-page__head {
    margin-left: 200px;
    margin-right: 200px; }
  .l-page__body {
    margin-left: 250px;
    margin-right: 250px; }
  .l-page__footer {
    margin-left: 250px;
    margin-right: 250px; }

.l-columns {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  .l-columns--2 {
    grid-template-columns: repeat(2, 1fr); }
  .l-columns--3 {
    grid-template-columns: repeat(3, 1fr); }
  .l-columns--4 {
    grid-template-columns: repeat(4, 1fr); }

.l-dolmen {
  display: grid; }
  .l-dolmen--tumbado-izquierda {
    grid-template-areas: "cabeza pata_izquierda" "cabeza pata_derecha"; }
  .l-dolmen__cabeza {
    grid-area: cabeza; }
  .l-dolmen__pata_izquierda {
    grid-area: pata_izquierda; }
  .l-dolmen__pata_derecha {
    grid-area: pata_derecha; }

.l-extremos {
  display: flex; }
  .l-extremos__area-izquierda {
    margin-right: auto; }
  .l-extremos__area-derecha {
    margin-left: auto; }

.l-botones {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.c-button {
  background-color: #3c84f4;
  border-color: #3c84f4;
  color: #FFFFFF;
  border-radius: 6px;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  height: 45px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer; }
  .c-button--alternativo {
    background-color: #000000;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    margin: 16px;
    margin-top: 48px;
    font-weight: normal; }
  .c-button--alternativoTerciario {
    background-color: #FFFFFF;
    color: #808080;
    padding-top: 24px;
    padding-left: 16px;
    margin-left: 20px;
    width: 100px;
    font-weight: normal; }
  .c-button--primario {
    color: #FFFFFF;
    margin: 32px;
    padding-top: 8px; }
  .c-button--degradado {
    background: linear-gradient(180deg, #0199e6 0%, #68b6e7 100%); }
  .c-button--secundario {
    color: #316eee;
    background-color: #bed5ec;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 4px;
    width: 75px;
    height: 35px; }
  .c-button--terciario {
    color: #3c84f4;
    background-color: #FFFFFF;
    font-weight: bold;
    margin: 32px;
    padding-top: 12px; }

.c-section {
  display: grid; }
  .c-section--center {
    text-align: center; }

.c-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 48px;
  font-weight: bold;
  color: #000000; }
  .c-title--destacado {
    color: #3c84f4; }
  .c-title--degradado {
    background: -webkit-linear-gradient(left, #3c84f4, #83FFFC);
    background: linear-gradient(right, #3c84f4, #83FFFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .c-title--left {
    text-align: left;
    font-size: 18px;
    margin-left: 20px; }
  .c-title--size-XXS {
    font-size: 16px; }
  .c-title--size-XS {
    font-size: 18px; }
  .c-title--size-S {
    font-size: 20px; }
  .c-title--size-M {
    font-size: 40px; }
  .c-title--size-L {
    font-size: 55px; }
  .c-title--size-XL {
    font-size: 60px; }
  .c-title--size-XXL {
    font-size: 65px; }

.c-parrafo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #808080;
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 20px; }
  .c-parrafo--left {
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 4px; }
  .c-parrafo--size-XXS {
    font-size: 16px; }
  .c-parrafo--size-XS {
    font-size: 18px; }
  .c-parrafo--size-S {
    font-size: 20px; }
  .c-parrafo--size-M {
    font-size: 24px; }
  .c-parrafo--size-L {
    font-size: 28px; }
  .c-parrafo--size-XL {
    font-size: 32px; }
  .c-parrafo--size-XXL {
    font-size: 36px; }

.c-subtitle {
  color: #316eee;
  margin-bottom: 20px;
  margin-top: 100px;
  font-weight: bold; }

.c-card {
  border: 2px solid #CDCDCD;
  border-radius: 8px;
  margin-left: 8px; }
  .c-card__image {
    width: 330px;
    height: 170px;
    border-radius: 10px 10px 0px 0px; }
    .c-card__image--mini {
      width: 40px;
      height: 40px;
      border-radius: 48px; }

.c-tag {
  color: #316eee;
  background-color: #bed5ec;
  font-weight: bold;
  border-radius: 6px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 8px;
  width: 75px;
  height: 35px; }

.c-imagen {
  margin-top: 100px;
  margin-bottom: 100px; }
  .c-imagen--logoHeader {
    margin-top: 40px; }
  .c-imagen--logoFooter {
    margin-top: 40px; }

.c-link {
  display: inline-block;
  margin: 24px;
  margin-bottom: 150px;
  padding-top: 32px;
  color: #808080;
  font-size: 20px;
  cursor: pointer; }

.c-option {
  margin-left: 140px; }
  .c-option__titulo {
    color: #000000;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding-top: 48px;
    margin-bottom: 20px; }
  .c-option__item {
    color: #808080;
    margin-bottom: 20px; }
  .c-option__box-email {
    border: 2px solid #CDCDCD;
    border-radius: 6px;
    margin-top: 16px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 330px; }

.c-creditos__parrafo {
  color: #808080; }
  .c-creditos__parrafo--blue {
    color: #3c84f4; }

.c-creditos__item {
  display: inline-block;
  color: #808080;
  padding-left: 12px; }

.c-creditos__imagen {
  width: 20px;
  height: 20px;
  margin-left: 20px; }

.g--margin-3xs {
  margin: 4px; }

.g--margin-top-3xs {
  margin-top: 4px; }

.g--margin-bottom-3xs {
  margin-bottom: 4px; }

.g--margin-left-3xs {
  margin-left: 4px; }

.g--margin-right-3xs {
  margin-right: 4px; }

.g--margin-vertical-key {
  margin-top: 4px;
  margin-bottom: 4px; }

.g--margin-horizontal-key {
  margin-left: 4px;
  margin-right: 4px; }

.g--margin-2xs {
  margin: 8px; }

.g--margin-top-2xs {
  margin-top: 8px; }

.g--margin-bottom-2xs {
  margin-bottom: 8px; }

.g--margin-left-2xs {
  margin-left: 8px; }

.g--margin-right-2xs {
  margin-right: 8px; }

.g--margin-vertical-key {
  margin-top: 8px;
  margin-bottom: 8px; }

.g--margin-horizontal-key {
  margin-left: 8px;
  margin-right: 8px; }

.g--margin-xs {
  margin: 12px; }

.g--margin-top-xs {
  margin-top: 12px; }

.g--margin-bottom-xs {
  margin-bottom: 12px; }

.g--margin-left-xs {
  margin-left: 12px; }

.g--margin-right-xs {
  margin-right: 12px; }

.g--margin-vertical-key {
  margin-top: 12px;
  margin-bottom: 12px; }

.g--margin-horizontal-key {
  margin-left: 12px;
  margin-right: 12px; }

.g--margin-s {
  margin: 16px; }

.g--margin-top-s {
  margin-top: 16px; }

.g--margin-bottom-s {
  margin-bottom: 16px; }

.g--margin-left-s {
  margin-left: 16px; }

.g--margin-right-s {
  margin-right: 16px; }

.g--margin-vertical-key {
  margin-top: 16px;
  margin-bottom: 16px; }

.g--margin-horizontal-key {
  margin-left: 16px;
  margin-right: 16px; }

.g--margin-m {
  margin: 20px; }

.g--margin-top-m {
  margin-top: 20px; }

.g--margin-bottom-m {
  margin-bottom: 20px; }

.g--margin-left-m {
  margin-left: 20px; }

.g--margin-right-m {
  margin-right: 20px; }

.g--margin-vertical-key {
  margin-top: 20px;
  margin-bottom: 20px; }

.g--margin-horizontal-key {
  margin-left: 20px;
  margin-right: 20px; }

.g--margin-l {
  margin: 24px; }

.g--margin-top-l {
  margin-top: 24px; }

.g--margin-bottom-l {
  margin-bottom: 24px; }

.g--margin-left-l {
  margin-left: 24px; }

.g--margin-right-l {
  margin-right: 24px; }

.g--margin-vertical-key {
  margin-top: 24px;
  margin-bottom: 24px; }

.g--margin-horizontal-key {
  margin-left: 24px;
  margin-right: 24px; }

.g--margin-xl {
  margin: 32px; }

.g--margin-top-xl {
  margin-top: 32px; }

.g--margin-bottom-xl {
  margin-bottom: 32px; }

.g--margin-left-xl {
  margin-left: 32px; }

.g--margin-right-xl {
  margin-right: 32px; }

.g--margin-vertical-key {
  margin-top: 32px;
  margin-bottom: 32px; }

.g--margin-horizontal-key {
  margin-left: 32px;
  margin-right: 32px; }

.g--margin-2xl {
  margin: 40px; }

.g--margin-top-2xl {
  margin-top: 40px; }

.g--margin-bottom-2xl {
  margin-bottom: 40px; }

.g--margin-left-2xl {
  margin-left: 40px; }

.g--margin-right-2xl {
  margin-right: 40px; }

.g--margin-vertical-key {
  margin-top: 40px;
  margin-bottom: 40px; }

.g--margin-horizontal-key {
  margin-left: 40px;
  margin-right: 40px; }

.g--margin-3xl {
  margin: 48px; }

.g--margin-top-3xl {
  margin-top: 48px; }

.g--margin-bottom-3xl {
  margin-bottom: 48px; }

.g--margin-left-3xl {
  margin-left: 48px; }

.g--margin-right-3xl {
  margin-right: 48px; }

.g--margin-vertical-key {
  margin-top: 48px;
  margin-bottom: 48px; }

.g--margin-horizontal-key {
  margin-left: 48px;
  margin-right: 48px; }

.g--margin-4xl {
  margin: 100px; }

.g--margin-top-4xl {
  margin-top: 100px; }

.g--margin-bottom-4xl {
  margin-bottom: 100px; }

.g--margin-left-4xl {
  margin-left: 100px; }

.g--margin-right-4xl {
  margin-right: 100px; }

.g--margin-vertical-key {
  margin-top: 100px;
  margin-bottom: 100px; }

.g--margin-horizontal-key {
  margin-left: 100px;
  margin-right: 100px; }

.g--margin-5xl {
  margin: 140px; }

.g--margin-top-5xl {
  margin-top: 140px; }

.g--margin-bottom-5xl {
  margin-bottom: 140px; }

.g--margin-left-5xl {
  margin-left: 140px; }

.g--margin-right-5xl {
  margin-right: 140px; }

.g--margin-vertical-key {
  margin-top: 140px;
  margin-bottom: 140px; }

.g--margin-horizontal-key {
  margin-left: 140px;
  margin-right: 140px; }

.g--margin-6xl {
  margin: 150px; }

.g--margin-top-6xl {
  margin-top: 150px; }

.g--margin-bottom-6xl {
  margin-bottom: 150px; }

.g--margin-left-6xl {
  margin-left: 150px; }

.g--margin-right-6xl {
  margin-right: 150px; }

.g--margin-vertical-key {
  margin-top: 150px;
  margin-bottom: 150px; }

.g--margin-horizontal-key {
  margin-left: 150px;
  margin-right: 150px; }

.g--margin-7xl {
  margin: 200px; }

.g--margin-top-7xl {
  margin-top: 200px; }

.g--margin-bottom-7xl {
  margin-bottom: 200px; }

.g--margin-left-7xl {
  margin-left: 200px; }

.g--margin-right-7xl {
  margin-right: 200px; }

.g--margin-vertical-key {
  margin-top: 200px;
  margin-bottom: 200px; }

.g--margin-horizontal-key {
  margin-left: 200px;
  margin-right: 200px; }

.g--margin-8xl {
  margin: 250px; }

.g--margin-top-8xl {
  margin-top: 250px; }

.g--margin-bottom-8xl {
  margin-bottom: 250px; }

.g--margin-left-8xl {
  margin-left: 250px; }

.g--margin-right-8xl {
  margin-right: 250px; }

.g--margin-vertical-key {
  margin-top: 250px;
  margin-bottom: 250px; }

.g--margin-horizontal-key {
  margin-left: 250px;
  margin-right: 250px; }

.g--margin-9xl {
  margin: 300px; }

.g--margin-top-9xl {
  margin-top: 300px; }

.g--margin-bottom-9xl {
  margin-bottom: 300px; }

.g--margin-left-9xl {
  margin-left: 300px; }

.g--margin-right-9xl {
  margin-right: 300px; }

.g--margin-vertical-key {
  margin-top: 300px;
  margin-bottom: 300px; }

.g--margin-horizontal-key {
  margin-left: 300px;
  margin-right: 300px; }

.g--margin-auto {
  margin: auto; }

.g--margin-top-auto {
  margin-top: auto; }

.g--margin-bottom-auto {
  margin-bottom: auto; }

.g--margin-left-auto {
  margin-left: auto; }

.g--margin-right-auto {
  margin-right: auto; }

.g--margin-vertical-key {
  margin-top: auto;
  margin-bottom: auto; }

.g--margin-horizontal-key {
  margin-left: auto;
  margin-right: auto; }

.g--padding-3xs {
  padding: 4px; }

.g--padding-top-3xs {
  padding-top: 4px; }

.g--padding-bottom-3xs {
  padding-bottom: 4px; }

.g--padding-left-3xs {
  padding-left: 4px; }

.g--padding-right-3xs {
  padding-right: 4px; }

.g--padding-vertical-key {
  padding-top: 4px;
  padding-bottom: 4px; }

.g--padding-horizontal-key {
  padding-left: 4px;
  padding-right: 4px; }

.g--padding-2xs {
  padding: 8px; }

.g--padding-top-2xs {
  padding-top: 8px; }

.g--padding-bottom-2xs {
  padding-bottom: 8px; }

.g--padding-left-2xs {
  padding-left: 8px; }

.g--padding-right-2xs {
  padding-right: 8px; }

.g--padding-vertical-key {
  padding-top: 8px;
  padding-bottom: 8px; }

.g--padding-horizontal-key {
  padding-left: 8px;
  padding-right: 8px; }

.g--padding-xs {
  padding: 12px; }

.g--padding-top-xs {
  padding-top: 12px; }

.g--padding-bottom-xs {
  padding-bottom: 12px; }

.g--padding-left-xs {
  padding-left: 12px; }

.g--padding-right-xs {
  padding-right: 12px; }

.g--padding-vertical-key {
  padding-top: 12px;
  padding-bottom: 12px; }

.g--padding-horizontal-key {
  padding-left: 12px;
  padding-right: 12px; }

.g--padding-s {
  padding: 16px; }

.g--padding-top-s {
  padding-top: 16px; }

.g--padding-bottom-s {
  padding-bottom: 16px; }

.g--padding-left-s {
  padding-left: 16px; }

.g--padding-right-s {
  padding-right: 16px; }

.g--padding-vertical-key {
  padding-top: 16px;
  padding-bottom: 16px; }

.g--padding-horizontal-key {
  padding-left: 16px;
  padding-right: 16px; }

.g--padding-m {
  padding: 20px; }

.g--padding-top-m {
  padding-top: 20px; }

.g--padding-bottom-m {
  padding-bottom: 20px; }

.g--padding-left-m {
  padding-left: 20px; }

.g--padding-right-m {
  padding-right: 20px; }

.g--padding-vertical-key {
  padding-top: 20px;
  padding-bottom: 20px; }

.g--padding-horizontal-key {
  padding-left: 20px;
  padding-right: 20px; }

.g--padding-l {
  padding: 24px; }

.g--padding-top-l {
  padding-top: 24px; }

.g--padding-bottom-l {
  padding-bottom: 24px; }

.g--padding-left-l {
  padding-left: 24px; }

.g--padding-right-l {
  padding-right: 24px; }

.g--padding-vertical-key {
  padding-top: 24px;
  padding-bottom: 24px; }

.g--padding-horizontal-key {
  padding-left: 24px;
  padding-right: 24px; }

.g--padding-xl {
  padding: 32px; }

.g--padding-top-xl {
  padding-top: 32px; }

.g--padding-bottom-xl {
  padding-bottom: 32px; }

.g--padding-left-xl {
  padding-left: 32px; }

.g--padding-right-xl {
  padding-right: 32px; }

.g--padding-vertical-key {
  padding-top: 32px;
  padding-bottom: 32px; }

.g--padding-horizontal-key {
  padding-left: 32px;
  padding-right: 32px; }

.g--padding-2xl {
  padding: 40px; }

.g--padding-top-2xl {
  padding-top: 40px; }

.g--padding-bottom-2xl {
  padding-bottom: 40px; }

.g--padding-left-2xl {
  padding-left: 40px; }

.g--padding-right-2xl {
  padding-right: 40px; }

.g--padding-vertical-key {
  padding-top: 40px;
  padding-bottom: 40px; }

.g--padding-horizontal-key {
  padding-left: 40px;
  padding-right: 40px; }

.g--padding-3xl {
  padding: 48px; }

.g--padding-top-3xl {
  padding-top: 48px; }

.g--padding-bottom-3xl {
  padding-bottom: 48px; }

.g--padding-left-3xl {
  padding-left: 48px; }

.g--padding-right-3xl {
  padding-right: 48px; }

.g--padding-vertical-key {
  padding-top: 48px;
  padding-bottom: 48px; }

.g--padding-horizontal-key {
  padding-left: 48px;
  padding-right: 48px; }

.g--padding-4xl {
  padding: 100px; }

.g--padding-top-4xl {
  padding-top: 100px; }

.g--padding-bottom-4xl {
  padding-bottom: 100px; }

.g--padding-left-4xl {
  padding-left: 100px; }

.g--padding-right-4xl {
  padding-right: 100px; }

.g--padding-vertical-key {
  padding-top: 100px;
  padding-bottom: 100px; }

.g--padding-horizontal-key {
  padding-left: 100px;
  padding-right: 100px; }

.g--padding-5xl {
  padding: 140px; }

.g--padding-top-5xl {
  padding-top: 140px; }

.g--padding-bottom-5xl {
  padding-bottom: 140px; }

.g--padding-left-5xl {
  padding-left: 140px; }

.g--padding-right-5xl {
  padding-right: 140px; }

.g--padding-vertical-key {
  padding-top: 140px;
  padding-bottom: 140px; }

.g--padding-horizontal-key {
  padding-left: 140px;
  padding-right: 140px; }

.g--padding-6xl {
  padding: 150px; }

.g--padding-top-6xl {
  padding-top: 150px; }

.g--padding-bottom-6xl {
  padding-bottom: 150px; }

.g--padding-left-6xl {
  padding-left: 150px; }

.g--padding-right-6xl {
  padding-right: 150px; }

.g--padding-vertical-key {
  padding-top: 150px;
  padding-bottom: 150px; }

.g--padding-horizontal-key {
  padding-left: 150px;
  padding-right: 150px; }

.g--padding-7xl {
  padding: 200px; }

.g--padding-top-7xl {
  padding-top: 200px; }

.g--padding-bottom-7xl {
  padding-bottom: 200px; }

.g--padding-left-7xl {
  padding-left: 200px; }

.g--padding-right-7xl {
  padding-right: 200px; }

.g--padding-vertical-key {
  padding-top: 200px;
  padding-bottom: 200px; }

.g--padding-horizontal-key {
  padding-left: 200px;
  padding-right: 200px; }

.g--padding-8xl {
  padding: 250px; }

.g--padding-top-8xl {
  padding-top: 250px; }

.g--padding-bottom-8xl {
  padding-bottom: 250px; }

.g--padding-left-8xl {
  padding-left: 250px; }

.g--padding-right-8xl {
  padding-right: 250px; }

.g--padding-vertical-key {
  padding-top: 250px;
  padding-bottom: 250px; }

.g--padding-horizontal-key {
  padding-left: 250px;
  padding-right: 250px; }

.g--padding-9xl {
  padding: 300px; }

.g--padding-top-9xl {
  padding-top: 300px; }

.g--padding-bottom-9xl {
  padding-bottom: 300px; }

.g--padding-left-9xl {
  padding-left: 300px; }

.g--padding-right-9xl {
  padding-right: 300px; }

.g--padding-vertical-key {
  padding-top: 300px;
  padding-bottom: 300px; }

.g--padding-horizontal-key {
  padding-left: 300px;
  padding-right: 300px; }
