.l-columns{
    display: grid;

    &--3{
        grid-template-columns: repeat(3, 1fr);
    }

    // &--3{
    //     grid-template-areas: "izquierda centro derecha";
    // }

    // &__izquierda{
    //     grid-area: izquierda;
    // }

    // &__centro{
    //     grid-area: centro;
    // }

    // &__derecha{
    //     grid-area: derecha;
    // }

}