/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.g--pading-0 {
  padding: 0px; }

.g--pading-1 {
  padding: 1px; }

.g--pading-2 {
  padding: 6px; }

.g--pading-3 {
  padding: 12px; }

.g--pading-4 {
  padding: 20px; }

.g--marging-0 {
  margin: 0px; }

.g--marging-1 {
  margin: 1px; }

.g--marging-2 {
  margin: 6px; }

.g--marging-3 {
  margin: 12px; }

.g--marging-4 {
  margin: 20px; }

.g--color-pink {
  color: #F293DE; }

.g--color-green {
  color: #93F294; }

.g--color-orange {
  color: #FB8C21; }

.g--color-aqua {
  color: #21FBC0; }

.g--color-yellow {
  color: #F5FB21; }

.g--font-size-1 {
  font-size: 3px; }

.g--font-size-2 {
  font-size: 6px; }

.g--font-size-3 {
  font-size: 9px; }

.g--font-size-4 {
  font-size: 12px; }

.g--font-size-5 {
  font-size: 15px; }

.g--font-family-A {
  font-family: Arial; }

.g--font-family-H {
  font-family: Helvetica; }

.g--font-family-S {
  font-family: Sans-Serif; }

.g--box-shadow-m {
  box-shadow: none; }

.g--box-shadow-s {
  box-shadow: inherit; }

.g--box-shadow-l {
  box-shadow: initial; }

.g--box-shadow-xl {
  box-shadow: unset; }

.g--border-radious-1 {
  border-radius: 1px; }

.g--border-radious-2 {
  border-radius: 4px; }

.g--border-radious-3 {
  border-radius: 8px; }

.g--border-radious-4 {
  border-radius: 16px; }

.g--border-radious-5 {
  border-radius: 25px; }
