.l-main{
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera cabecera cabecera"
        "lateral-izq lateral-izq lateral-dcho lateral-dcho lateral-dcho"
        "pie pie pie pie pie";

    &--switch{
        display: grid;
        grid-template-areas:
        "cabecera cabecera cabecera cabecera cabecera"
        "lateral-dcho lateral-dcho lateral-dcho lateral-izq lateral-izq"
        "pie pie pie pie pie";
    }
}

.cabecera{
    grid-area: cabecera;
}

.lateral-izq{
    grid-area: lateral-izq;
}

.lateral-dcho{
    grid-area: lateral-dcho;
}

.pie{
    grid-area: pie;
}