@function getPadding($key){
    @return unquote(map-get($paddings, $key));
}

@function getPaddingKeys(){
    @return map-keys($paddings);
}

@function getColor($color, $tono){
    @return map-get(map-get($colors, $color), $tono);
}