.bola {
    margin-top: 10px;
    margin-left: 225px;
}

.caida-bola {
    animation: caida 9.4s infinite alternate ease-in;
}

@keyframes caida {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(260px);
    }

}