.c-cuadrado--rojo{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: transform 2s, background-color 2s;
    animation-fill-mode: both;
}

.c-cuadrado--rojo:hover{
    transform: rotate(45deg);
    background-color: aqua;
}
