.g--max-width {
    max-width: 1050px; 
}

.g--margin-auto {
    margin: auto; 
}
  
.l-horizontal {
    display: flex;
    flex-direction: row; 
}

.c-cabecera{
    display: flex;
    justify-content: space-between; 
}

.c-cabecera__item{
    font-size: 15px;
    color: black;
    padding: 8px 0px;
    margin-right: 48px;
}

.c-menu-principal {
    background-color: white; 
}

.c-menu-principal__logo{
    padding: 8px 0px;
    margin-right: 48px;
}

.c-menu-principal__item {
    color: #251fe1;
    padding: 8px 0px;
    margin-right: 48px; 
    font-size: 22px;
}

.c-button {
    border: none;
    color: #1F2228;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.c-button--primario {
    background-color: #107DB7;
    color: #FFFFFF;
    border-radius: 5px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: sans-serif; 
}