.c-input{
    background-color: white;
    transition: border-radius, background-color, box-shadow;
    transition-duration: 1s;
}

.c-input:hover{
    border-radius: 10px;
    background-color: cadetblue;
    box-shadow: 0 4px 8px rgb(39, 191, 211);
}