$blue:#066CF7;
$orange: #ec8c34;
$white: #FFFFFF;
$red: #c43434;


$blue_oscuro: darken($blue, 10%);
$orange_oscuro: darken($orange, 10%);
$red_oscuro: darken($red, 10%);


$margin: 10px;

$border-radius: 2px;

$border: 1px solid;
