$keys: map-keys($texto);

@each $nameEstilo in $keys{
    $tipoTexto: map-get($texto, $nameEstilo);
    $font-family: map-get($tipoTexto, "font-family");
    $font-size: map-get($tipoTexto, "font-sizes");
    
    $keys-fonts-sizes: map-keys($font-size);

    @each $key-font-size in $keys-fonts-sizes{
        $clave: map-get($font-size, $key-font-size);
        @debug "aa "#{$clave};
        .g--#{$nameEstilo}{
            font-family: $font-family;
            font-size: nth($clave, 1);
        }
    }
}