.c-cuadrado{
    width: 200px;
    height: 200px;
    margin-bottom: 400px;
    margin-left:200px;
    background-color: chocolate;
    border: 8px solid cyan;
    cursor: pointer;
    transition: background-color 3s, box-shadow 4s;
}

.c-cuadrado:hover{
    background-color: hotpink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}