.c-cuadrado2{
    width: 100px;
    height: 100px;
    background: #f92672;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}

.c-cuadrado2:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}