.c-cuadrado3{
    width: 100px;
    height: 100px;
    margin: 50px auto 0;
    background: #df8a1c;
    transition: width 3s, height 3s, margin 3s;
}

.c-cuadrado3:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}