.c-cuadrado-centrado{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: red 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 100px);


&-grande{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 200px);

}
}
.c-cuadrado-centrado:hover{
    cursor: pointer;
    transform: scale(1.25, 1.25);
}

