.c-table{
}
.c-table--border-shadow{
    border: red 1px solid;
    box-shadow: 2px 4px 2px 4px ;
}

.c-table__head{
    font-size: getFontSize(35);
}

.c-table__thead--color-dif {
    background-color: blueviolet;
}