@function getBorderColor(){
    $border-color : map-get(map-get($estilos, $estilo),("color-borde"));
    @return $border-color;
}

@function getBorderRadius(){
    $border-radius: map-get(map-get($estilos, $estilo),("esquina-redondeada"));
    
    @if($border-radius == true){
        @return 6px;
    } @else{
        @return 0px;
    }
}

@function getPadding(){
    $padding: map-get(map-get($estilos, $estilo),("paddings"));
    $top-bottom: nth($padding, 2);
    $left-right: nth($padding, 1);
    @return $left-right $top-bottom;
}