@mixin estilosss($estilo){
    -webkit-border-color: getBorderColor();
    -moz-border-color: getBorderColor();
    border-color: getBorderColor();

    -webkit-border-radius: getBorderRadius();
    -moz-border-radius: getBorderRadius();
    border-radius: getBorderRadius();

    -webkit-padding: getPadding();
    -moz-border-color: getPadding();
    padding: getPadding();
}