.c-cuadrado{
    background-color: white;

    &--blue{
        width: 200px;
        height: 200px;
        background-color: blue;
    }

    &--green{
        width: 200px;
        height: 200px;
        background-color: green;
    }

    &--bigblue{
        width: 400px;
        height: 400px;
        background-color: blue;
    }

    &--biggreen{
        width: 400px;
        height: 400px;
        background-color: green;
    }

    &--tamanyo-porcentaje{
        width: 10%;
        height: 10%;
        background-color: red;
    }

    &--tamanyo-vw{
        width: 10vw;
        height: 10vw;
        background-color: red;
    }

}