$border-color: (
    "red": "#FF0000",
    "green": "#00FF00",
    "blue": "#0000FF",
    "yellow": "#FFFF00",
    "cyan": "#00FFFF"
);

// $red: #FF0000;
// $green: #00FF00;
// $blue: #0000FF;
// $yellow: #FFFF00;
// $cyan: #00FFFF;


// $border-radius: (
//     $red : "6px",
//     $green : "6px",
//     $blue : "6px",
//     $yellow : "6px",
//     $cyan : "6px"
// );

// $border-radius: (
//     "imagen1" : #FF0000,
//     "imagen2" : #00FF00,
//     "imagen3" : #0000FF,
//     "imagen4" : #FFFF00,
//     "imagen5" : #00FFFF
// );