.c-table{

    &--border-shadow{
        border: red 1px solid;
        box-shadow: 0 15px 35px black;
    }

    &__head{
        background-color: white;

        &--pink{
            background-color: pink;
        }
    } 

}