.l-columns {
    display: grid;
    
    &--2{
        grid-template-areas: "izquierda derecha";
    }
    
        &__izquierda{
        grid-area: izquierda;
        }
        &__derecha{
        grid-area: derecha;
        }
    
    
    
    
    &--3{
        grid-template-areas: "izquierda centro derecha";
    }
    
        &__izquierda{
        grid-area: izquierda;
        }
        &__centro{
            grid-area: centro;
            }
    
        &__derecha{
        grid-area: derecha;
        }


}



