.l-extremos{
    display: grid;
    grid-template-areas: 
    "l-extremos__izquierda l-extremos__derecha";
    grid-template-columns: 50% 50%;

    &__izquierda{
        border: 1px solid black;
        grid-area: "l-extremos__izquierda";
    }
    &__derecha{
        border: 1px solid black;
        grid-area: "l-extremos__derecha";
        padding-left: 50%;
        display: flex;
        align-items: center;
    }
}