.l-page{
    display: grid;
    grid-template-areas: 
    "l-page__head",
    "l-page__body",
    "l-page__footer";
    &__head{
        grid-area: "&__head";
    }
    &__body{
        grid-area: "&__body";
    }
    &__footer{
        grid-area: "&__footer";
    }
}