.coche{
    height: 300px;
    width: 350px;
}

.mover-coche{
    animation-name: mover;
    animation-duration: 7.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
 /*aqui cambiar el timing function a linear es el ejercicio 7  */
}

@keyframes mover {
    100%{
        transform:  translateX(1550px);
    }
}