@function getMargin($key){
    @return map-get($margins,""+$key);
}

@function getMarginKeys(){
    @return map-keys($margins);
}

@function getPadding($key){
    @return map-get($paddings,""+$key);
}

@function getPaddingKeys(){
    @return map-keys($paddings);
}

@function getFontSize($key){
    @return map-get($font-sizes,""+$key);
}

@function getBorderRadius($key){
    @return map-get($borders,""+$key);
}
