$black: #000000;
$white: #FFFFFF;
$gray: #808080;
$gray_light: #E9E1DF;
$blue: #1074ec;

$paddings: (
   "3xs": 4px, 
   "2xs": 8px,
   "xs": 12px,
   "s": 16px,
   "m": 20px,
   "l": 24px,
   "xl": 32px,
   "2xl": 40px,
   "3xl": 48px,
   "4xl": 64px,
   "5xl": 80px,
   "6xl": 96px
);

$margins:map-merge(
   $paddings,
   ("auto":auto)
);

$font-sizes: (
   "3xs": 12px, 
   "2xs": 14px,
   "xs": 16px,
   "s": 18px,
   "m": 20px,
   "l": 24px,
   "xl": 30px,
   "2xl": 36px,
   "3xl": 48px
);

$borders: (
   "3xs": 0px, 
   "2xs": 2px,
   "xs": 4px,
   "s": 6px,
   "m": 8px,
   "l": 16px,
   "xl": 24px,
   "2xl": 36px,
   "3xl": 48px
);