// Mi solución

// @for $i from 0 to 12{
//     .l-columns--#{$i}{
//         display: grid;
//         grid-template-columns: repeat($i, 1fr);
//     }
// }

// Solución Lorenzo

$max-columns: 12;

.l-columns{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @for $i from 0 to $max-columns{
        &--#{$i+1}{
            grid-template-columns: repeat($i+1, 1fr);
        }
    }
}