.c-cuadrado{
    width: 100px;
    height: 100px;
    background-color: black;

    &--blue{
        width: 200px;
        height: 200px;
        background-color: blue;
    }

    &--green{
        width: 200px;
        height: 200px;
        background-color: green;
    }

    &--bigblue{
        width: 400px;
        height: 400px;
        background-color: blue;
    }

    &--biggreen{
        width: 400px;
        height: 400px;
        background-color: green;
    }

    &__tamanyo-porcentaje{
        width: 10%;
        height: 10%;
        background-color: red;
    }

    &__tamanyo-vw{
        width: 10vw;
        height: 10vw;
        background-color: red;
    }

}