.c-coche{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 20px;
    top: 40px;

    &--animado{
        animation-name: mover-coche;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-duration: 8s;
    }
}

@keyframes mover-coche{
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(1250px);
    }
}