@each $keyBreak in getBreakPointKeys(){
    $column-value: map-get($columns, $keyBreak);
    @media (min-width: getBreakPoints($keyBreak)){
        .l-columns--#{$column-value}\@#{$keyBreak}{
            display: grid;
            grid-template-columns: repeat($column-value, 1fr);
        }
    }
} 