// Función para obtener valores

@function getBorderWidth($key){
  @return unquote(map-get($border-width, ""+$key));
}

// Función para obtener claves

@function getBorderWidthKeys(){
  @return map-keys($border-width);
}

// Función para obtener valores

@function getTamanyoPantalla($key){
  @return unquote(map-get($tamanyo-pantalla, ""+$key));
}

// Función para obtener claves

@function getTamanyoPantallaKeys(){
  @return map-keys($tamanyo-pantalla);
}
