$border-width:(
    "l": "2px",
    "m": "4px",
    "s": "6px"
);

$blue: #07e1fb;
$green: #07fb55;

$blue_darken: darken($blue, 30%);
$green_darken: darken($green, 20%);

$black: #000000;
$white: #FFFFFF;