$border-width:(
    "S":"2px",
    "M":"4px",
    "L":"8px",
);

$blue:#00D1FF;
$blue_oscuro:darken($blue, 30%);

$green:#55FF00;
$green_oscuro:darken($green, 30%);

$white:#FFFFFF;
$black:#000000;

$border-radius: 2px;
$margin: 10px;