$keys: map-keys($colorines);

@each $nameColor in $keys{
    $lista: map-get($colorines, $nameColor);
    
    @each $keyColor, $valueColor in $lista{
        .g--colorines-#{$nameColor}-#{$keyColor}{
            color: $valueColor
        }
    }
}