$keys: map-keys($colors);

@each $nameColor in $keys{
    $listadoColores: map-get($colors, $nameColor);
    
    $tamanyoColores : length($listadoColores);

    @for $i from 0 to $tamanyoColores{
        .g--colors-#{$nameColor}-#{$i+1}{
            color: nth($listadoColores, $i+1);
        }
    }
}