$keys: map-keys($texto);
// @debug "keyyy: " #{$keys}; // parrafo, titulo

@each $nameFont in $keys{
    $lista: map-get($texto, $nameFont);
    // @debug "listaaa: "#{$lista};

    $font-family: map-get($lista, "font-family");
    // @debug "familaaa: "#{$font-family};

    $font-sizes: map-get($lista, "font-sizes");
    // @debug "sizesss: "#{$font-sizes};

    $keysFontSizes: map-keys($font-sizes);
    // @debug "keysSizesss: "#{$keysFontSizes};

    @each $keyFontSize in $keysFontSizes{

        $valueFontSizes: map-get($font-sizes, $keyFontSize);

        .g--#{$nameFont}-#{$keyFontSize}{
            font-family: $font-family;
            font-size: $valueFontSizes;
        }
    } 
}