$keys: map-keys($font-size);
// @debug "keysss: " #{$keys}; // 3s, 2s, 1s, 0, 1l, 2l

@each $nameFont in $keys{
    $valor: map-get($font-size, $nameFont);
     // @debug "valorrr: " #{$valor}; // 9.25px, 11.11px, 13.33px....
        .g--font-size-#{$nameFont}{
            font-size: getFontSize($nameFont);
        }
    }