.c-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: getWidth("m");
    border: getBorder("l") solid getColor("negro", 1);
    border-radius: getBorderRadius("s");

    &--changeBorder{
        border: getBorder("xl") solid getColor("amarillo", 6);
    }

    &__title{
        color: getColor("rojo", 5);
        font-weight: bold;
    }

    &__subtitle{
        color: getColor("rojo", 4);
    }

    &__image{
        width: getWidth("s");
        height: getHeight("l");
    }

    &__text{
        color: getColor("gris", 4);
        text-align: center;
    }

}