.c-button{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: getColor("naranja", 5);
    color: getColor("blanco", 1);
    border: getBorder("m") solid getColor("naranja", 8);
    width: geWidth("s");
    border-radius: getBorderRadius("l");
    cursor: pointer;
}