@each $key in getBorderWidthKeys(){
    .g--border-width-#{$key}{
        border-width: getBorderWidth($key);
    }
}

@each $name in getBreakPointKeys(){
    @media(min-width: getBreakPoint($name)){
        @each $key in getBorderWidthKeys(){
            .g--border-width-#{$key}\@#{$name}{
                border-width: getBorderWidth($key);
            }
        }
    }
}

