@function getWidth($key){
    @return unquote(map-get($widths, ""+$key));
}
  
@function getWidthKeys(){
    @return map-keys($widths);
}  

@function getBreakPoint($key){
    @return unquote(map-get($break-points, ""+$key));
}
  
@function getBreakPointKeys(){
    @return map-keys($break-points);
}  